[2020-12-08 00:44] extrawurst commented on #394
@pm100 was this fixed by https://github.com/extrawurst/gitui/pull/431 ?

[2020-12-08 00:45] pm100 commented on #394
yes

[2020-12-08 01:05] extrawurst commented on #394
fixed in #431

[2020-12-08 01:05] #394 closed

[2020-12-08 01:09] extrawurst commented on #436
slightly better but we need a longterm solution for this:

<img width="1900" alt="image" src="https://user-images.githubusercontent.com/776816/101423858-3f4e2f00-38fa-11eb-806b-3db25c13d225.png">

<img width="1896" alt="image" src="https://user-images.githubusercontent.com/776816/101423893-4f660e80-38fa-11eb-944b-ce8a1ce7d9a7.png">

[2020-12-09 22:49] extrawurst commented on #275
I am still on this for 0.11

[2020-12-11 20:05] WizardOhio24 opened #443 "Feature: GitUI splash screen"
**Is your feature request related to a problem? Please describe.**
It would be cool if GitUI opened up with a splash screen (that just displays for a few seconds before going into the actual GitUI application).

**Describe the solution you'd like**
Essentially GitUI should appear in ASCII blocks in the center of the terminal for 1-4 seconds(whatever works best), then should transition to the appli

[2020-12-11 22:01] nerdrew opened #444 "Support the various "ignore whitespace" git diff flags"
**Is your feature request related to a problem? Please describe.**
Small changes that alter the indentation look like huge changes without `--ignore-all-space` or `--ignore-space-changes` in `git diff`.

**Describe the solution you'd like**
I'd like a key that toggles diff views between the various ignore space options (don't ignore, ignore all space, and ignore space changes). Ideally it would be

[2020-12-11 22:25] extrawurst commented on #444
I think that could be done. would you expect a diff to switch back to not ignoring whitespaces again once you change a file or keep this option until you explicitly change it again?

also how would we indicate in what mode the current diff view is?

[2020-12-11 22:28] extrawurst commented on #443
yeah I am also not a fan of these splash screens. also the version of the tool can be found via cmd line arg `--version` or in the help popup

[2020-12-11 23:18] nerdrew commented on #444
I'm not sure for either question. Probably keep the setting until I change it again? Note: ignoring whitespace can have weird effects on staging / unstaging changes. Some kind of indicator in the bottom bar or at the top in the `Diff: <filename>` area... FWIW I almost always have "ignore whitespace" set when I'm reviewing PRs (the setting is easier to use in bitbucket than in github).

[2020-12-12 02:22] pm100 commented on #440
i will look at this one

[2020-12-12 12:27] extrawurst opened #445 "improve performance in debug build"
right now, debug is super slow primarily due to the utf8 encoding being slow when tut-rs is rendering text.

we can play around with profile overwrites to make certain dependencies optimised even in our local dev env:
https://github.com/rust-lang/cargo/issues/1359#issuecomment-619488836

[2020-12-12 13:12] #445 closed

[2020-12-12 21:54] pm100 commented on #440
this is a crossterm bug, their simple test app doesnt work under msys. I will report it.

[2020-12-15 21:41] focusaurus opened #447 "Seeing inaccurate adds/deletes in status"
**Describe the bug**

I have one particular large/old git repo that consistently shows many files as deleted/added in the status pane when they are not modified and no other git tool shows any changes.

The files are on disk and in the git repo. The gitui diff panel shows them as 0 bytes but they are not zero bytes on disk. They are normal files with code in them.

**To Reproduce**
Steps to reprod

[2020-12-15 21:58] extrawurst commented on #447
Wow that’s a curious case. Can you make sure to compare that with what gitkraken shows you? They use libgit2 aswell and that makes sure it’s really on us to sort that out.

if it’s just us we have a Good chance to find the problem.

[2020-12-15 23:22] focusaurus commented on #447
OK so I installed gitkraken and it whines about not supporting private repos in the free version, but behind the warning I can see in the status that it too seems to think there are modified files. So maybe its something with libgit2?

![gitkraken-status-2020-12-15 at 16-19-10](https://user-images.githubusercontent.com/482377/102284645-c0588800-3ef1-11eb-822d-8719411390fe.png)

[2020-12-16 08:28] extrawurst commented on #447
Sorry I am not using gitkraken myself, I just thought its the most prominent user of the same library. Yeah it could mean that it is a problem in `libgit2` itself. I think there are other actual free tools using the lib. but I need to dig deeper for that

[2020-12-16 09:06] extrawurst commented on #447
@focusaurus apparently GitUP (seehttps://github.com/libgit2/libgit2/issues/4679) uses libgit2 aswell, maybe u can try that one to compare

[2020-12-16 15:38] #281 closed

[2020-12-16 15:45] yanganto commented on #281
PR is waiting, the bot is not smart.

[2020-12-16 18:05] laktak opened #448 "vim key bindings don't work, shows no error"
**Describe the bug**
When you paste your sample for the vim keybindings (https://github.com/extrawurst/gitui/blob/master/assets/vim_style_key_config.ron) to `~/.config/gitui/key_config.ron`
- gitui shows no error
- has no errors in the log (which took me a while to find btw)
- continues to use the default keybindings

**To Reproduce**
see above

**Expected behavior**
gitui should show an error if

[2020-12-16 20:14] extrawurst commented on #448
@laktak where is your `XDG_CONFIG_HOME` pointing to?

[2020-12-16 20:28] laktak commented on #448
I don't have it set.

It is using the configuration though. For example this works (`~/.config/gitui/key_config.ron`):

[code]

If I remove the last line (`tab_toggle_reverse_windows`) it ignores everything as described above.

[2020-12-16 23:48] focusaurus commented on #447
OK GitUP is now the 3rd GUI to show the same set of spurious changes in the work tree. I guess it's a bug there but probably useless to file until I have some way a maintainer could reproduce.

[2020-12-16 23:48] #447 closed

[2020-12-16 23:56] khoan opened #449 "Search commits by sha"
**Is your feature request related to a problem? Please describe.**
Unable to view a commit by its sha.

**Describe the solution you'd like**
Hit s, then enter sha

**Describe alternatives you've considered**
Using Up/Down, PageUp/PageDown is cumbersome.

**Additional context**
Nice work! Thanks.

[2020-12-17 10:07] hasufell commented on #59
Here is some activity.

[2020-12-17 18:31] focusaurus commented on #447
I got a tip to check for whitespace differences from one of the libgit2 maintainers but so far I don't see evidence of that.

[2020-12-18 10:05] fcying commented on #448
got the same problem.
I test in wsl2(debian10).
$XDG_CONFIG_HOME is empty.

[2020-12-19 15:44] extrawurst commented on #449
@khoan thanks for your interest in gitui. this feature is on my list of long term goals aswell!

[2020-12-19 15:50] extrawurst commented on #448
ok that key got removed in f92363a0cfcc533cbbdd745fb42b9003a899a0d4 - let me see how to make this more easy to debug

[2020-12-19 16:01] #448 closed

[2020-12-19 16:03] extrawurst commented on #448
so the conclusion of this is:
1. you downloaded the key file from master which was not compatible with 0.10 anymore
2. the key binding loading indeed failed to log when it had an error loading

now we log errors and I annotated the keybindings to clarify the change, making it obvious that the removed key is needed in previous versions

[2020-12-19 18:40] #405 closed

[2020-12-19 20:25] extrawurst commented on #247
![Screenflick Movie 87](https://user-images.githubusercontent.com/776816/102698827-992aef00-4240-11eb-869d-a7f0af59292f.gif)

[2020-12-19 20:25] #247 closed

[2020-12-19 20:29] extrawurst commented on #313
@pm100 this was fixed in #386 - right?

[2020-12-20 15:01] #385 closed

[2020-12-20 15:48] #275 closed

[2020-12-20 15:50] extrawurst opened #453 "prune local branches if remote branch got removed"
when in the branch list I want to be able to cleanup local ~~tracking~~ branches of remote branches that were removed on the remote

[2020-12-20 22:59] pm100 commented on #313
@extrawurst yes

[2020-12-20 23:14] #313 closed

[2020-12-21 14:22] dm9pZCAq opened #459 "segfault on Gentoo"
**Describe the bug**
_segfault_ when trying to launch

**To Reproduce**
just run `gitui`

**Screenshot**
![img](https://0x0.st/iCMr.png)

**Context**
 - installed with `cargo install gitui`
 - OS: Gentoo x86_64
 - GitUI Version: 0.11.0
 - Rust version: 1.47.0

**Additional context**
when trying to run with `--logging` log file is empty
but `--help` show help info without segfault

 - [strace log](

[2020-12-21 14:26] extrawurst commented on #459
hi @dm9pZCAq I personally do not run gentoo. can you build a debug build and check if it is a little more telling? also what I find weird is that the trace looks like you are linking against `libgit2` dynamically, that should actually not be the case

[2020-12-21 14:41] extrawurst commented on #459
@dm9pZCAq the repo you try to run in is not public, I assume?

[2020-12-21 14:53] dm9pZCAq commented on #459
repo is public

but it fails even if gitgui is outside of repo

[2020-12-21 14:54] extrawurst commented on #459
smells like a gentoo specific issue then :(

[2020-12-21 14:54] extrawurst commented on #459
did you check if the last release had the same problems?

[2020-12-21 15:11] dm9pZCAq commented on #459
in `void linux` it is also dynamic linked with libgit (and running without segfault)
![libgit](https://0x0.st/iCMB.png)

only difference in rust version (void: `1.48`)

also when i tried to compile with `rust 1.46` there are error in unstable  feature
![unstable](https://0x0.st/iCMM.png)

[2020-12-21 16:18] extrawurst commented on #459
yeah you need a the latest stable rust

dynamically linked libgit is not tested or maintained.

[2020-12-21 17:17] dm9pZCAq commented on #459
I took a closer look at the strace and realized that the problem is in the ssl, namely in libressl

and when i removed vendored-openssl feature [there](https://github.com/extrawurst/gitui/blob/master/asyncgit/Cargo.toml#L16) it is worked without segfault

but what's strange in the void is also libressl and everything works with vendored-openssl feature

[2020-12-21 19:56] dm9pZCAq commented on #459
may be not the best, but [there is](https://notabug.org/dm9pZCAq/dm9pZCAq-overlay/commit/09610097a7952373ac719f803a6607c24f46af88#diff-38ccb4d4845bfee7d191b6c1797a2b982a79cd6R164) my solution

[2020-12-21 19:56] #459 closed

[2020-12-22 08:01] yurivict opened #461 "Build fails: cannot find function `copy_string` in module `crate::clipboard`"
Version 0.11.0 fails to build on FreeBSD 12.2 with rust-1.48.0:

[code]

[2020-12-22 08:47] extrawurst commented on #461
<img width="530" alt="image" src="https://user-images.githubusercontent.com/776816/102868595-a7dcf600-443a-11eb-8aa2-d9455fa7fa5e.png">
seems that does not cut it on freebsd

[2020-12-22 08:48] extrawurst commented on #461
@yurivict can you please test branch https://github.com/extrawurst/gitui/tree/freebsd-fix ?

[2020-12-22 09:06] yurivict commented on #461
Now it fails like this:
[code]

[2020-12-22 09:25] extrawurst commented on #461
next try: https://github.com/extrawurst/gitui/commit/fbba2d01c9984b1f133d83c6c02ad5c099fd5794

[2020-12-22 09:50] yurivict commented on #461
fbba2d0 works.

[2020-12-22 09:58] extrawurst commented on #461
Any chance you might be interested in contributing integrating FreeBSD into the CI to prevent this in the future?

[2020-12-22 10:15] yurivict commented on #461
It looks like GitHub CI currently only supports Linux, MacOS, and Windows:
https://github.com/features/actions

[2020-12-22 11:48] extrawurst commented on #461
@yurivict can you boot up freebsd inside docker? then it should be doable in GitHub Actions

[2020-12-22 14:52] #461 closed

[2020-12-22 17:36] yurivict commented on #461
AFAIK docker doesn't support FreeBSD.

[2020-12-22 17:50] extrawurst commented on #459
@dm9pZCAq its a stretch but maybe what you observed is due to: https://github.com/rust-lang/git2-rs/issues/645#issuecomment-748627220 - can you check if with the new git2-rs release you still have those issues?

[2020-12-23 09:06] jakoss opened #463 "CD pipeline for chocolatey"
I noticed that gitui 0.11.0 wasn't uploaded to chocolatey automatically. Is there such a step in CD pipline? If not - it might be worth to do that. Chocolatey is package manager of choice for a lot of us :)

[2020-12-23 09:32] extrawurst commented on #463
I actually do not maintain the choice builds. I think @nils-a brought it there. maybe he can give some input on that

[2020-12-23 09:36] nils-a commented on #463
It was uploaded automatically, but it's still in moderation.

https://chocolatey.org/packages/gitui/0.11.0

Unmoderated packages can be installed using the `-prerelease` switch, if I'm not mistaken.

[2020-12-23 09:36] jakoss commented on #463
Ok, thanks for the info!

[2020-12-23 09:36] #463 closed

[2020-12-23 10:42] nils-a commented on #463
@jakoss
For completeness:
* The source for the package is at https://github.com/nils-a/au-packages/tree/main/gitui
* The "pipeline" is at https://github.com/nils-a/au-packages/actions?query=workflow%3A%22Update+Packages%22 and runs daily at 7:35 am UTC (That means, if two releases are made in one day I'll only publish the newest release availabe at 7:35 - like it happende with the `0.11.0-rc1` & `

[2020-12-25 05:37] savchenko opened #464 "Enter label"
**Describe the bug**
Depending on the font used, Enter label ("left arrow") can be hard to comprehend.

**To Reproduce**
1. Open  `gitui`
2. What does this arrow mean?
![image](https://user-images.githubusercontent.com/300146/103120777-1afb9c00-46c9-11eb-81dc-ccb70ed67e89.png)
Is this backspace? Left arrow on the keyboard?
3. No, it's Enter.

**Expected behavior**
Perhaps using "[Enter]" would mak

[2020-12-25 11:53] extrawurst commented on #464
I get your point, but I like the reduced verbosity of those symbols. of course it requires them to be universally clear in the various fonts. how does the following work for you?

Can you build from `better-enter-symbol` branch and let me know if this renders the same for you?

<img width="85" alt="image" src="https://user-images.githubusercontent.com/776816/103134140-50938b80-46af-11eb-9e25-d8974

[2020-12-25 17:41] dm9pZCAq commented on #459
no

after:
[code]
i got the same segfault

[2020-12-26 04:19] savchenko commented on #464
Not quite:

![image](https://user-images.githubusercontent.com/300146/103145378-6e352380-4789-11eb-808f-10dbcba79053.png)

The font is "Consolas".

[2020-12-26 09:46] extrawurst commented on #464
It is not supposed to be left/right its `top`/`bottom`:
<img width="268" alt="image" src="https://user-images.githubusercontent.com/776816/103149174-78462a80-4767-11eb-925c-1604f2babf71.png">

[2020-12-26 09:52] extrawurst commented on #464
The problem with _consolas_ is that I can't seem to get the original on my Mac, the remakes I can find don't even contain the characters you see, so I am kinda lost here :(

So longterm we could consider customisability of those texts/symbols (they are hardcoded now), short-term I would suggest to try a different terminal font (my fave is [JetBrains Mono](https://www.jetbrains.com/lp/mono/))

[2020-12-26 10:31] extrawurst opened #465 "allow customising key symbols"
#464 showed that we should allow overwriting/customizing the symbols we use to show key codes. this can be added similarly to our general key configuration in `keys.rs` see `get_key_symbol`

[2020-12-26 10:35] extrawurst commented on #464
@savchenko let me know if you agree we can close this in favour of #465 ?

[2020-12-26 11:01] savchenko commented on #464
Absolutely, sounds like the best decision possible.

[2020-12-26 11:38] #464 closed

[2020-12-27 06:19] austinbutler opened #466 "Commit message character count and warning"
**Is your feature request related to a problem? Please describe.**

It's hard to tell how long my commit message is.

**Describe the solution you'd like**

Basically mimic VS Code, where you can set a warning after a certain number of characters.

![image](https://user-images.githubusercontent.com/354741/103165077-40230400-47c8-11eb-9f1b-3b2369596e32.png)

**Describe alternatives you've considered

[2020-12-27 13:12] #466 closed

[2020-12-27 13:12] extrawurst commented on #466
![Screenflick Movie 88](https://user-images.githubusercontent.com/776816/103171565-91c1a200-484d-11eb-820f-73bafa272bce.gif)

[2020-12-27 13:16] extrawurst commented on #466
@austinbutler regarding the warning, I am wondering if there is a general rule of what is too long and what is not?

[2020-12-27 17:34] austinbutler commented on #466
@extrawurst thanks for the blazing fast turnaround!

The most common AFAIK is the [50/72 guideline](https://stackoverflow.com/questions/2290016/git-commit-messages-50-72-formatting). 50 or less character summary, blank line, then 72 characters or less description.

[2020-12-29 17:23] extrawurst commented on #436
I hope the better defaults improve things. but making all panes dynamically sizeable is a huge undertaking especially because `tui-rs` is not made for this currently. so I will close this for now

[2020-12-29 17:23] #436 closed

[2020-12-30 09:37] astanoszek opened #475 "Use GIT_AUTHOR_EMAIL and GIT_AUTHOR_NAME environment variables during commit"
One of the ways to provide author name of the commiter in git is to use the GIT_AUTHOR_NAME and GIT_AUTHOR_EMAIL environment variables.

It would be great if gitui used them also.

[2020-12-30 09:55] extrawurst commented on #475
Hi @astanoszek thanks for your interest in gitui. I found those in the documentation: https://git-scm.com/book/en/v2/Git-Internals-Environment-Variables

did not even know they existed 🙈 can you give me a Little more insight when/why these are preferred over the got config?

[2020-12-30 10:09] astanoszek commented on #475
Git config is great if you work with local repository. In my case I sometimes work in repository on the remote machine, which is shared by few people. In such a case I set the environment variable in my .ssh key and commit using my name.

I know that it is questionable practice and everybody should use local branches but you know - there are specific cases.

[2021-01-06 07:34] savchenko opened #478 "Warn when commit message is suspiciously long"
**Is your feature request related to a problem? Please describe.**
Users might write extra-long commit messages which frustrate variety of workflows.
Consider someone pushing the following:
![image](https://user-images.githubusercontent.com/300146/103740901-06fc5680-5048-11eb-8ebe-9095d9810061.png)

**Describe the solution you'd like**
- Limit 1st line to 50 symbols
- Keep 2nd line empty
- Wrap th

[2021-01-06 09:46] dessasin opened #479 "Aur package broken."
**Describe the bug**
Arch linux package cannot be install,

**Expected behavior**
 rust compiling giving error on src/ui/mod.rs:16:9

[code]
## cargo build --release --locked --verbose;

[code]
**Context (please complete the following information):**
 - OS/Distro + Version: Arch Linux
 - GitUI Version [`0.11.0`]
 - Rust version: [`1.49.0-1`]

[2021-01-06 09:53] extrawurst commented on #479
This error actually looks like it’s not the recent rust Version you try to build with🤔
Maybe this old thread helps: https://github.com/extrawurst/gitui/issues/186

[2021-01-06 10:19] dessasin commented on #479
Yes, the problem is with the outdated Rust version. I tried my previous solution on the old issue and it worked smoothly.Perhaps the update rustup command should be included in the package install file.

### Here is the solution from [#186 ](https://github.com/extrawurst/gitui/issues/186#issuecomment-655797364)

[code]

[2021-01-06 10:19] #479 closed

[2021-01-07 19:24] cdecompilador commented on #443
Maybe here would be a good place to put the `gitui (version)` or something similar like showing the names of the contributors.

![image](https://user-images.githubusercontent.com/36774000/103935008-3da89e80-5126-11eb-8378-a0a042d0b025.png)

[2021-01-07 20:56] extrawurst commented on #443
@cdecompilador i am grateful for your interest in this topic but I am unclear 1) how you want to fit the contributors in the marked area and 2) why it matters from a user perspective?

A comparison: I don’t see any way to print out all contributors of git using any command on the git cli either - iff a user is interested in knowing the people behind the project the git repository is containing tha

[2021-01-08 13:14] #302 closed

[2021-01-08 16:33] Th3Whit3Wolf opened #480 "[Feature Request] flag to choose theme"
**Is your feature request related to a problem? Please describe.**

I have set my linux environment up to dynamically change the colorscheme, as much as possible,  between light and dark mode. With programs that allow you to set the colorscheme it's pretty simple to setup.

**Describe the solution you'd like**

Add a flag
[code]

**Additional context**
I can submit a PR if you are open to this ide

[2021-01-11 09:54] ser-drephs commented on #59
It's already possible to select the lines using <kbd>Shift</kbd>+<kbd>Arrow Down/Up</kbd> on Windows. Would be nice if one could stage selected lines using <kbd>Space</kbd>.

[2021-01-11 09:59] extrawurst commented on #59
@ser-drephs unfortunately its not trivial and did not bubble up high enough apparently for anyone who cares to go forward providing a PR :(

[2021-01-11 16:05] extrawurst opened #483 "more tag support"
right, now I can only create a tag.

lets add a popup or tab (not sure yet) that allows:

* list all tags (mark the ones not pushed to remote)
* delete a tag
* fetch tags

[2021-01-11 16:14] extrawurst opened #484 "file blame"
in our file trees we should be able to jump into a file blame mode known from all major git GUI tools.

for a first mvp it is probably enough to scroll by line and show the hash + author + date each line in a split-screen side-by-side.

from each line we should allow opening the matching commit details.

[2021-01-11 16:19] extrawurst opened #485 "merging (with conflicts)"
this will be a multistep process:

* non-ff merging will put the repo in conflicted state (<<<< in the files)
* user resolved conflicts outside of `gitui`
* now we provide means to put repo into resolved state
* committing from this state should auto fill the commit msg with the typical merge commit text
* at any step we need to provide means to abort/revert the ongoing merge

[2021-01-11 16:34] extrawurst opened #486 "crash on push when no origin is defined"
[code]

[2021-01-12 10:02] extrawurst opened #490 "panic when deleting a file that is currently diffed"
[code]

[2021-01-12 15:00] extrawurst opened #492 "push to specific remote"
followup to #491:

in case of no remote being named `origin` and multiple remotes being known we currently pick the *first*.
we should rather open a popup and have the user select from the list of remotes.

[2021-01-12 15:17] #486 closed

[2021-01-13 17:19] dgrine commented on #228
+1

[2021-01-13 17:35] extrawurst commented on #228
#269 actually fixes this, but having reliable tests for this is a pickle, but hey lets just bite that bullet

[2021-01-14 13:44] ffes commented on #453
You are referring to the tracking branches, but what about the "real" local feature branches?

Did you know about the setting `fetch.prune=true` to automatically prune the tracking branches?

To delete the latter I use this bash script, found somewhere presumably stackoverflow, and run it from time to time manually. It would be great if gitui could clean them as well.

[code]

[2021-01-14 13:47] ffes commented on #483
You know about these settings?

[code]

[2021-01-16 14:10] timsofteng opened #493 "Commit cherry pick"
Hello. Could you explain please how can I cherry pick commit from one branch to another?

Thanks!

[2021-01-16 14:13] extrawurst commented on #493
Hi @timsofteng thanks for your interest in gitui. *Cherry picking* is not yet implemented in gitui, so you have to fallback to the regular git cli: https://git-scm.com/docs/git-cherry-pick

[2021-01-16 15:58] timsofteng commented on #493
@extrawurst Got it. Please consider to implement this feature. I've tried it in lazygit and it's very useful.
Thanks.

[2021-01-16 16:27] extrawurst commented on #493
It is definitely a good feature, but not on my high prior's list (see [ROADMAP](https://github.com/extrawurst/gitui#roadmap-to-10))
I am open for Pull Requests :)

[2021-01-16 16:29] extrawurst opened #494 "prefer origin to push"
in case multiple remotes are present we currently pick the *first* in the list. we should automatically pick `origin` if present.

see also #492

[2021-01-17 12:55] jamesb93 opened #495 "bad credentials despite normal cli being fine"
**Describe the bug**
I can push from the command line normally `git push`, but pushing within `gitui` always fails due to 'bad credentials'.

**To Reproduce**
Commit some changes in `gitui`, press `p` to trigger a push. It always fails.

**Expected behavior**
Pushing should succeed as my ssh key is valid and works outside of gitui.

**Screenshots**
If applicable, add screenshots to help explain yo

[2021-01-19 09:43] dmytro-tolkodubov commented on #495
The same.
Mac OS 10.15.4
GitUI version 0.11.0 (installed via brew)

[2021-01-19 10:32] extrawurst commented on #495
Unfortunately I cannot reproduce the issue. Anything special about the way you push?

[2021-01-19 10:34] dmytro-tolkodubov commented on #495
Thanks for a quick reply, Stephan!
`Anything special about the way you push` --> nope, just pressing **p** once commited and ready to push.

[2021-01-19 10:36] dmytro-tolkodubov commented on #495
i think the issues is in the fact **gitui** does **git push <branch_name>** instead of **git push origin <branch_name>**. Is there any way to make the latter the default push option?

[2021-01-19 10:36] extrawurst commented on #495
can you share the way your remote is setup in `.git/config`?
for it looks like:
[code]

[2021-01-19 10:37] extrawurst commented on #495
since you use the brew-version it only supports pushing to `origin` right now

[2021-01-19 10:41] dmytro-tolkodubov commented on #495
My remote is setup in this way:
`cat .git/config
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
	ignorecase = true
	precomposeunicode = true
[remote "origin"]
	url = git@github.com:****/pipeline-base.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[branch "develop"]
	remote = origin
	merge = refs/heads/develop
[branch "release/1.12.0"]
	remote = origin

[2021-01-19 10:47] extrawurst commented on #495
@dmytro-tolkodubov I cannot see anything obviously problematic unfortunately.
Could you run `gitui -l` so that it writes to the log file and share if there is anything more telling in there?

[2021-01-19 10:51] dmytro-tolkodubov commented on #495
@extrawurst did execute with -l flag, but can't find the output where the log should have been saved to :).

[2021-01-19 10:52] extrawurst commented on #495
https://github.com/extrawurst/gitui#diagnostics

[2021-01-19 10:53] dmytro-tolkodubov commented on #495
Ah, thanks! This is what i see there:

`➜  .git git:(test) tail $HOME/Library/Caches/gitui/gitui.log
10:48:45 [TRACE] (1) gitui::app: [src/app.rs:278] update
10:48:45 [TRACE] (1) asyncgit::diff: [asyncgit/src/diff.rs:93] request
10:48:45 [TRACE] (1) asyncgit::status: [asyncgit/src/status.rs:95] request: [hash: 14046281010676946994] (type: WorkingDir, untracked: true)
10:48:45 [TRACE] (1) asyncgit:

[2021-01-19 10:54] extrawurst commented on #495
you did not try to push in that session

[2021-01-19 10:56] dmytro-tolkodubov commented on #495
i think i did, here is the error line (did not paste the whole log, it is a bit bigger)
...
10:48:35 [TRACE] (1) gitui::app: [src/app.rs:278] update
10:48:35 [TRACE] (1) asyncgit::diff: [asyncgit/src/diff.rs:93] request
10:48:35 [TRACE] (1) asyncgit::status: [asyncgit/src/status.rs:95] request: [hash: 8133653752159640044] (type: WorkingDir, untracked: true)
10:48:35 [TRACE] (1) asyncgit::status: [

[2021-01-19 11:01] extrawurst commented on #495
Ok I have no idea what's happening there.
Maybe @jamesb93 can check the config and log, too.

[2021-01-19 11:05] dmytro-tolkodubov commented on #495
Thanks for the great tool though!

[2021-01-19 11:08] extrawurst commented on #495
Thanks man, the push feature is still quiet new and there are so many flavours of how this can fail, but I am sure we will find the culprit of this.

Two things for you to keep in mind:
a) if you have credentials you don't want to share in a post here, the first post matters as every subscriber might receive the original version as an email.
b) use ``` to annotate code/logs whatever for better rea

[2021-01-19 11:12] dmytro-tolkodubov commented on #495
Thanks! There were no creds, but some info i thought i would not publish, not something confidential :)
`b) use ``` to annotate code/logs whatever for better readability.`
I used that each time, but did not like the formatting, the config lines spilt, etc - hence had to stick to pure formatting.

[2021-01-19 23:19] austinbutler commented on #495
Same issue on macOS, but Linux works fine. Using `0.11.0` installed from nixpkgs.

My config:
[code]

Log:
[code]

[code]

[code]

[2021-01-20 01:03] mckellygit opened #496 "Cannot push with an ssh alias - failed to resolve address"
Hi,

Thank you so much for gitui.
I cannot push from gitui, always getting the error -

[ERROR] push error: git error:failed to resolve address for github.com-foo: Name or service not known; class=Net (12)

But git push works fine from the cmdline.
I have in my .ssh/config the alias -

Host github.com-foo
    HostName github.com

Is there a way around this ?

I am using version gitui v0.11.0 on Ub

[2021-01-20 11:25] ffes commented on #440
When I run Git Bash from Windows Terminal and start the Windows executable of gitui 0.11.0 I only see the raw escape sequences:

![afbeelding](https://user-images.githubusercontent.com/3225656/105168174-0a004800-5b1a-11eb-93a5-f97157d76331.png)

[2021-01-24 12:52] Skymirrh commented on #176
Same remark as last time: perhaps this issue should be marked to be exempted, as it's not really getting "stale due to inactivity"?

[2021-01-26 19:54] hoijui opened #503 "git2 compile error when cargo installing"
when executing `cargo install gitui`, I get:

[code]

[2021-01-26 22:30] extrawurst commented on #503
hi @hoijui thanks for your interest in gitui. any reason to ignore all the info the bug report template asks you to fill in making it easier to help you with your issue?

without any further information my best guess is you try to build with some older rust version. as the readme states: we build using most recent rust

[2021-01-26 22:32] extrawurst commented on #503
hi @hoijui thanks for your interest in gitui. any reason to ignore all the info the bug report template asks you to fill in making it easier to help you with your issue?

without any further information my best guess is you try to build with some older rust version. as the readme states: we build using most recent rust

[2021-01-27 08:24] mwkcoding opened #505 "error authenticating failed connecting agent class=ssh (23)"
**Describe the bug**
When using Powershell v7.1.0 and pushing to self-hosted private git servers, it returns the error `error authenticating failed connecting agent class=ssh (23)` (see screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a private repository hosted on a private git server and open gitui
2. Attempt to push (doesn't need changes/commits ready to push)
3. See erro

[2021-01-27 09:55] extrawurst commented on #505
Hi @mwkcoding thanks for your interest in gitui, we use `libgit2` as the underlying git tool and I think it still has some limitations when it comes to ssh, `cargo` uses the same lib and I found this comment: https://github.com/rust-lang/cargo/issues/1851#issuecomment-244166027

can you check if that helps working around those limits?

I myself do not have a windows machine to test/debug this.

[2021-01-27 12:14] hoijui commented on #503
Then I would recommend updating [the `edition` field](https://github.com/extrawurst/gitui/blob/325d74204ad17b809a6032dfe8effe9d8e7310b0/Cargo.toml#L6)
and using ['rust = 1.696` in Cargo.toml](https://github.com/rust-lang/rfcs/pull/2495).

my rust version is `rustc 1.44.0 (49cae5576 2020-06-01)`.

[2021-01-27 12:26] extrawurst commented on #503
@hoijui the `edition` is correct and the `rust` field did not make it into current cargo yet: https://doc.rust-lang.org/cargo/reference/manifest.html

current supported rust version is: `rustc 1.49.0 (e1884a8e3 2020-12-29)`

[2021-01-27 12:26] #503 closed

[2021-01-27 21:24] #480 closed

[2021-01-28 08:26] #226 closed

[2021-02-02 21:49] disrupted commented on #358
this seems to be currently in progress https://github.com/dandavison/delta/pull/398

[2021-02-03 07:57] mwkcoding commented on #505
I don't find that issue very helpful. None of the fixes they're suggesting works for me.

[2021-02-03 19:42] extrawurst commented on #79
still active: https://github.com/extrawurst/gitui/pull/269

[2021-02-03 22:03] WizardOhio24 commented on #483
Thinking a tab would be best for this, then could view associated commit details on the right (and perhaps press <enter> to go into the commit, like in the log tab).  So it is like the log tab, but for tags, rather than commits.

[2021-02-09 03:53] savchenko opened #512 ""Open editor" shortcut doesn't work (using vim bindings)"
**Describe the bug**
When Commit dialog is open and custom hotkey for "Open editor" is defined, pressing the hotkey does nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Stage something
2. Commit
3. Type some text, press corresponding shortcut to open an editor
4. Nothing happens

**Expected behavior**
Editor opens.

**Screenshots**
![image](https://user-images.githubusercontent.com/

[2021-02-09 08:24] extrawurst commented on #512
Can you run `gitui -l` to enable logging and share your logfile to help diagnose?

[2021-02-09 11:35] savchenko commented on #512
Here we go:
[code]

[2021-02-09 16:31] extrawurst commented on #512
oh wow. now I finally see it. the problem is that the vim keybindings seem to be having a bug. cause the text editor will actually swallow regular characters but still it binds to a capital `E`: https://github.com/extrawurst/gitui/blob/master/assets/vim_style_key_config.ron#L31

can you try to alter this in your key bindings? the default would be `CTRL + e`.

[2021-02-09 23:09] WizardOhio24 commented on #418
Stale Bot, this has a PR in for it, it will be closed when the PR is merged.  Could you remove your `wontfix` label.

[2021-02-09 23:21] savchenko commented on #512
Not quite sure if I follow :) However switching to <kbd>Ctrl</kbd> does work:
[code]
Interestingly, <kbd>Shift</kbd> modifier works in the main window just fine.

[2021-02-09 23:23] extrawurst commented on #512
the problem is simply that `SHIFT+E` is a character the text input will pick up and add to your commit message instead of considering it as a shortcut for opening the external editor

[2021-02-09 23:48] #222 closed

[2021-02-10 04:44] savchenko commented on #512
Seems like other shortcuts are affected as well. For example, default "reset item" aka <kbd>Shift</kbd>+<kbd>D</kbd> also doesn't work with vim bindings from https://github.com/extrawurst/gitui/blob/master/assets/vim_style_key_config.ron

[2021-02-10 09:25] extrawurst opened #513 "crash: run inside subfolder and revert it"
[code]

[2021-02-10 17:04] #382 closed

[2021-02-12 02:34] shivakumargn opened #515 "square boxes in bottom menu shortcut and file listing"
Some of the bottom menu options show the shortcut key as a square box (screenshot is attached).
<img width="589" alt="gitui_bottom_menu" src="https://user-images.githubusercontent.com/171191/107724022-d96e9100-6d08-11eb-8215-96e37bc8d865.png">

The "Files" section of the git commit view as well as square box prepended to folders (screenshot is attached).
<img width="259" alt="gitui_files" src="htt

[2021-02-12 08:50] extrawurst commented on #515
that looks a lot like something goes wrong in the transmission via putty. there is not much I can do about it

[2021-02-12 16:11] shivakumargn commented on #515
You are right. Checked on a linux system where the character was displayed correctly. Closing the ticket.

[2021-02-12 16:11] #515 closed

[2021-02-12 23:48] josmith42 commented on #465
I think I'd like to take a stab at this.

Question: in addition to implementing the feature, would you like the PR to also update the key config documentation so users know how to customize the symbols?

[2021-02-13 04:14] levirs565 commented on #440
This allso occured when using Powershell in Conhost when `$env:TERM` is not empty.

When `$env:TERM` is empty.

![syU9nFUUye](https://user-images.githubusercontent.com/42236775/107841186-465a5780-6deb-11eb-8123-24f76ebbe89c.gif)

Then I set `$env:TERM` to `xterm-256color`. This bug occur.

![HkyQVphRHl](https://user-images.githubusercontent.com/42236775/107841205-7275d880-6deb-11eb-9ec2-7380cb6cdf

[2021-02-14 00:59] Berjou opened #517 "[Feature request] clone git shell default commit message template"
**Problem**

I'm working on some project with strict commit messages style requiering me to list all the files that have been modified, added, deleted in the current commit. Fortunately, this is really easy to do when using the `git commit` command, which opens the `.git/COMMIT_EDITMSG` file, in which each files to be committed are listed, and a lot of other info like the diff, etc... are already

[2021-02-14 17:19] shawnohare commented on #317
I symlink most of my configs with a stow-like bash script, and greatly appreciate apps that use XDG on Unix-like systems so that my my linking is consistent across OSes. The vast majority of the apps I use follow XDG, but there's a few outliers that prove annoying when I have to use a mac (e.g., for work).

[2021-02-16 21:52] #317 closed

[2021-02-17 02:29] savchenko opened #518 "Properly set `ft=gitcommit` when opening editor"
**Is your feature request related to a problem? Please describe.**
When user opens an editor to redact the commit message, it does not pass the `filetype`.

**Describe the solution you'd like**
Pass `set ft=gitcommit` to vim when editing commit message.

**Describe alternatives you've considered**
Set filetype manually on each edit.

**Additional context**
This can be done via `-c` flag, e.g.:
[co

[2021-02-17 02:30] savchenko commented on #518
This might be partially related to https://github.com/extrawurst/gitui/issues/517.

[2021-02-17 08:58] extrawurst commented on #518
I don't see what it has to do with #517 - one is about *which* file to open and this one is about *how* to open it in nvim - what am I missing?

[2021-02-17 10:27] savchenko commented on #518
@extrawurst ,
*hunch*
they both refer to the "open editor" so might be handled within the same logical module.

[2021-02-17 14:41] #420 closed

[2021-02-17 18:57] #397 closed

[2021-02-18 10:54] nheilbuth opened #519 "Support for Page Up and Page Down keys in Branchlist"
Would be nice to be able to scroll long lists (ie. branches list) using page up/down instead of just arrow keys

[2021-02-19 00:29] #443 closed

[2021-02-19 11:23] WildOgr opened #523 "Slowness and constant CPU/IO usage"
I'm observing small but constant CPU usage from gitui and periodic IO spikes. It seems that IO depend on repository size, it is significantly higher for the larger repository. App feels sluggish (especially file staging, there is very noticeable delay) not sure it is related.

Tried to rebuild latest code from source (scoops has outdated version for some reason), same behaviour.

Environment: Wind

[2021-02-19 11:36] dessasin opened #524 "We need pull or fetch feature from remote"
Downloading changes from the remote repository is one of the git commands I use the most, but when using gitui I have to open a different console and issue the download command to download. Like the push feature, the pull command must also be present.

[2021-02-19 12:41] extrawurst commented on #523
The regularity of the spikes looks like the polling for changes we currently use instead of file watching: https://github.com/extrawurst/gitui/issues/1

[2021-02-19 12:42] extrawurst commented on #524
Pull is significant more complex and there is already an issue for this - feel free to support us with a PR :)
See #319

[2021-02-19 12:42] #524 closed

[2021-02-19 17:58] WildOgr commented on #523
I'm not sure that slowness is caused by IO, maybe something else is going on. I did some research on what gitui is polling for. It seems it likes to check config files a lot, currently modified files and git index. It seems current code is not just checks for changes but it actually reading modified files and index file. In this case during IO recording I had "Status page" opened  and no file sele

[2021-02-19 18:08] extrawurst commented on #523
my expectation is that most time is spent in checking status (aka "what is changed"). this happens in the function `asyncgit::sync::status::get_status`.

if you build `gitui` using the `timing` feature you can run `gitui -l` to print logging (including function runtimes):

this will show up in the log
[code]

you can also dive deep into profiling via the `pprof` feature.

[2021-02-20 06:20] savchenko opened #526 "Panic, "Could not find file to open: No such file or directory""
**Describe the bug**
Gitui crashes when git errors with "No such file or directory"

**To Reproduce**
Steps to reproduce the behavior:
1. Open repository that exhibits the issue
2. Navigate to the file that can't be accessed
3. `gitui` crashes immediately

**Expected behavior**
Error message is shown to a user, UI does not crash.

**Screenshots**
[code]

**Context (please complete the following in

[2021-02-20 09:03] extrawurst commented on #526
Any idea what is different about this repo ? Is it an open source repo I can reproduce that with?

[2021-02-20 09:35] cruessler commented on #484
@extrawurst I’d like to give this one a try. Do you want blame mode to be part of the “Log” tab? I assume it is supposed to take over the full screen. Is that correct?

[2021-02-20 10:10] extrawurst commented on #484
I agree it should take over the screen. Well I would suggest starting with a mock-up first just to align us on the plan. For reference check out how I did that for stashing: https://github.com/extrawurst/gitui/issues/3#issuecomment-630788655

also look up some alternatives to get a good impression of what the user will expect. I personally tried to stay close to how *fork* does things.

[2021-02-20 14:13] cruessler commented on #484
For comparison, this is what `tig` and `fork` do. My first inclination would be to follow `tig`’s example for the content and add a border the way `gitui`’s “Log” view does where I would add the details that are in `tig`’s status bar at the bottom. What do you think?

![tig-git-blame](https://user-images.githubusercontent.com/5648141/108598295-1849ba00-738d-11eb-89f6-bacd47c0ede9.png)
![fork-git-b

[2021-02-21 01:08] savchenko commented on #526
Unfortunately repository is not available on the Internet. There was a file-system corruption which prevented git from accessing some folders within the working tree (but not the `.git` one).

[2021-02-22 15:44] focusaurus opened #529 "Commit input box hides branch name"
**Is your feature request related to a problem? Please describe.**

My company requires commit messages have a certain format and a link to a ticket number which I usually encode into the branch name for reference. My issue is I start a commit and then need info from the branch name, which is obscured by the commit text input box, so I have to ESC out of the commit to see what I need, load it into

[2021-02-22 15:48] focusaurus opened #530 "Don't discard commit message entered without confirmation"
**Is your feature request related to a problem? Please describe.**

So for vim users where typing ESC to exit insert mode is deep deep muscle memory, I find myself hitting `c` to commit, typing a message then by reflex typing ESC and having gitui discard the message I just crafted.

Anyone else shooting themselves with this footgun too?

**Describe the solution you'd like**

If the commit message

[2021-02-22 19:12] extrawurst commented on #529
that's a fair point I actually encountered that myself too!

[2021-02-22 21:11] extrawurst commented on #530
fair point, actually this was the behaviour at some point. I agree we should go back to that 👍

[2021-02-23 10:02] #274 closed

[2021-02-23 10:13] extrawurst opened #531 "push allowed even though command shows it disabled"
same for the new *force push*

[2021-02-23 10:54] #530 closed

[2021-02-23 11:10] extrawurst opened #534 "flaky test_force_push_rewrites_history failures"
@WizardOhio24 unfortunately `test_force_push_rewrites_history` fails randomly. do you mind looking into the CI pipelines and figure out why this is the case? otherwise I have to revert the *force-push* PR :(

[code]

[2021-02-23 11:15] extrawurst commented on #534
also we use the `tempfile` crate for creating temporary files inside tests

[2021-02-23 11:32] #531 closed

[2021-02-23 12:17] dnaka91 commented on #97
Is anybody still working on this?
For me this is currently a blocker as well because I usually sign all my commits.

I used gpgme with git2 in one of my projects before and could probably integrate this rather quick.

[2021-02-23 12:36] nils-a commented on #97
Not me. I'm still reading that book on rust to begin with... But there is also some discussion in https://github.com/extrawurst/gitui/pull/219

[2021-02-23 12:40] focusaurus commented on #530
Yay! Thank you!

[2021-02-23 14:04] #534 closed

[2021-02-23 14:15] extrawurst opened #537 "more reliable and readable unittest for force push"
based off of #534 (and #535):

# Currently

@WizardOhio24 it looks like the internals of `repo_init` were unclear: it creates independent temporary test repositories (including an empty commit).

the current unittests both test essentially the same thing:

[code]

only difference is that the second unittest `test_force_push_rewrites_history` does some additional checks that the right commit IDs ar

[2021-02-23 14:17] extrawurst commented on #97
@dnaka91 absolutely have a go at it

[2021-02-23 15:43] extrawurst commented on #529
this is what I came with now:

<img width="909" alt="image" src="https://user-images.githubusercontent.com/776816/108868152-35cd8c80-75f6-11eb-9878-71fc6d514cbe.png">

[2021-02-23 15:50] #529 closed

[2021-02-23 17:45] extrawurst commented on #478
problem with this is that it is not well defined what limits are correct and I am shying away of requiring the user to fiddle in more config files.

the most common way to assure stuff like this is having (pre)commit-hooks

[2021-02-23 17:53] extrawurst commented on #519
good point, it is missing on the branchlist. let me know where you miss it aswell

[2021-02-23 18:07] #519 closed

[2021-02-23 18:08] extrawurst commented on #512
like I said its because shortcuts that are valid text characters will be picked up as such

[2021-02-23 19:32] JoyceBabu opened #540 "Incorrect documentation. key_config.ron is loaded from $HOME/Library/Application Support/gitui on Mac"
**Describe the bug**

As per the documentation

But on macOS, the key_config.ron is created under `$HOME/Library/Application Support/gitui`

**To Reproduce**
Steps to reproduce the behavior:
1. Install gitui with `brew install gitui`
2. Run `gitui`

**Expected behavior**
`key_config.ron` to be created under `$HOME/.config/gitui`

**Context (please complete the following information):**
 - OS/Distr

[2021-02-23 19:37] extrawurst commented on #540
Did you install via brew or cargo? Or did you build from master? This was changed since the last release

[2021-02-23 19:38] JoyceBabu commented on #540
I installed with `brew install`.

[2021-02-23 19:39] #540 closed

[2021-02-23 19:40] extrawurst commented on #540
For future reference - this changed in #317

[2021-02-23 23:05] savchenko commented on #512
Right... Is it possible to have a "priority" for a shortcut? Say there is something assigned to <S-g>, then pressing <kbd>Shift</kbd>+<kbd>g</kbd> will execute the assigned action instead of entering capital "G".

[2021-02-24 06:45] jellybobbin opened #542 "when select log[2] panic"
### env
[code]
### git log (It's a test, usually not very long)
[code]
![屏幕快照 2021-02-25 09 26 59](https://user-images.githubusercontent.com/28227644/109089593-7a6b3c00-774c-11eb-97a2-399e4cb03d7f.png)

### gitui
[code]

![屏幕快照 2021-02-25 09 32 14](https://user-images.githubusercontent.com/28227644/109089535-64f61200-774c-11eb-8ce0-51cf5767bb9f.png)

## But when the item window is properly sized,

[2021-02-24 07:49] extrawurst commented on #512
If we give the open editor shortcut priority how do you want to allow people inserting a capital 'E'?

I think the way to go here is a different shortcut in the vim bindings.

[2021-02-24 07:52] extrawurst commented on #542
To allow me to reproduce this I would need to have the full commit message that contains this Unicode character.

the Issue template asks for more information like the gitui version you used, please provide them

[2021-02-24 07:59] extrawurst commented on #512
maybe @yanganto the original contributor for the vim bindings can chime in, what would be a good alternative for `shift+e` to open the editor - would `ctrl+e` be good too? that is the default binding we have

[2021-02-24 08:16] extrawurst commented on #542
see #188 as reference

[2021-02-24 08:21] extrawurst commented on #526
diffs are created against working dir files, so this would explain the crash. does the problem persist?

[2021-02-24 09:00] extrawurst opened #543 "do not close branch window after delete/rename"
this should only update the content of the branch list

[2021-02-24 10:04] #494 closed

[2021-02-24 10:05] extrawurst commented on #513
I don't think we can really prevent this crash from happening if we cut off the branch we are standing on

[2021-02-24 10:05] #513 closed

[2021-02-24 10:19] peaceiris commented on #200
Fixed in https://github.com/Homebrew/linuxbrew-core/issues/22329

[2021-02-24 10:36] extrawurst opened #545 "selecting text via mouse broken"
I think this got introduced via #306

[2021-02-24 10:36] savchenko commented on #512
Valid point.

Alternatively &mdash; provide an option to open an external editor by default?

[2021-02-24 10:38] extrawurst commented on #545
@WizardOhio24 I have to revert your PR on this. capturing the mouse disable the ability to mark text via mouse - a feature I kept emphasising in the past in other tickets, so it takes precedence

[2021-02-24 10:40] extrawurst commented on #545
I am talking about this:
![Screenflick Movie 97](https://user-images.githubusercontent.com/776816/108988687-0ae64580-7695-11eb-90d1-812df206de02.gif)

[2021-02-24 10:40] savchenko commented on #526
The repository was restored from a backup and the problem hasn't manifested since then. Please feel free to close the issue if you'd like.

If this reoccurs, I will try to preserve the affected repository and reply here.

[2021-02-24 10:41] extrawurst commented on #545
closed in bde8eb8

[2021-02-24 10:41] #545 closed

[2021-02-24 10:42] #526 closed

[2021-02-24 13:53] jellybobbin commented on #542
ok,thanks...

[2021-02-24 14:08] extrawurst commented on #542
please also provide me with as much data as possible to reproduce this, the problem must be some unicode rendering that breaks but In order for this to be reproducible I need the message/author name that makes it break

[2021-02-24 14:17] jellybobbin commented on #542
No problem. In fact, it happened in two existing warehouses

[2021-02-24 17:03] extrawurst commented on #542
I assume a warehouse is a git repository? :)
if so its no wonder, its utf8 related and you probably use a lot multibyte characters in your names and commit messages

[2021-02-24 19:42] extrawurst commented on #517
@Berjou I looked into this and the problem is that we do not use the git shell commands. it seems the git shell creates this default commit message when you `git commit`.

One option would be to trying to mimic the same behaviour and repopulating the commit msg.

Also what I found is that you can actually overwrite this default behaviour in git shell using the `commit.template` config. we also do

[2021-02-24 19:45] extrawurst opened #546 "support commit.template"
based off of https://github.com/extrawurst/gitui/issues/517

git commit uses a default template for commit messages that the `commit.template` config allows the user to overwrite:
https://www.git-scm.com/book/en/v2/Customizing-Git-Git-Configuration

it should be fairly easy to use that config in gitui and pre-populate a commit msg text

[2021-02-24 19:49] extrawurst commented on #518
@savchenko can you tell me more about this, I am not a vim user. is that something git does when opening the editor for a commit msg? can you point me to some documentation?

[2021-02-24 20:54] #490 closed

[2021-02-24 21:12] #418 closed

[2021-02-24 21:59] extrawurst commented on #484
@cruessler I think the *tig* way is a good starting point. just a few ideas:

* lets make the date more compact similar to what we do in the log view.
* we don't need the status bar on the bottom telling us the amount of lines, we have scroll bars in the other diffs
* I would jump into a `InspectCommit` view when you press 'enter' on one of the lines
* nice improvement over *tig* is to combine ent

[2021-02-24 23:03] savchenko commented on #518
Editor for `git` can be set separately:

[code]

I would imagine that `gitui` simply uses whatever is defined in user's EDITOR and GIT_EDITOR environment variables preferring the latter one, same as git does. If none are present &mdash; fallback to vi/nano/ed.

When editing git commit message. git detects `.git/COMMIT_EDITMSG` and sets `filetype=gitcommit` which results in a nice highlighting, pro

[2021-02-25 01:22] jellybobbin commented on #542
Yes, it's a git repository, so is it normal?

[2021-02-25 01:48] jellybobbin commented on #542
@extrawurst

I used itrem2. I found it is related to the size of itrem2 window. When itrem2 window is very small, it is normal. When itrem2 window is large (such as full screen), it will have problems.

[2021-02-25 05:19] nheilbuth commented on #519
Just noticed that pgUp/Down support is also missing in the files list when inspecting a commit
(go to log, select a commit, press right arrow to inspect).

[2021-02-25 09:26] extrawurst commented on #542
@jellybobbin I just realize you created the same issue already in the past: #420
Now that you provided the information that this happens in `gitui 0.8.1` the answer is going to be the exact same:

version `0.8.1` is **super old** and this bug is already fixed. please update or provide a reproduction that still crashes the most recent version.

[2021-02-25 09:26] #542 closed

[2021-02-25 13:04] yanganto commented on #512
It may be good to use the `Ctrl` + `e` at the input box.
Because the input box only has one mode, the real vim editor has at least two modes to avoid this problem, `command mode` and `insert mode`.

@savchenko May you kindly give me a handle to modify the default vim key binding with your suggestion.
@extrawurst How do you think about Gitui with multiple modes?

Thanks.

[2021-02-25 13:23] jellybobbin commented on #542
maybe it's too long and I forgot it.,thx..

[2021-02-25 13:44] extrawurst commented on #512
`ctrl+e` in the vim bindings then.

Regarding two modes: I don’t see the point. It makes sense when text input is the primary purpose of a tool but this is not the case here and makes things only more complicated.

[2021-02-25 13:47] yanganto commented on #512
Yes, I agree with you.  `ctrl` + `e` is good enough for the current scenario.

[2021-02-25 13:59] #512 closed

[2021-02-25 14:54] #543 closed

[2021-02-25 18:06] WildOgr commented on #523
You were right. Traced it down to the following issue: https://github.com/libgit2/libgit2/issues/4230

[2021-02-25 18:17] extrawurst commented on #523
yeah its a super old issue in `libgit2`. we should reduce this massively once we do #1 because we do not have to constantly run the slow `git_status_list` in the background.

[2021-02-26 17:32] Berjou commented on #517
Thank you for your interest in this feature.

I think I understand correctly the problem and I that it is not that easy to copy the git shell behavior without actually using it, but I still think that it would be a great feature to have.

[2021-02-28 00:58] extrawurst commented on #319
so good news. the fast forward merge support works. I'd like to cleanup somethings first and then tackle three-way merging in a separate ticket. for now we have a *secret* key `f` that performs a fetch and tries to ff-merge. its a start.

todo:
- [ ] show progress of ongoing fetch
- [ ] prominent place to show repo state if not in `clean` state (in prep for merging)
- [ ] understandable error if f

[2021-03-01 13:20] #319 closed

[2021-03-01 13:24] extrawurst opened #557 "support simple conflict-free 3way merge"
based on #319:

the next level in complexity is supporting a simple 3-way merge commit without conflict resolution. this way the complexity of conflict resolution can be put into a separat issue

[2021-03-01 15:34] extrawurst commented on #478
to reiterate my feedback from the #508:

I am not a fan of this requiring new configuration, abusing the style config I not an option.

my suggestion for an MVP is:
* we hardcode the first-line-limit to 50
* we show a red message (`first line exceeds x chars`) on the bottom (of the dialog, left of the count) if the limit is exceeded

[2021-03-01 20:59] extrawurst opened #559 "on-demand branchname validity (while typing)"
libgit2 exposes a helper function to check a branch name validity: https://libgit2.org/libgit2/#HEAD/group/branch/git_branch_name_is_valid

lets run this against the input **before** it gets confirmed.
this way we can give live feedback to the user whether the name is valid.

[2021-03-01 21:06] extrawurst opened #560 "allow hooking into libgit2 tracing"
it could be useful to support hooking our rust `log`-ging into `libgit2`'s tracing: https://libgit2.org/libgit2/#HEAD/group/trace/git_trace_set

[2021-03-01 21:20] extrawurst commented on #559
same for tag names: https://libgit2.org/libgit2/#HEAD/group/tag/git_tag_name_is_valid

[2021-03-01 23:26] extrawurst opened #562 "refresh incoming/outgoing right after pull/fetch"
right now it waits for the next *poll* which can take a few seconds

[2021-03-02 11:50] extrawurst commented on #557
right now, if a fetch+ff does not work we right now auto merge using 3way commit unless it would produce conflicts

todo:
- [ ] ask user for confirmation

[2021-03-03 00:14] extrawurst opened #563 "confirm 3way merge by user"
since #557 if a ff-merge is not possible we perform a 3way merge commit (if conflict free) but we should rather first ask the user if that's ok

[2021-03-03 00:14] #563 closed

[2021-03-03 17:40] #562 closed

[2021-03-03 21:06] #557 closed

[2021-03-04 09:04] extrawurst opened #566 "support simple (conflict free) rebase merge"
now that we have the simple 3way merge (#557) it would be good to support the rebase merge that does not create a merge commit.

until we tackle #485 we revert as soon as we have a conflict

[2021-03-04 23:41] extrawurst opened #568 "support push tags"
until we do #483 I want to add a preliminary `push tags [t]` -  or even test pushing tags on every push (although that could be slow on repos with a ton of tags)

[2021-03-05 16:49] #568 closed

[2021-03-05 21:05] dm9pZCAq opened #570 "[Feature Request] smart config loading"
I'm always frustrated when i update `gitui` and new key bindings or theme properties are added and because of this **ALL** keys and themes are set to default values

i see several solutions:
1. automatically update config/theme when new setting added
2. more verbose (maybe in message box inside `gitui` or just to `stderr`) say to user that new config added or something missing (with key bindings,

[2021-03-07 18:09] extrawurst commented on #59
ok work has begun on this! this will come in shape of actually four similar features:

- [ ] discard unstaged modified lines
- [ ] stage/unstage modified lines
- [ ] discard untracked lines
- [ ] stage/unstage untracked lines

I found an inspiration that supports this and is based on libgit2: [nodegit](https://github.com/nodegit/nodegit) - it seems surprisingly complicated - this is actually the o

[2021-03-08 00:44] extrawurst opened #572 "command cleanup status tab"
* [x] move/order `copy` to back
* [x] only show `pull` when not focused on *diff*
* [x] only show `force push` when there is anything to push
* [x] only show `branches` when not focused on *diff*

[2021-03-08 01:38] #242 closed

[2021-03-08 18:43] extrawurst opened #574 "ask to delete stash after apply"
my most typical use case is putting a stash back into my workspace and then I want to delete the stash. right now I have to go back to the stash tab to do that. I want to be asked and then it should auto delete after applying the stash

[2021-03-09 00:05] extrawurst commented on #59
ok some progress: support for staging/unstaging changes in a tracked file:

![Screenflick Movie 105](https://user-images.githubusercontent.com/776816/110398112-7a840980-8073-11eb-8c50-919114667f82.gif)

see https://github.com/extrawurst/gitui/pull/575

[2021-03-09 01:25] non-descriptive commented on #59
It's visible on the record that you press shift to select lines, but it looks like it doesn't really displayed in the actual UI. Is it possible to change "Scroll" caption when any of modifier keys pressed? If so, it might be a good idea to land an issue that depends on the current one.

[2021-03-09 03:22] josmith42 opened #576 "stash apply: report merge conflicts"
**Is your feature request related to a problem? Please describe.**
When applying a stash that will result in conflict (e.g., the working copy has changed), gitui does not report the error message. This makes it difficult to see that a conflict occurred.

**Describe the solution you'd like**
A dialog box with the error message. (e.g.: "CONFLICT (content): Merge conflict in [filename]", maybe with a

[2021-03-09 08:04] UncleInf commented on #358
Does https://github.com/dandavison/delta/pull/398 make using delta (and may be side by side diffing) any closer?
On separate note maybe in the mean time we could have a "button" to call external diff?

[2021-03-09 08:12] extrawurst commented on #358
@UncleInf that PR seems quiet outdated (conflicts) and unmaintained. I also do not see an example of how to use `delta` as a library in the PR changes, so it is hard to say.

[2021-03-09 08:15] extrawurst commented on #59
true the line selection is not yet represented in the *command bar at the bottom*

[2021-03-09 10:43] josmith42 commented on #576
No, it appears to not understand the conflict state after a stash is applied:
![gutui-stash-apply-conflict](https://user-images.githubusercontent.com/841270/110458740-1d4f7e80-809a-11eb-8e50-1a53eee8e5b7.png)
This occurs even if the stash is applied outside of gitui.

Whereas, if you do a `git status`, you see the following:
[code]

[2021-03-09 11:30] balokir opened #577 "GitUI does not work under ConEmu"
I'm run gutui from cmd console or from FAR in ComEmu - app started, empty black window shown. The single allowed action - break it by Ctrl-C.
gitui 0.12.0 (installed by choco)
conemu 161206 stable
Windows7

[2021-03-09 11:37] extrawurst commented on #576
which gitui version are you using?

[2021-03-09 12:02] josmith42 commented on #576
I _was_ using 0.11.0. However, I just upgraded to 0.12.0 and it still occurs.

[2021-03-09 12:03] extrawurst commented on #576
0.12 should tell you that the repo is in a conflicting state though 🤔

[2021-03-09 12:04] josmith42 commented on #576
It just shows `M` in Unstaged and Stages, the same as the above screenshot. :-(

[2021-03-09 12:24] extrawurst commented on #576
@josmith42 ok I am having trouble reproducing this. applying that results in a conflict actually is prevented
<img width="1072" alt="image" src="https://user-images.githubusercontent.com/776816/110470109-bd2cfc80-80da-11eb-80a0-24143a41c0ce.png">

[2021-03-10 10:58] josmith42 commented on #576
OK, here are some steps to repro:
* Make a change to a file. Stash the change.
* Make a different change to the same file on the same line. Commit the change.
* Use gitui to apply the stash you saved in the first step.

So after #578, gitui does show the files as conflicted, but it still doesn't prevent the confilct from occurring.

To me, showing the confilct is sufficient, but if if you want git

[2021-03-10 11:06] josmith42 commented on #576
Github won't allow me to reopen this issue, so please reopen the issue if you feel it should be based on what I reported above.

[2021-03-10 12:52] ser-drephs commented on #495
Hi, same Problem here on Windows 10 using Windows Terminal.

Can't provide a Log, because Log Folder is not documented for Windows.

![image](https://user-images.githubusercontent.com/2047695/110631971-62ada200-81a7-11eb-9ad1-c0832d443d3b.png)

[code]

[2021-03-10 13:33] extrawurst commented on #576
comparing this again against regular `git stash apply` it seems to be the default behaviour to put the files into a conflicting state. meaning I will leave it like that. the only thing I am going to check now is why the diff is empty for the conflicts

[2021-03-10 15:21] ser-drephs commented on #495
@extrawurst created PR #579 for readme.

[2021-03-10 15:25] ser-drephs commented on #495
Log:
[code]

[2021-03-10 16:21] extrawurst opened #580 "better visualisation of diff for files in conflict"
based on #576:
(&related to #485)

right now if a file is in a conflicted state, the diff is empty. it would be good if we could make it a little more obvious.
maybe just showing the `ours` and `theirs` origins.

[2021-03-10 16:21] extrawurst commented on #576
superseded by https://github.com/extrawurst/gitui/issues/580

[2021-03-10 16:21] #576 closed

[2021-03-10 18:51] ser-drephs commented on #572
Create a PR for this issue. I'm new to Rust so don't have high expectations on that one 😄

[2021-03-10 21:28] extrawurst commented on #59
staging/unstaging in tracked files is merged. please give it a spin💪

![Screenflick Movie 108](https://user-images.githubusercontent.com/776816/110700192-f60ac580-81ef-11eb-8188-a5640a490d8f.gif)

[2021-03-10 21:30] extrawurst opened #582 "more line based diff operations"
followup to #59:
- [ ] discard untracked lines
- [ ] stage/unstage untracked lines

[2021-03-10 21:31] extrawurst commented on #59
I consider this done now, the remaining two tasks (which I consider less important) will be tackled in a followup later: https://github.com/extrawurst/gitui/issues/582

[2021-03-10 21:31] #59 closed

[2021-03-10 22:18] disrupted commented on #59
@extrawurst great addition! will you publish a new release with this feature?

[2021-03-10 22:59] extrawurst commented on #59
Yeah it’s scheduled for [0.13](https://github.com/extrawurst/gitui/milestone/8) and I am asking for more people to try it until then by building from master to make sure it’s as solid as possible

[2021-03-11 02:44] nbigaouette commented on #59
Just tried it for say, 2 minutes, and it works well! I'll continue to use it tonight and tomorrow. I'll report if I find a problem.

Thanks a lot!!

[2021-03-11 08:43] extrawurst commented on #79
@cruessler is this fixed by your PR?

[2021-03-11 10:49] #566 closed

[2021-03-11 11:08] non-descriptive commented on #495
Platform: OSX 10.15.7
gitui: 0.12 at `b5ef9b10f1e0e6e0c21a55d9083b4e40c1f759b8`
rustc 1.50.0 (cb75ad5db 2021-02-10)

Same here. Our git repo lives behind VPN. If I try to pull/push without connecting to it from console it will yield error after some timeout.
[code]
But when I am connected it fetch/push just fine from console, but gitui for some reason fails and  displays two modal windows:
1. `fet

[2021-03-11 14:24] asmwarrior commented on #577
Hi, I have the same issue. I'm on Windows 7.
I just download the latest official ConEmu(210304, from [Download ConEmu latest release](https://www.fosshub.com/ConEmu.html)) and gitui 0.12.0

It just shows a blank window, nothing is shown on the window.

BTW:  [Cmder | Console Emulator](https://cmder.net/) is a ConEmu based shell, and I see gitui works on this shell. But, I always see many unwanted

[2021-03-12 00:31] nbigaouette commented on #59
So I've used b5ef9b1 today. Works well! Good job :)

The only detail I can say, and that's a nitpick, is that when I stage a line, the "line cursor" (for a lack of better term...) moves to the top of the hunk. When the hunk is large and that a couple of lines are staged, it can be annoying to move the cursor back close to the original location.

Otherwise, thank you!!

[2021-03-12 00:35] extrawurst opened #583 "preserve line selection after stage/unstage/discard"
based on https://github.com/extrawurst/gitui/issues/59#issuecomment-797148722

we should try to put the cursor close to where it was before the action (should actually also apply for hunk based changes)

[2021-03-12 00:36] extrawurst commented on #59
this is a very good point: #583

[2021-03-12 03:59] asmwarrior opened #584 "word diff"
Can we show the word level diff, if we just add/modify one word in a line.

See this issue  [Word diff · Issue #623 · git-cola/git-cola](https://github.com/git-cola/git-cola/issues/623)

[2021-03-12 12:35] extrawurst commented on #577
Unfortunately I have no access to a windows machine so I need help on this. I would first try to build/run `tui-rs` examples (using crossterm) in *ConEmu* and if that fails aswell go one level deeper and run the `crossterm` examples to narrow down where the issue comes from.

[2021-03-12 22:57] #583 closed

[2021-03-12 22:59] extrawurst commented on #59
@nbigaouette i just merged this into master - would love to get your feedback on this! see #583

[2021-03-12 23:09] nbigaouette commented on #59
Excellent! Just tried it and yes, cursor stays at proper location. Good job!!

Found another bug with the line staging. If I stage all lines of a hunk line by line, I end up with a hunk that has no diff but is still present in the diff window (it should disappear, like when you stage a whole hunk).

[2021-03-12 23:13] extrawurst commented on #59
Well that’s probably only a left-over whitespace change. Should be the same if u just insert a newline in some file. Such single newline changes are not well visualized yet. But that’s not a new issue

[2021-03-13 00:12] nbigaouette commented on #59
True! Was only whitespaces.

Thanks!

[2021-03-13 16:20] extrawurst commented on #577
so I now installed windows in a VM and tried this and it works for me with gitui `0.12` (installed via choco):
<img width="606" alt="image" src="https://user-images.githubusercontent.com/776816/111036592-394b7b00-8420-11eb-93a8-57bf1ef93564.png">

windows 10
conemu 210312 [64]

[2021-03-13 18:27] extrawurst opened #586 "pull abort creds input deadlocks"
clone via https and then aport the credential input:

![Screenflick Movie 110](https://user-images.githubusercontent.com/776816/111040209-22158900-8432-11eb-89fa-e1cf710fcf18.gif)

[2021-03-13 19:13] extrawurst opened #588 "consolidate CredComponent"
right now we have 3 places using `CredComponent`.
each use their individual instance so they do not share once typed-in credentials.

we should consolidate these into a single popup which stores and reuses its inputs (a popup similar to the `TagCommitComponent`

[2021-03-13 19:31] #586 closed

[2021-03-13 23:22] extrawurst commented on #570
So the pending PR improves diagnostics by printing messages like:
[code]
or
[code]

into stderr. it will still boot up using the default configs when something goes wrong. but it should be easier to diagnose and fix thanks to this

[2021-03-13 23:25] #570 closed

[2021-03-14 00:28] asmwarrior commented on #577
Hi, [extrawurst](https://github.com/extrawurst), you may look at the bottom of your screen shot, the icon after the "Stage Item" and the "Reset Item" does not shown correctly.

In my Windows 7 Simplified Chinese Edition, I have to change the encoding to GB2312 in the setting of the ComEmu to fix this issue(The default encoding is the "default" in the list). But if I change the encoding, the boarde

[2021-03-14 00:47] extrawurst commented on #577
yes but that is quiet some other issue than the title suggests which I deem way less important than "it does not work"

[2021-03-14 11:34] #572 closed

[2021-03-15 15:17] shaneutt opened #590 "Please enable Github discussion boards"
:wave: thanks for creating this great tool!

Would you be open to enabling "Github Discussions" for this tool? I know there's a discord, but adding forums seems like a preferable way to communicate async _and_ search previous conversations.

Just for your considerations, thank you!

[2021-03-15 17:37] shaneutt opened #591 "Commit signature skipped when global configuration commit.gpgSign=true"
**Describe the bug**
Most `git` UI's and toolkits will respect the global (or repo) `commit` configuration.

I found with `v0.13.0` of `gitui` that even though my `~/.gitconfig` included the following configuration:

[code]

Commits I made from `gitui` would not try to sign, and produced unsigned commits.

**To Reproduce**
Steps to reproduce the behavior:
1. configure `git config --global commit.g

[2021-03-15 17:41] shaneutt commented on #591
I'm new to the codebase, but given a nudge in the right direction I may have time to contribute this improvement myself.

[2021-03-15 17:44] extrawurst commented on #591
@shaneutt welcome and thanks for your interest in helping out! This is a duplicate of #97 - you can catchup with the progress there, it will give u the nudge you need ;)

[2021-03-15 17:44] #591 closed

[2021-03-15 18:07] shaneutt commented on #591
Sounds good thanks, I've subscribed to that one :vulcan_salute:

[2021-03-16 09:56] asmwarrior commented on #577
I have recorded a screen cast(a gif file) about the issue when I try to start gitui under ConEmu,  and I have reported it to ConEmu's issue, see here: [ComEmu can't shown the gitui's main window, but Cmder can · Issue #2297 · Maximus5/ConEmu](https://github.com/Maximus5/ConEmu/issues/2297)

[2021-03-16 23:00] asmwarrior commented on #577
I have updated that issue by more information, and it looks like another git cmd tool `lazygit` works inside the standalone ConEmu.

[2021-03-19 22:11] Tony1324 commented on #495
Is it that you are using 2 factor authentication on github? i had the same problem and you need to [generate a personal access token](https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token ) and enter that instead of your password

[2021-03-20 10:23] terhechte opened #594 "Why were `focus_workdir` and `focus_stage` removed?"
**Describe the bug**
The recent merge of [#575](https://github.com/extrawurst/gitui/commit/b5ef9b10f1e0e6e0c21a55d9083b4e40c1f759b8#diff-dd5ba1bca5a2e982ec6f7d24bac5d1b5588e12912d838585931ce9547411cccb) removed the ability to quickly switch between stage and workdir. I rely on these in my daily work, for example when I accidentally stage something and want to unstage it. Now I have to scroll to th

[2021-03-20 10:55] extrawurst commented on #594
Hi @terhechte I am not a fan of duplicated functionality, if find myself and users I talked to mostly use the up/down keys to navigate. if you have a very long list of items to scroll down to switch to the stage there is `Shift+Down` to go to the bottom right away. Are you sure this won't work for you?

Iff we re-add these special keys, we are going to need a fitting shortcut: `[s]tage` is taken,

[2021-03-20 13:32] terhechte commented on #594
The downside of Shift+Down is that I am loosing my current position / selection in Unstaged. Example: I'm staging a whole file as a series of some files. But then I realize I want to onstage it and only stage some lines. So I need to go to staging, unstage it, then go back to Unstaged and continue what I was doing. I'd prefer going back to where I was, not first having to go to the bottom of Unsta

[2021-03-20 14:26] extrawurst commented on #594
The *'not losing where I was'*-part makes sense me!
I like the *toggle* idea, lets take `g` for that. I am happy to accept a PR from a fellow Hamburger on this :)

[2021-03-20 15:16] terhechte commented on #594
Didn't know you were from Hamburg too! Somehow I had been thinking it was Berlin. I always wanted to attend the Rust meetup here but then Covid came and the remote meetups are not my cup of tea (after a workday in Slack and Zoom).

I created a PR with the functionality here https://github.com/extrawurst/gitui/pull/595

[2021-03-20 17:25] extrawurst opened #597 "push branch to its tracking remote"
right now, we always try to push to the *default* remote (see #544) even if the branch has an upstream already on another remote.

minor relation to #492

[2021-03-20 17:41] extrawurst commented on #590
Hi @shaneutt I never checkout discussions boards yet. I also did not work with any in other open source project. can you point me at a good example? right now I fail to see the use case that is not covered by discord for realtime and the issue tracker for formal conversations.

[2021-03-20 17:45] extrawurst commented on #453
@ffes actually this is exactly what I had in mind for this ticket. `fetch` will already do the prune of tracking branches, just like on the regular git cli.

[2021-03-20 17:47] #597 closed

[2021-03-20 17:53] #228 closed

[2021-03-20 17:55] extrawurst commented on #79
@alistaircarscadden @cruessler closing this hoping that #269 actually fixed this. please reopen if this is not the case

[2021-03-20 17:55] #79 closed

[2021-03-21 08:55] cas7breeder commented on #397
Just bumping this to not let the bot kill this; Using `wl-copy` on Wayland here. Great tool!

[2021-03-21 11:49] kaushalyap opened #599 "Recent versions not available on Fedora repos"
**Describe the bug**
gitui is not available on Fedora repos

**To Reproduce**
Steps to reproduce the behavior:

❯ sudo dnf install gitui
[sudo] password for user:
Last metadata expiration check: 0:20:26 ago on Sun 21 Mar 2021 16:56:54 +0530.
No match for argument: gitui
Error: Unable to find a match: gitui

**Expected behavior**
Installation of gitui on Fedora

**Context (please complete the follo

[2021-03-21 12:05] extrawurst commented on #599
Hi @kaushalyap the fedora releases are not officially maintained, I am not fedora user.
@ignatenkobrain was handling this so far (see https://github.com/extrawurst/gitui/pull/95)
It looks like at least gitui 0.11 should be available: https://bodhi.fedoraproject.org/updates/FEDORA-2020-b942f1a64f

If there are issues I depend on fedora folks to step up🤞

[2021-03-21 12:22] ignatenkobrain commented on #599
Sadly F33 was complicated for some reason (don't remember details)… I hope me or @decathorpe will get to update gitui and then we can build it for F33 as well.

[2021-03-21 17:37] #594 closed

[2021-03-22 13:09] shaneutt commented on #590
Here's an example of another Rust project that recently started using discussions:

https://github.com/clux/kube-rs/discussions

For realtime, discord may still be the best option.

This is where I think discussions can be useful: they can be a bit more flexible as to whether they're formal/informal (whereas issues by their nature are often formal) and operate more like forums.

I think discussion

[2021-03-23 13:58] kiuKisas commented on #81
up ?

[2021-03-24 08:37] RookiePC opened #602 "gitui crashes while try to show branches"
**Describe the bug**
just open the gitui under my repo directory, and when I try to switch to the branches view by pressing the B button on keyboard, the gitui crashes. and logs the error :

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. open gitui under my repo directory
2. press b
3. gitui crashed, and get error

**Expected behavior**
I don't know, maybe show the branches tree

**S

[2021-03-24 08:47] extrawurst commented on #602
@RookiePC thanks for reporting this. can you share your branch names so that I can reproduce this? it must be a branch with a multibyte unicode character in the name

[2021-03-24 10:16] extrawurst commented on #602
@RookiePC I found a clear problem with unicode truncation in there. can you build from latest master and check if it is fixed?

[2021-03-24 11:19] RookiePC commented on #602
Sorry about the late reply, I've built from the master and it works!

![image](https://user-images.githubusercontent.com/25848393/112301890-62e48c00-8cd5-11eb-9f96-242512e7c89f.png)

many thanks!

[2021-03-24 11:19] #602 closed

[2021-03-24 18:15] jamesb93 commented on #495
Enter that where?

[2021-03-24 19:53] non-descriptive commented on #495
We don't use 2fa, just regular ssh keys via vpn connection

[2021-03-24 21:23] spareslant commented on #584
+1 for this feature

[2021-03-24 23:46] beet commented on #591
Was a dependency on `grc` added with 0.12.0? I updated GitUI to 0.12.0 on 2021-03-11 while also upgrading git for the security vulnerability update: https://github.com/git/git/security/advisories/GHSA-8prw-h3cq-mghm

Prior to then, my commits made with GitUI were signed and verified correctly, but as of 0.12.0 they are not. So is this more of a regression than what looks like a feature request fro

[2021-03-25 08:31] extrawurst commented on #591
@beet I don't know what `grc` is, its not in the dependencies. commits made with gitui were never signed, this feature is still open as of #97

[2021-03-25 21:53] beet commented on #591
Hmmm, maybe I just thought it was signing commits because at work we're required to rebase a lot, which I do from the command line.

They only just made it a requirement to merge PRs that the commits are all verified, so I probably just hadn't noticed that some of my commits weren't actually signed.

[2021-03-26 10:18] extrawurst opened #605 "crash on line staging"
[code]

<img width="423" alt="image" src="https://user-images.githubusercontent.com/776816/112617219-f5e00c00-8e24-11eb-8916-a241a370af53.png">

[2021-03-27 21:16] #449 closed

[2021-04-01 12:02] alexherbo2 opened #611 "Add a link to Crossterm"
It could be nice to add a link to [Crossterm] in the config file.

https://docs.rs/crossterm/latest/crossterm/event/enum.KeyCode.html

[Crossterm]: https://github.com/crossterm-rs/crossterm

[2021-04-01 12:19] extrawurst commented on #397
@cas7breeder feel free to reopen it if you are about to submit a PR :)

[2021-04-03 11:19] #605 closed

[2021-04-04 21:07] extrawurst opened #613 "unittests do not run offline"
[code]

[2021-04-05 02:52] savchenko opened #614 "Panel shortcuts have disappeared in v0.13.0"
**Describe the bug**
Panel shortcuts have disappeared in v0.13.0, they were still present in v0.13.0-RC.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `gitui`.
2. Try to quickly switch between staged and unstaged changes on the first screen.
3. Fiasco.

**Expected behavior**
There are hotkeys to quickly flick between the panels in any given screen.

**Screenshots**

RC, hotkeys are st

[2021-04-05 03:02] realtica opened #615 "Doesn't works with SSH for remote(github)"
**Description**

The following error has thrown when I tried to push to remote server (github.com)

`git error:error authenticating: no auth sock variable; class=Ssh (23)`

**Expected behavior**

GIT CLI works fine!

**Context:**
 - Linux/Debian
 - gitui 0.13.0
 - rustc 1.51.0 (2fd73fabe 2021-03-23)

[2021-04-05 03:04] savchenko opened #616 "v0.13.0 reports its version as v0.12.0"
**Describe the bug**
Subj. In the help menu (<kbd>h</kbd>) and `--version` flag.

**Expected behavior**
v0.13.0 is being truthful about itself.

**Screenshots**
N/A, no opportunity to make a screenshot on current machine.

**Context (please complete the following information):**
 - OS/Distro + Version: Debian 11
 - GitUI Version: v0.13.0 release
 - Rust version: N/A, pre-compiled musl from GitHub

[2021-04-05 03:19] savchenko commented on #615
Can't reproduce. Which Debian version? Have you tried pre-compiled binary from GH? Are you using `ssh-agent`? If yes, please provide details of the agent setup.

[2021-04-05 07:30] extrawurst commented on #614
Duplicate of #594

[2021-04-05 07:30] #614 closed

[2021-04-06 15:21] extrawurst commented on #616
are you sure you are not looking at the rc binary?

[2021-04-06 15:22] extrawurst opened #617 "checkout remote branch"
now that we have the branchless it would be nice to switch to the remote branches and allow checking those out locally (automatically creating the appropriate upstream tracking)

[2021-04-06 16:16] #617 closed

[2021-04-06 16:30] extrawurst opened #619 "branchlist mis-alignment"
<img width="810" alt="Screenshot 2021-04-06 at 18 29 14" src="https://user-images.githubusercontent.com/776816/113745970-156d1380-9706-11eb-8e50-5acc8fdf1198.png">

[2021-04-06 16:51] #619 closed

[2021-04-06 21:35] extrawurst opened #622 "support deleting remote branch"
now that we can browse and checkout remote branches it would be nice to allow deleting a remote branch aswell.

little thread how this is done: https://stackoverflow.com/a/56719899/2458533

[2021-04-06 21:40] extrawurst opened #623 "do not list HEAD in remote branches"
<img width="1024" alt="image" src="https://user-images.githubusercontent.com/776816/113781588-3434cf80-9731-11eb-8614-16a3d7296c83.png">

[2021-04-06 21:47] extrawurst opened #624 "pull when offline deadlocks"
<img width="1392" alt="Screenshot 2021-04-06 at 23 40 27" src="https://user-images.githubusercontent.com/776816/113782246-35b2c780-9732-11eb-945b-6dc8e21687d1.png">

[2021-04-07 00:12] #475 closed

[2021-04-07 01:40] savchenko commented on #616
[code]

Downloaded pre-built from GH.

[2021-04-07 01:54] savchenko commented on #616
Building from `master` works as expected:

![07-Apr_11-24-04](https://user-images.githubusercontent.com/300146/113799222-d6859f00-9793-11eb-8a75-3876672e7e51.png)

[2021-04-07 08:10] extrawurst commented on #616
I do not know what happened there but the build process is automated for git-tags and the 0.13 tag has already the correct version set in the `cargo.toml`

[2021-04-07 08:10] #616 closed

[2021-04-07 08:57] #624 closed

[2021-04-07 16:46] jamesb93 commented on #594
This feels really weird. I don't want to change my workflow - I just want a key that takes me directly to the staging area. Is this coming back or settable?

[2021-04-08 00:44] savchenko opened #626 "Indicate active branch"
**Is your feature request related to a problem? Please describe.**
Currently active branch isn't shown.

**Describe the solution you'd like**
Display currently active branch, for example in the top-right corner.

**Describe alternatives you've considered**
Open a terminal, check there. Or exit `gitui`, check the branch and launch it again.

**Additional context**
N/A

[2021-04-08 07:52] extrawurst commented on #626
there are multiple places where the active branch name is shown, which `gitui` version do you see this lacking?

[2021-04-09 01:08] mckellygit commented on #496
@extrawurst Does git2-rs using libgit2 also bring in libssh ?

[2021-04-09 08:39] dnaka91 commented on #97
Sorry, I didn't have a chance to continue on this as I'm currently quite occupied with other things.

I definitely have this on my to-do list though.

[2021-04-10 08:36] extrawurst commented on #484
@cruessler any progress on this?

[2021-04-10 09:06] cruessler commented on #484
@extrawurst Yes, I’m planning to work on it this weekend and will likely be able to present the first results tomorrow.

[2021-04-11 11:17] #574 closed

[2021-04-11 11:22] extrawurst commented on #626
I cannot reproduce the problem, please reopen and add more detail if it still applies

[2021-04-11 15:45] extrawurst opened #630 "better visualisation of local/remote branches in popup"
lets try *tabs* like in the main screen to make it more clear that there is a different view for remote branches

[2021-04-11 16:01] extrawurst opened #632 "checkout already checked out remote branch"
right now we get an error when we try to checkout a remote branch *again* - it would be much nicer to go the list of local branches again and mark the local branch that tracks the remote branch.

we want a method that checks if there is a local branch that tracks the remote branch we currently have selected.
if that is the case we want to switch back to local branch view and select that branch ins

[2021-04-11 16:04] extrawurst opened #633 "use tree rendering for remote branches list"
right now its a list of entries that all start with the remote name.
for the same purpose we have the tree component already in the file lists that we should reuse

[2021-04-11 16:08] #623 closed

[2021-04-11 20:45] #630 closed

[2021-04-12 13:48] extrawurst opened #637 "fetch when no remote is set exits"
[code]

[2021-04-12 14:47] #637 closed

[2021-04-13 12:51] irmantas commented on #615
I have similar issues with private gitlab instance, cannot pull/push over SSH (git@my.private-gitlab.com:group/repository-name.git).
CLI works fine too.
MacOS Big Sur
gitui 0.14.0
installed via brew

[2021-04-13 17:35] yurivict opened #641 "Show history of individual files/directories"
**Is your feature request related to a problem? Please describe.**
No way to easily see history of changes of changes of one sub-sirectory or one file.

**Describe the solution you'd like**
Show the list of commits that affected a specific folder or a specific file with differences or versions of files before/after commits.

**Additional context**
I work with the FreeBSD ports directory repository

[2021-04-14 07:16] cemremengu opened #642 "Push fails with too many redirects or authentication replays"
As the title says push operation to a branch fails with:

`push failed:  git error: too many redirects or authentication replays; class=Http (34)`

**To Reproduce**
I just try to push to my branch (works fine in git bash)

**Screenshots**
![image](https://user-images.githubusercontent.com/1297759/114669174-4652d700-9d0a-11eb-8ced-13995adf1a76.png)

**Context (please complete the following informat

[2021-04-14 07:57] extrawurst commented on #642
people had that issue with `libgit2` in the past in other places:
* https://github.com/libgit2/libgit2sharp/issues/1168
* https://stackoverflow.com/questions/26145023/libgit2sharp-fetching-fails-with-too-many-redirects-or-authentication-replays

[2021-04-14 08:18] cemremengu commented on #642
Never encountered this before but pretty sure it is windows thing 😄

Thanks for your work by the way. This is much faster than the current git bash etc. tools on windows which were painfully slow

[2021-04-14 19:35] eriksixt opened #643 "Pressing enter in empty remote branch list leads to panic"
**Describe the bug**
In a new repository without any remotes configured, pressing ENTER in the empty branch list leads to panic (index out of bounds).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new repository
2. start gitui
3. Press `b` to bring up branch selection
4. Press `TAB` to switch to remote branch list
5. Press `ENTER`

**Expected behavior**
Application does not crash

[2021-04-14 20:08] #643 closed

[2021-04-15 11:54] ogoes commented on #641
Hi, I'm new here and with Rust, I really liked your suggestion. I would like to write some code, can I start with this feature?

[2021-04-15 11:55] ogoes commented on #622
Can I dive into it?

[2021-04-15 12:01] extrawurst commented on #622
@ogoes absolutely 👍

[2021-04-15 12:06] extrawurst commented on #641
this is actually on the roadmap to release `1.0` and was tracked in #381 (before eager stale-bot closed it) this is only an implementation detail allowing folder and not just *specific file* to get the commit log of. so I will close this as a duplicate for now.

[2021-04-15 12:06] #641 closed

[2021-04-16 12:09] weihanglo commented on #484
Wow. Really looking forward to this issue being addressed!

I want to stretch this feature a bit: Is there any change to implement a subcommand to launch blame view directly? Such as `gitui blame <file>`. I find it useful when integrating with other terminal tools.

Here are a example of tig integration with neovim. It will launch blame view for line under current cursor:

[code]

[2021-04-16 13:20] extrawurst commented on #484
@weihanglo thanks for your interest, I see your idea as a separate feature request. the first iteration of file-blame should be focused on getting that right so that it rocks. whether we allow opening gitui to go to specific views right on start depending on command line arguments is a different story in general.

[2021-04-16 13:45] willir commented on #429
This feature is actually pretty important to me. And as far as I can tell the pull request is in progress, so just posting to keep the issue open.

[2021-04-16 13:50] extrawurst commented on #429
@willir thanks for your interest, unfortunately the PR seems abandoned. feel free to pick it up :)

[2021-04-16 13:54] willir commented on #429
@extrawurst, Oh, I see. Thanks for the quick response! I'll try to find time to finish that PR.

[2021-04-16 15:41] WizardOhio24 commented on #429
Yeah, author of the PR here, I haven't found the time to finish it (not abandoned, but halted), currently the feature is implemented, it works (instructions are in the PR(https://github.com/extrawurst/gitui/pull/506)) but the code needs refined, some of the functions are quite big. I'm going to be pretty busy for the next month but after that I would be able to finish it.  But feel free to take it

[2021-04-16 18:50] extrawurst commented on #590
for now I feel like it would be overkill and just another platform to maintain for (mostly) me. I like the formality of issues that require a little effort for people to put in and welcome everyone to join the discord server if informal exchange is required. both is actually searchable and allows pinning and linking for easier discoverability.

[2021-04-16 18:50] #590 closed

[2021-04-16 18:51] extrawurst commented on #590
we can revisit this if traffic or demand justifies this in the future

[2021-04-16 18:57] extrawurst commented on #560
upstream required to be extended first: https://github.com/rust-lang/git2-rs/issues/696

[2021-04-19 18:27] JacobTravers opened #650 "Custom Pager Integration (delta, diff-so-fancy, etc)"
I think it would be really awesome if we could add an integration for custom pagers like [delta](https://github.com/dandavison/delta) or [diff-so-fancy](https://github.com/so-fancy/diff-so-fancy) in the same way [lazygit does](https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md) with a config option.

[2021-04-21 10:13] alexherbo2 opened #652 "Add a separator to visualize commit message from extended description"
In the log view, we see the following commit message:

[code]

as:

[code]

It could be nice to render as:

[code]

[2021-04-21 10:35] extrawurst commented on #652
That actually looks like a bug.

[2021-04-21 12:35] extrawurst opened #655 "cleanup some stringly typed code"
now that https://github.com/rust-lang/git2-rs/commit/ae256db3b27dd7dedab02fa5c051bd7adedf7de7 was released we can switch our usage of the diff line types to enum values:
used for diff and line-ops OTOH

[2021-04-21 13:03] #484 closed

[2021-04-21 13:20] extrawurst opened #656 "improve blame"
@cruessler thanks for implementing blaming! now that https://github.com/extrawurst/gitui/issues/484 landed there are a few things that I noticed:

- [ ] blame key should be capital `B` to be unique across the entire app and different to `branches`
- [ ] scrollbar (we have some helpers to draw them already)
- [ ] the current commit hash of the file being blamed (in the title) says `HEAD` although i

[2021-04-21 14:36] extrawurst opened #657 "branchlist bugs"
* ~~checking out a remote branch does not refresh branchlist (so it does not show up when switching to locals)~~ (can't reproduce anymore)
* the scrollbar is off (maybe related to #663)
<img width="761" alt="Screenshot 2021-04-24 at 14 08 24" src="https://user-images.githubusercontent.com/776816/115958167-926dfa80-a506-11eb-9cb3-b0b091bf0690.png">

[2021-04-22 23:28] kting28 commented on #81
Still a planned feature?

[2021-04-24 12:02] extrawurst opened #661 "async blame"
thanks to @cruessler https://github.com/extrawurst/gitui/pull/660 is fixed now and the last bit before being able to release file blaming is: make it non-blocking.

right now calculating a file blame blocks the entire app. we have mechanisms for a few other async git operations, we should apply the same conecept here too.

[2021-04-24 12:02] #656 closed

[2021-04-24 12:54] extrawurst opened #663 "scrolling in commit msg is broken"
initially added in #208 but now broken:

![ezgif com-optimize](https://user-images.githubusercontent.com/776816/115959445-88e79100-a50c-11eb-9267-683389fa639e.gif)

[2021-04-24 12:55] #652 closed

[2021-04-24 13:08] alexherbo2 commented on #652
I liked to see whether a commit had an extended message.  We could easily see references and spot auto-squashed messages.

[2021-04-24 13:23] extrawurst commented on #652
@alexherbo2 that would be a new feature, please open a new issue with a suggestion how to indicate that

[2021-04-24 13:34] alexherbo2 commented on #652
Not sure how it differs from _Add a separator to visualize commit message from extended description_.

I mean I was happy before, just a separator would have been enough. xd

[2021-04-24 13:44] extrawurst commented on #652
before #662 it was a bug, I dont know when this was introduced but the expected behaviour was that only the subject line is shown in the commit log.

what you want is a feature and has less priority and also needs a concept of how to visualise, so its a less low hanging fruit and requires a dedicated issue, which I would label *good first issue* and see if anyone picks it up. if you like feel free

[2021-04-24 13:51] extrawurst opened #665 "introduce EventState enum"
`Component::event` returns a `bool` right now marking whether an event was consumed or needs further propagation. this should be a n `enum EventState { Consumed, NotConsumed }`

[2021-04-24 18:45] eriksixt commented on #615
Got a similar problem on macos:
`git remote -v
origin	git@gitlab.com:eriksixt/my-repo.git (fetch)
origin	git@gitlab.com:eriksixt/my-repo.git (push)`

Trying to push via gitui:
`Error
push failed:
git error:Bad credentials.`

Pushing via git cli works fine.

MacOS Big Sur
gitui 0.14.0
installed via brew

[2021-04-25 11:35] #661 closed

[2021-04-25 12:09] #663 closed

[2021-04-25 12:17] #655 closed

[2021-04-25 12:26] extrawurst opened #670 "new up-to-date demo gif"
the current `demo.gif` dates back to gitui `0.7` (July 2020) and could use some refresh and maybe even some professional hand that adds some subtitles that explain what you see.

[2021-04-25 19:20] willir commented on #429
Hi @WizardOhio24 @extrawurst, I've created a new pull requests #672 with some comments fixed. I'll try to find time to fix other comments a bit later.

[2021-04-26 07:57] extrawurst opened #673 "blame (sometimes) slow"
@cruessler I use the linux repo as a worst case git repo often to benchmark. doing a blame on `include/uapi/linux/netfilter/xt_MARK.h` takes incredibly long. we should look into this. (hope its not the underlying `libgit2` to blame):

`gitui.log`:
[code]

git cli blame:
[code]

[2021-04-26 09:33] #665 closed

[2021-04-26 12:37] #546 closed

[2021-04-26 15:31] cruessler commented on #673
I just had a look at the issue (also using the linux repo). On my machine, `repo.blame_file` seems to be responsible for the wait. As far as I could see, no other call even came close to having an influence.

[2021-04-26 15:43] extrawurst commented on #673
Seems a known issue: https://github.com/libgit2/libgit2/issues/3027

[2021-04-26 15:59] cruessler commented on #673
One solution I found would be to shell out to `git` and parse the output: https://github.com/Arrowbox/git-whoknows/commit/70ca833a6f957a0b7a42d6aaff4c0c9dddc3a47b. But that would mean having `git` installed as a dependency.

[2021-04-26 16:01] extrawurst commented on #673
that is not an option. we made it this far without that :)
I'd rather checkout optimising the blame algorithm inside `libgit2`

[2021-04-27 08:58] cruessler commented on #483
@extrawurst I’d like to start working on this. I also think that introducing another tab seems like a good idea.

[2021-04-27 09:12] extrawurst commented on #483
@cruessler take a go at it :)
I find a popup more fitting to be honest. similar to the branch list (list, rename, delete, ..) - in particular because I'd like quickly jump to the tag's commit in the log then. decoupling the tags-list and the log makes not much sense in my opinion.
what do you think?

[2021-04-27 13:03] #657 closed

[2021-04-27 20:04] arkag commented on #615
Same issue for me. Pushing to a self-hosted gitlab instance over SSH. Using a `cargo install`'d version of gitui on WSL Ubuntu 20.04.

![image](https://user-images.githubusercontent.com/6749810/116305812-86ca4000-a761-11eb-9c94-c9f6c05ca804.png)

[2021-04-27 21:19] laktak opened #675 "Git Commit Message History"
**Is your feature request related to a problem? Please describe.**

When my commit is aborted (e.g. by a commit hook), my commit message is lost.

**Describe the solution you'd like**

It would be nice to restore at least the last commit message. Maybe a history?

[2021-04-28 07:30] eriksixt commented on #615
I think we are looking at two different issues here. I figured out my "Bad Credentials" issue on macOS.

Recap:
- Repo was cloned via ssh
- Pulling and pushing works via git cli
- gitui however complains about bad credentials

Turned out it has nothing to do with gitlab in my case. I checked if my private key was loaded correctly into the ssh-agent via `ssh-add -l`. But no keys are loaded. However

[2021-04-28 13:02] irmantas commented on #615
@eriksixt thanks a lot adding key to ssh-agent fixes `Bad credentials` issue for me too

[2021-04-28 14:01] arkag commented on #615
Yep, adding the key to ssh-agent fixed the issue for me as well.

[2021-04-28 14:07] extrawurst commented on #615
@realtica how about you?

otherwise I also found something on nodegit (is also based on `libgit2`) that might be relevant: https://github.com/nodegit/nodegit/issues/1085

[2021-04-29 06:56] bhaak commented on #650
If for technical or whatever reasons you prefer an integrated Rust solution, https://github.com/mookid/diffr has a library component.

[2021-04-29 13:32] tpo commented on #381
I'd like to add that it'd be nice if gitui had a file browser view/tab which would tell me which files/dirs are committed, staged, dirty (there's a diff), (... have merge conflicts), where I can press a key and see the diff, the history, blame, etc.

Ah, it's not hard to be wanting things ... :-)

Thanks for gitui!

[2021-04-29 13:35] extrawurst commented on #381
@tpo  I am not sure how the current `Status`-tab is not providing you a way to see what is staged or *dirty*? the rest is not covered yet, that's true.

[2021-04-29 13:56] tpo commented on #381
Hi @extrawurst

Yes it is. However what I am missing is a view that is first and foremost file based. Not based in the first place on whether something is dirty or staged.

That said - this is my first impression: my first reaction when starting gitui was "uuuhm, where are my files?" and I instantly started searching whether there's a tab or keystroke that would bring the respective view up.
the r

[2021-04-29 19:32] extrawurst commented on #381
@tpo I agree such a tab would have some use, but considering my most used git GUIs none of them focuses on such a view as a primary one. almost all (lazygit, tig, fork) focus on either *uncommitte changes* or *revlog*. dunno about tig/lazygit but in fork a file-tree is only accessible via a specific commit.

long story short, such a file tree has no super high priority for me personally right now.

[2021-04-29 19:59] extrawurst commented on #650
duplicate of https://github.com/extrawurst/gitui/issues/358

[2021-04-29 19:59] #650 closed

[2021-04-29 20:00] extrawurst commented on #584
duplicate of https://github.com/extrawurst/gitui/issues/358

[2021-04-29 20:00] #584 closed

[2021-04-29 21:06] laktak commented on #381
While I agree that it's not the most important feature it would be nice to select a path and do a git log on it.

[2021-04-29 21:30] extrawurst commented on #381
Getting a file history as requested by @jarod is on the `1.0` roadmap. PRs welcomed :)

[2021-04-30 13:21] #478 closed

[2021-04-30 13:23] extrawurst commented on #478
looks like this now:
![Screenflick Movie 5](https://user-images.githubusercontent.com/776816/116701217-f0e41e80-a9c7-11eb-899b-741a212148af.gif)

[2021-04-30 13:26] savchenko commented on #478
I wonder how the 2nd line has appeared. Have you merged/implemented shift+enter somewhere in-between? :)

[2021-04-30 13:28] extrawurst commented on #478
that's what the external editor support is currently used for:
<img width="136" alt="image" src="https://user-images.githubusercontent.com/776816/116701824-a616d680-a9c8-11eb-8e54-414faa5553c3.png">

[2021-04-30 13:30] savchenko commented on #478
Subscribed. Thank you!

[2021-04-30 13:30] extrawurst commented on #633
@sum12 feel free to take a go at it, but note that this is by no means a *good first issue*. since it involes not only visualization but also all the navigation needs adjustment so that commands are sensitive whether you are currently selecting a node or a leaf in the tree.

[2021-05-01 23:38] pkieltyka opened #677 "Theme colors"
Hi there, wonderfully executed project!

One question however, I'm using "robbyrussell" zsh theme.. which looks like:

![image](https://user-images.githubusercontent.com/18831/116797506-7e9d3800-aab4-11eb-91ab-ead78a09b6c9.png)

However, the theme of gitui is very difficult to read as you can see the bottom bar:

![image](https://user-images.githubusercontent.com/18831/116797511-8f4dae00-aab4-11eb

[2021-05-01 23:44] extrawurst commented on #677
The bottom bar background color is using what's called `selection_bg` in the theme file. Changing that should help you

[2021-05-01 23:52] pkieltyka commented on #677
got it, Rbg() has been helpful.

What does "Indexed" do btw?

perhaps would be nice to update the themes doc to include the color options, and also mention any other hints, or even drop a few theme ron files

[2021-05-01 23:52] #677 closed

[2021-05-03 20:22] sum12 commented on #633
well you were right about it. I will look for something else.

[2021-05-04 09:31] extrawurst commented on #505
probably related to #495

[2021-05-04 09:31] #505 closed

[2021-05-04 09:32] extrawurst commented on #495
is this maybe a dup of #615 ?

[2021-05-04 19:39] RexTremendae opened #679 "Different behavior on create and rename branch dialogs"
**Describe the bug**
In the branch dialog, the create and rename pop-ups have inconsistent behavior. The rename is a pop-up on top of the branch dialog, but the create pop-up closes it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the branches dialog from either `Status[1]` or `Log[2]`
2. Select `Create Branch`
3. Press `Esc` to cancel the dialog

**Expected behavior**
I should come

[2021-05-04 20:01] RexTremendae opened #680 "Authentication error"
**Describe the bug**
Authentication fails from gitui, but the same operation works just fine from the git CLI. In this example I tried to push a new branch to my forked gitui-repo on GitHub.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new branch from the branches dialog
2. From the Status tab in the main view, press [p] push the branch to remote
3. Branch is not pushed because o

[2021-05-04 20:04] RexTremendae commented on #680
Just found #495 which seems to be the same issue. Sorry for being too quick... But on the bright side, more user data :D

[2021-05-04 20:09] extrawurst commented on #680
Closing in favor of #495

[2021-05-04 20:10] #680 closed

[2021-05-04 20:13] extrawurst commented on #679
Sounds like a reasonable improvement

[2021-05-05 15:43] sum12 commented on #588
`TagCommitComponent` does not return anything however `CredComponent` needs to "return"  a creds object. So I dont see a way to return anything once an event the to show the `CredComponent` has been added to the `queue` (like `TagCommit`).

Also since each of the 3 have their own copy of `CredComponent` they can call `set_cred` but once `CredComponent` is pulled out of these 3 components, then the

[2021-05-05 15:53] sum12 commented on #588
how about `RC` like `theme` and `key_config`  ?

[2021-05-05 22:13] extrawurst opened #682 "Smarter Log timestamp"
Everything within the last hour can be *X min ago*

The same day can show the time like *15:34:30*

The rest remains the same

[2021-05-06 11:12] VictorKoenders commented on #495
I have the same issue when connecting to a local git server through ssh

<details>
<summary>~/.cache/gitui/gitui.log </summary>

[code]

</details>

<details>
<summary>.git/config</summary>

[code]

</details>

From commandline:

[code]

[2021-05-06 11:23] extrawurst commented on #176
now that https://github.com/libgit2/libgit2/issues/3053 was merged there is a light at the end of the tunnel for this. we now only need to update https://github.com/rust-lang/git2-rs to be using the newest `libgit2` master and then we can see if this fixes the issue. any volunteers?

[2021-05-06 12:02] extrawurst commented on #682
<img width="726" alt="Screenshot 2021-05-06 at 13 59 44" src="https://user-images.githubusercontent.com/776816/117294811-5e35fa80-ae73-11eb-92a2-f485bb67ab4f.png">

[2021-05-06 12:11] #682 closed

[2021-05-06 16:26] Logarithmus opened #684 "Create remote branch and make local branch track it on first push"
**Is your feature request related to a problem? Please describe.**
In plain `git` I can use `git push -u origin <branch_name>` to set upstream branch and push in a single command. Unfortunately, I didn't find similar functionality in `gitui`.

**Describe the solution you'd like**
I'd like `gitui` to create remote branch and make local branch track it automatically on first push to this branch.
For

[2021-05-06 16:32] extrawurst commented on #684
if you push a branch that you created locally it automatically pushes to origin/<branchname> and sets the local remote tracking branch accordingly. can you check if that does what you expect?

[2021-05-06 17:30] Logarithmus commented on #684
Sorry for bothering you, the problem was in wrong `refspec` specified in `.git/config`. I cloned that repo with `--depth` option.

[2021-05-06 17:30] #684 closed

[2021-05-07 06:59] oakmegaeddie opened #685 "Show the branching structure in the log."
**Is your feature request related to a problem? Please describe.**
It can be useful seeing the branching/merging structure in the log view, in a similar way to `git log --oneline --decorate --graph`

**Describe the solution you'd like**
The graph view visible in the log window.

**Describe alternatives you've considered**
I haven't got any other alternatives other than not doing it. :-)

**Additio

[2021-05-07 07:03] extrawurst commented on #685
Let's keep track of this in the old ticket, since we link that from the roadmap in the reader already.

[2021-05-07 07:03] #685 closed

[2021-05-07 09:57] Logarithmus opened #686 "Is branch merging and rebasing actually supported?"
Hello again! I continue learning `gitui`, but unfortunately didn't find how to merge and/or rebase branches. I see only `checkout` option in branches popup.
Related: https://github.com/extrawurst/gitui/issues/302, https://github.com/extrawurst/gitui/issues/91

[2021-05-07 09:59] extrawurst commented on #686
you cannot merge arbitrary branches into your current branch yet, no.

[2021-05-07 10:06] Logarithmus commented on #686
Is anyone working on this feature?

[2021-05-07 10:08] extrawurst commented on #686
no because it kind of depends on #485 to first land, so that not only *super-happy-path* merges work

[2021-05-07 14:30] sum12 commented on #588
@extrawurst I made a draft #688.
let me know if its going in the correct direction.

[2021-05-07 15:00] extrawurst commented on #176
https://github.com/rust-lang/git2-rs/issues/703 is merged, just waiting for a git2-rs release to benefit from it

[2021-05-07 16:48] WizardOhio24 commented on #483
Was going to mention, filtering by tag (so making a "tag-log") with `:t` is part of the search/filter functionality in #672 (continued from #506).  So a popup might be better, but I'd question if it would even be necessary (after the search functionality is added, considering you can filter commits by/for tags).  Perhaps just to jump to a commit with a specific tag?  (or should that be implemented

[2021-05-08 11:12] extrawurst commented on #176
@nbusseneau could you build `gitui` from source off of branch `fix-176-win-maxpath` and check if this fixes your problem?

Of course anyone willing to help with access to a windows machine and a repo that contains such ling file names is welcome to help and check if #689 fixes the issue

[2021-05-08 15:13] nbusseneau commented on #176
Not sure if that's the right way to do it (first time using Rust here) but I cross-compiled from WSL using the `x86_64-pc-windows-gnu` target. It seemed less of a hassle than installing MSVC build tools + Windows SDK.

I don't have access to the original repo causing this issue anymore as it was an internal repo at my previous company, but we can use the minimal reproduction steps outlines in OP t

[2021-05-08 15:35] extrawurst commented on #176
can you do some more tests:
* putting the big ass file In a subfolder `tmp/<longfilename>` and using *stage* on the folder
* trying `stage all`

I will try writing a unittest (my only win machine is the CI)

[2021-05-08 15:41] nbusseneau commented on #176
- Having an intermediate folder: we already have `long_filename` in `long_dirname`, but I did try with a small bogus `tmp` container just in case: it does not work either.
- `Stage all` triggers the same error.

[2021-05-08 15:42] extrawurst commented on #176
@nbusseneau thanks for testing 🤙

[2021-05-08 16:08] extrawurst commented on #176
@nbusseneau if you have time to help me get to the bottom of this please join our discord, as you can see even creating a file with such a long name fails in my unittest (on windows): https://github.com/extrawurst/gitui/pull/689

[2021-05-08 17:18] extrawurst commented on #176
@nbusseneau ok I got the test to cover adding a long filename just like it should happen in your case (in the root folder, not folder for now):
<img width="843" alt="Screenshot 2021-05-08 at 19 16 43" src="https://user-images.githubusercontent.com/776816/117547806-eeba3980-b031-11eb-8a42-94f83b14979e.png">

now comes the kicker: this test works on the windows ci!
can you checkout the branch again

[2021-05-08 20:23] JacobTravers commented on #100
Could we reopen this issue as a feature request and at least keep it in the backlog?

I store my dotfiles in a [git bare repository](https://www.atlassian.com/git/tutorials/dotfiles), and many of my friends do as well. [Lazygit](https://github.com/jesseduffield/lazygit) already has [this feature](https://github.com/jesseduffield/lazygit/pull/1023) and it's pretty much the only thing that keeps me

[2021-05-08 21:43] extrawurst commented on #100
Well this ticket is part of the backlog :)
If you ever feel like it come and join me by contributing this feature, I’d for sure take it.

[2021-05-09 16:29] extrawurst opened #691 "windows hooks not working in vanilla powershell"
related #235 #313

it appears that running `gitui` in vanilla powershell (no `git bash`, no `wsl`) fail:

[code]

[2021-05-09 16:41] extrawurst opened #692 "error handling in input thread"
only a bunch of `expects` no logging

[2021-05-09 17:11] extrawurst opened #694 "windows git-bash input problem"
running gitui inside windows git bash does not seem to react to any sort of input

[2021-05-09 17:13] #692 closed

[2021-05-09 17:20] extrawurst commented on #694
seems rooted in upstream crate crossterm: https://github.com/crossterm-rs/crossterm/issues/568

[2021-05-09 17:22] extrawurst opened #695 "add bugreport cmd line argument"
this should only print diagnostics to simplify adding the needed info to an issue.
after printing this the app closes.
investigate using `bugreport` crate: https://github.com/sharkdp/bugreport

[2021-05-09 19:55] extrawurst commented on #485
turns out git2-rs lacks support for: [git_repository_mergehead_foreach](https://libgit2.org/libgit2/#HEAD/group/repository/git_repository_mergehead_foreach) (issue: https://github.com/rust-lang/git2-rs/issues/705)

we need that to be able to figure out which branch is currently about to be merged

[2021-05-09 20:55] extrawurst commented on #485
update:

1) we now can merge in arbitrary branches from the branch list
2) we can undo a ongoing merge state (revert/reset, cleanup repo)

what's left to do:
* [ ] asking to do a merge commit right away if no conflicts
* [ ] helping with the typical merge commit msg if manually committing the merge

[2021-05-09 20:56] extrawurst commented on #686
@Logarithmus as of 4f6aceb merging a branch is supported, but there is a bit of stuff missing: https://github.com/extrawurst/gitui/issues/485#issuecomment-835887226

[2021-05-10 21:33] nbusseneau commented on #176
Directly creating a long filename directly will always fail, if you want to be able to go over the limit you need to use tricks. One of them is creating a folder with a long-but-not-quite-at-the-limit name, a file with a long-but-not-quite-at-the-limit name, then move the file in the folder, as in the repro steps:

[code]

This works because the filename is 136 char long, the dir name is 140 char

[2021-05-10 21:49] extrawurst commented on #176
Interesting, I had a vm setup in under an hour. Anyhow I have up after wasting a few hours on this over the weekend. The branch is there to be picked up someone how cares more :)

[2021-05-10 23:36] extrawurst commented on #483
Any update from your side?

[2021-05-10 23:39] extrawurst commented on #483
Searching/Filtering is a different use case to having a dedicated UI to list tags and targeted tag-specific functionality.

[2021-05-11 04:48] cruessler commented on #483
@extrawurst Yes, I'm planning on presenting a first version in the next few days! I would go with a popup and make it similar to the one for branches so that they feel consistent.

[2021-05-11 10:23] nbusseneau commented on #176
Oh well, perhaps they fixed the toolchain since that time! I'll look into that when I have some free time.

[2021-05-12 09:23] extrawurst commented on #485
ok update:

1) we can commit a merge now
2) we make use of standard MERGE_MSG file to repopulate merge commit msg

that leaves us with only a few small todos:

* [ ] do ff merge if possible and desired
* [ ] remove limitation that a pull has to be conflict free

[2021-05-12 13:26] extrawurst commented on #485
closed with b550ba4

[2021-05-12 13:26] #485 closed

[2021-05-14 15:52] zcorniere commented on #695
Hello ! May I take this issue, please ?

[2021-05-14 16:23] fernandoacorreia opened #706 "Move to Stage Changes pane after adding all unstaged changes"
**Is your feature request related to a problem? Please describe.**
When am In in the Unstaged Changes pane, and I add all files (via "a" or by using Enter on all of them), the next step in the workflow is always to use the down arrow to move to the Stage Changes pane, where I can commit.

**Describe the solution you'd like**
After an "add" operation (a or Enter) that adds the last unstaged change,

[2021-05-14 20:03] extrawurst commented on #695
@zcorniere absolutely 👍🏻

[2021-05-15 09:45] extrawurst commented on #706
@fernandoacorreia good idea👍

[2021-05-16 11:52] extrawurst opened #708 "tree collapse/expand recursive"
![Screenflick Movie 12](https://user-images.githubusercontent.com/776816/118396047-e7a4b400-b64d-11eb-9897-a320dc0e3940.gif)

[2021-05-16 12:13] #695 closed

[2021-05-16 12:17] #613 closed

[2021-05-16 12:22] extrawurst opened #711 "Add new line support for multi-line input box"
this is almost done in #509 by @WizardOhio24 - someone just needs to bring it to the finish line

[2021-05-16 13:41] mmahmoudian commented on #100
@JacobTravers Thanks for the Lazygit :+1: I played with it for few minutes and seems it matches my needs regarding bare repos. I'm not a big fan of Go, but functionality comes first.

[2021-05-16 20:03] extrawurst opened #714 "inspect file tree at revision"
a fullscreen popup (just like the file blame) that allows inspecting the entire file tree of the repo in a particular revision. this can be opened from the revlog.

features:
* [x] open files tree from log / commit detail
* [x] reusable and more efficient file-tree view (with recursive collapse/expand)
* [x] new reusable tree nav common bar entry with proper help text
* [x] go into blame of a sele

[2021-05-16 20:05] #706 closed

[2021-05-17 07:06] ffes commented on #440
Bad bot... 😞

Still doesn't work

[2021-05-17 07:56] extrawurst commented on #440
@ffes feel free to take a go at this

[2021-05-17 07:58] extrawurst commented on #694
probably a dup of https://github.com/extrawurst/gitui/issues/440

[2021-05-17 08:08] ffes commented on #440
@extrawurst If it was written in a language I know I might have given it a go, but Rust is not a language I know.

[2021-05-21 11:25] Cottser opened #719 "Selected tab is hardcoded to white and cannot be changed via theme"
**Describe the bug**
The selected tab is not overrideable via the theme, and in addition it is hardcoded to white since around v0.11.0-rc1.

I recently have been trying a light theme, that's how I noticed this.

I will be submitting a PR to at least remove the hardcoding to white, and if you'd like I can also restore the previous coloring of `selected_tab` but probably needs discussion.

**To Repr

[2021-05-21 12:54] extrawurst opened #721 "refactor filetree"
since https://github.com/extrawurst/gitui/pull/718 landed we have a new more performant/maintainable filetree. it is currently only used for the file-tree-view. we should switch it in for the old statustree aswell (for this we need to extend it to support containing actual data to piggy bag)

* [ ] throw away old tree
* [ ] add scrollbar support to places we use this one

[2021-05-21 15:54] extrawurst commented on #708
implemented via 0e31d57

[2021-05-21 15:54] #708 closed

[2021-05-21 17:19] Cottser opened #722 "selected_tab in theme.ron might not do anything"
**Describe the bug**
The selected tab does not appear to be overrideable via the theme. (theme.ron has a `selected_tab` key)

**To Reproduce**
Steps to reproduce the behavior:
1. Edit theme.ron to change `selected_tab` to something wacky (I suggest `Red` or `Magenta` or `Cyan`)
2. Launch `gitui`
3. Open up various parts of the UI, and check for your color override (I couldn't find it anywhere)

**

[2021-05-21 21:13] extrawurst commented on #722
Thanks! closed via #723

[2021-05-21 21:13] #722 closed

[2021-05-21 21:34] extrawurst commented on #719
closed via #722

[2021-05-21 21:34] #719 closed

[2021-05-21 22:52] extrawurst commented on #714
MVP done

![Screenflick Movie 13](https://user-images.githubusercontent.com/776816/119205193-db7a8580-ba97-11eb-8256-5c72c8c99796.gif)

[2021-05-21 22:52] #714 closed

[2021-05-21 22:54] extrawurst opened #725 "integrate syntax highlighter in file-tree-view"
based off of https://github.com/extrawurst/gitui/issues/714

[2021-05-21 23:09] extrawurst opened #726 "tree view panics in a non-utf8 file"
linux repo, first revision, root file:

[code]

[2021-05-22 11:36] #726 closed

[2021-05-23 00:46] extrawurst commented on #725
map is done:

![Screenflick Movie 15](https://user-images.githubusercontent.com/776816/119244434-fcfb7000-bb70-11eb-8bc8-6259aea4264d.gif)

left to do:
* [ ] scrollbar
* [ ] a bunch of //todos
* [ ] make git file fetching async aswell

[2021-05-23 08:32] MagicDuck opened #728 "open_commit_editor missing/not working"
**Describe the bug**
can't see the open_commit_editor command in the commands section at the bottom, and can't activate it when pressing hte key bind configured in key_config.ron
[code]
Pressing 'e' to edit a file in vim works...

**To Reproduce**
Steps to reproduce the behavior:
1. configure key_config.ron as above
2. open gitui, move to Staged Changes pane
3. try to press 'c'

**Expected behavio

[2021-05-23 09:07] extrawurst commented on #728
For obvious reasons you cannot use a key bind to open the external editor that is a valid text input character.

[2021-05-23 09:33] extrawurst commented on #728
I will use this issue as an opportunity to extend the comment in the vi key bindings to make this more clear

[2021-05-23 09:35] #728 closed

[2021-05-23 17:22] MagicDuck commented on #728
@extrawurst I am so dumb, when I wrote this I didn't realize you have to be in the commit window context in order to open in external editor. In my case, I always open in external editor because I have some vim magic that uses the part of the branch name to create a template. Would it be possible to commit with external editor from the top level without committing first?

[2021-05-23 17:53] extrawurst commented on #728
not right now and I also do not see the huge upside of this

[2021-05-23 21:44] extrawurst commented on #725
next update:

![Screenflick Movie 16](https://user-images.githubusercontent.com/776816/119277582-d39a1d00-bc20-11eb-9f6d-b8ca285d6b6c.gif)

[2021-05-24 00:26] extrawurst opened #730 "File Tree Tab"
based on the work in #714 we can now offer a tab that allows to browser the repo tree in current `HEAD` revision

[2021-05-24 00:53] extrawurst commented on #81
A few ideas how this could be visualized: https://stackoverflow.com/questions/1057564/pretty-git-branch-graphs

[2021-05-24 04:01] MagicDuck commented on #518
@extrawurst I think the problem might just be the file name. When committing through gitui, it sets the file name to `gitui/COMMITMSG_EDITOR`. Using the name that @savchenko mentions above `.git/COMMIT_EDITMSG` should allow it to work correctly in theory. Actually, even `gitui/COMMIT_EDITMSG` should work according to this: https://github.com/neovim/neovim/blob/0a653f7ab98dfc05bf0532b9f81bc19377031

[2021-05-24 04:05] MagicDuck commented on #728
pressing `c` followed by `<C-e>` each time one wants to commit is really awkward. It's too bad since all the other navigation within gitui is amazingly smooth... 😢

[2021-05-24 04:19] MagicDuck opened #731 "question: Diff pane: is there a command to jump between hunks or scroll a set number of lines?"
**Is your feature request related to a problem? Please describe.**
Was looking for a command to jump between hunks, I see page_up & page_down, but nothing more granular (except <up> and <down> arrows)

**Describe the solution you'd like**
some command to move between hunks or scroll up/down like 10 lines at a time

**Describe alternatives you've considered**
not sure there's any

**Additional cont

[2021-05-24 08:03] extrawurst commented on #731
No we do not have such a command. We also have no way to define such combo commands necessary to do that. So far I never missed such a feature since we have up/down, paging and home/end. Might be more a habit for vim users and the fact that this is a common navigation method there.

[2021-05-24 08:34] extrawurst commented on #518
thanks for the hint, I think #733 fixes this now

[2021-05-24 08:37] #518 closed

[2021-05-24 09:07] #725 closed

[2021-05-24 09:08] extrawurst opened #734 "make git tree file fetch async"
followup to #725

[2021-05-24 20:20] muman613 commented on #673
Just started using libgit2 with the hopes of using it to automate extracting blame info from git repos. Found it it takes a VERY LONG time to run a blame using libgit2 compared to running `git blame`. I was hoping to find a way to speed it up... Looks like Im not the only one.

[2021-05-24 20:28] muman613 commented on #673
For the record, I just observed a release build (from source) example `lg2 blame` take 3 minutes and 12 seconds to extract the blame report compared to the `git blame` report which is generated in .094 seconds....

Seriously that is dismal performance. Not that it is anyones fault, but I cannot use this in a real world situation with such a delay to just extract the blame information. I will be de

[2021-05-24 22:09] extrawurst commented on #686
Closing as duo of #32 now - merge is supported by now

[2021-05-24 22:09] #686 closed

[2021-05-24 22:11] extrawurst commented on #673
This has to be fixed upstream in libgit2

[2021-05-24 22:11] #673 closed

[2021-05-24 22:15] extrawurst commented on #633
Will be significantly easier after https://github.com/extrawurst/gitui/issues/721

[2021-05-24 22:39] extrawurst opened #738 "Commit {branch}"
Better Lay-out for where to put the branchname in the commit dlg

[2021-05-26 10:36] 1bharat commented on #495
I was able to fix this `bad credentials` issue by adding the following to ~/.ssh/config. User is important.

[code]

[2021-05-26 12:35] KorobeinikovIgor opened #739 "Gitui is not compiling"
**Screenshots**
![image](https://user-images.githubusercontent.com/73735838/119660270-ba1eee00-be37-11eb-9e94-b6e41a9e1e07.png)

 - OS/Distro + Version: [e.g. `Kali Linux Raspberry Pi 4`]
 - GitUI Version [e.g. `0.5`]
 - Rust version: [e.g `1.48.0`]

[2021-05-26 12:35] extrawurst commented on #739
min supported rust version is: `1.50`

[2021-05-26 12:35] #739 closed

[2021-05-26 12:36] KorobeinikovIgor commented on #739
thanks!

[2021-05-26 21:49] bluefireoly commented on #97
Shouldn't the following lines in the `.gitconfig` cause all commits to be signed regardless of the program doing the commit?

[code]

Any ideas why that isn't the case with gitui?

[2021-05-26 22:01] extrawurst commented on #97
@bluefireoly gitui uses `libgit2` a c++ implementation of git and not the git-cli. `libgit2` does not do anything automagically and the necessary implementation was not done yet

[2021-05-26 22:13] extrawurst opened #740 "gpgsign warning"
Based on #97 and #591 : until we actually support gpg signing we should fail committing if the git config has `gpgsign` Set to true

[2021-05-27 07:24] extrawurst commented on #740
<img width="995" alt="Screenshot 2021-05-27 at 09 24 14" src="https://user-images.githubusercontent.com/776816/119783272-59da8b80-becd-11eb-9b50-acbb7faa6148.png">

[2021-05-27 07:34] #740 closed

[2021-05-27 12:36] extrawurst commented on #97
@bluefireoly I added #740 - it should not even allow you to commit now iff you have this config defined, that prevents you from generating unsigned commits even though you expressed that you need them to be signed

[2021-05-27 12:43] bluefireoly commented on #97
Alright thank you, maybe that will prevent some people from finding this out when it is too late.

[2021-05-27 19:02] #483 closed

[2021-05-27 19:06] extrawurst opened #742 "fetch tags"
thanks to @cruessler and following #483 we now have two nice to have features left:

* [x] explicit fetch-tags command **repo wide** (right now I think we only fetch them for the current branch)
* [x] visualise tags in the list with an arrow icon if a tag is *pushable* (its not present on remote, we have that buried already in the *push-tags-feature*) (done in https://github.com/extrawurst/gitui/p

[2021-05-27 22:15] #730 closed

[2021-05-28 08:05] extrawurst commented on #523
closing as dup of #1

[2021-05-28 08:05] #523 closed

[2021-05-28 08:11] cruessler commented on #381
@extrawurst Can you tell me how this relates to #429 and #449? Are both features supposed to be separate? If they are, I would start working on the file log.

[2021-05-28 08:38] extrawurst commented on #381
I do not see any relation between those two and this one 🤔. for this I envision something similar to `blame` where you can always trigger a `File History` on a single file item and then it opens up a list of all revisions that impacted that file just like fork and co do it:

<img width="500" alt="Screenshot 2021-05-28 at 10 36 46" src="https://user-images.githubusercontent.com/776816/119955819-b95

[2021-05-28 09:28] extrawurst commented on #381
@cruessler note that the beefy task here is to build the `asyncgit` feature that powers the file-history gathering.

this will likely involve doing an entire revwalk down to the commit that introduced/created the file. this has to support doing this as a thread job again. please check out the newly added `AsyncJob` abstraction (we use it only for the SyntaxHighlighting so far) but it makes a lot o

[2021-05-28 10:06] extrawurst opened #745 "use syntax highlighter in blame view"
since #727 we have a way to visualise code in a syntax highlighted way, I think it could be added to the blame view aswell.

[2021-05-29 15:03] skyfaller opened #747 "Support annotating git tags"
**Is your feature request related to a problem? Please describe.**
When using git directly, I can write e.g. `git tag -a v0.0.28` to open an editor to annotate that tag. This is especially handy on platforms aside from GitHub that do not have its proprietary UI for publishing releases.

gitui does not yet support annotating tags, despite supporting creating and pushing tags, which means I have to

[2021-05-29 15:07] extrawurst opened #748 "file tree shows wrong file with same name"
the way I find the file selected cannot differ file with the same name in different sub folders. this way we might show the wrong file:

<img width="933" alt="Screenshot 2021-05-29 at 17 07 45" src="https://user-images.githubusercontent.com/776816/120075137-64994a00-c0a0-11eb-8a70-a21bbf23ca8f.png">

[2021-05-29 16:00] #748 closed

[2021-05-29 20:08] franciscod commented on #559
hello there! rust newcomer here. will take a shot at this :)

[2021-05-29 20:18] extrawurst commented on #559
Very cool, welcome! Let me know when you need any help

[2021-05-29 20:39] extrawurst commented on #559
requires upstream change first: https://github.com/rust-lang/git2-rs/issues/714

[2021-05-29 21:00] franciscod commented on #559
wip: https://github.com/rust-lang/git2-rs/pull/715

[2021-05-29 22:18] franciscod commented on #559
also wip: https://github.com/extrawurst/gitui/compare/master...franciscod:wip_check_branch_name

(won't create PR until the one in git2-rs lands)

[2021-05-29 23:56] extrawurst opened #751 "Use git_repository_message"
See https://libgit2.org/libgit2/#HEAD/group/repository/git_repository_message

right now we have a custom impl for this

[2021-05-30 05:49] IndianBoy42 opened #752 "Support using gitui with yadm"
**Is your feature request related to a problem? Please describe.**
This is half a feature request and half a bug.
I use YADM for managing my dotfiles, which essentially creates a bare git repo in the $HOME directory.
YADM adds a configuration option so when I do `yadm status` it doesnt try show all the untracked files.

https://git-scm.com/docs/git-status#Documentation/git-status.txt---untracked-f

[2021-05-30 07:22] extrawurst commented on #752
Probably related to https://github.com/extrawurst/gitui/issues/100#issuecomment-835498901

[2021-05-30 08:04] extrawurst commented on #752
@IndianBoy42 gitui does not support bare repos and exits right away when you try to open it in one. so I am wondering why it even hangs for you. it should print out:
[code]

please run `gitui` again with the `-l` option to create logging into a log file and share the content

[2021-05-30 08:07] IndianBoy42 commented on #752
It does open if i use `gitui -d path/to/repo.git`

I will generate a log file for your once I get home

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Stephan Dilly ***@***.***>
Sent: Sunday, May 30, 2021 4:04:57 PM
To: extrawurst/gitui ***@***.***>
Cc: Anshuman MEDHI ***@***.***>; Mention ***@***.***>
Subject: Re: [extrawurst/gitui] Support using gitui wit

[2021-05-30 08:30] cruessler commented on #381
@extrawurst That sounds like a good idea to me! I’ll open a PR as soon as the first part is done.

[2021-05-30 15:31] IndianBoy42 commented on #752
https://pastebin.com/90pjLcTF

from running `gitui -d ~/.config/yadm/repo.git -l`

that path is the location of all the git information for the git repository created by yadm

[2021-05-30 17:56] extrawurst commented on #752
the log does not indicate any problem

[2021-05-30 18:02] IndianBoy42 commented on #752
Well gitui isn't crashing or anything, it just freezes on startup trying to find all untracked files (which for repositories like this shouldn't even be shown)

I've discovered if i wait 30 seconds it completes and shows all untracked files, and then briefly freezes every few seconds (updating status?)

I just think it would be a good idea to check the git config variables about whether untracked

[2021-05-30 18:07] extrawurst commented on #752
I can cook up a test in a branch, can you build from source to test this then?

[2021-05-30 18:12] IndianBoy42 commented on #752
I'd be glad to. I'm in a different time zone so I'm going to sleep, I can work on this tomorrow

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Stephan Dilly ***@***.***>
Sent: Monday, May 31, 2021 2:08:04 AM
To: extrawurst/gitui ***@***.***>
Cc: Anshuman MEDHI ***@***.***>; Mention ***@***.***>
Subject: Re: [extrawurst/gitui] Support using gitui with yadm

[2021-05-30 18:19] extrawurst commented on #752
just pushed to `status-without-untracked` (it simply hardcodes to not show the status with untracked files to validate that this is the problem)

[2021-05-30 22:04] codebasu commented on #97
I came across this issue today as I was still on v0.15 and was surprised when it let me commit without signing even with config set.

Looking into it more, I came across this:
https://libgit2.org/libgit2/#HEAD/group/commit/git_commit_create_with_signature

Not sure if this issue is on libgit2 or the git2-rs, so not sure if any help or not.

[2021-05-30 22:33] extrawurst commented on #97
this was part of 0.16 release: https://github.com/extrawurst/gitui/releases/tag/v0.16.0

[2021-05-31 06:30] IndianBoy42 commented on #752
The hardcoded hiding of untracked works, the files are not shown and startup is snappy again. I added a similar change in the Stashing tab

For my own use, I have added code in my fork that checks the git config flags I mentioned before, as well as adding a --hide-untracked flag on the cli. I don't know if it fits your coding style, there weren't any CLI flags that had to be passed down to the wid

[2021-05-31 12:04] extrawurst commented on #752
@IndianBoy42 please give #753 a go to verify that all works as expected then we can merge this into master

[2021-06-01 04:55] nerdrew commented on #708
Usability thought: I assumed this didn't work because I tried it when a sub-file was selected. I expected the whole recursive tree to collapse when triggering "tree_collapse_recursive" with a sub-file selected. Nice feature though (once I figured out you need to have the top level directory selected) :+1:

[2021-06-01 06:27] extrawurst commented on #708
contrary to the gif above this feature is currently only implemented in the file tree view and not the status. it works by holding down `Shift` and pressing `Left`/`Right` on a folder node to collapse recursive or expand recursively

[2021-06-01 07:39] samebchase opened #754 "[Feature Request]: Integration with Delta"
While using gitui to browse through some commits to understand the changes made, the lack of syntax highlighting was affecting the readability.

I was wondering whether https://github.com/dandavison/delta could be used to render the diffs. This way we can get full syntax highlighting (for all languages supported by bat) instead of the standard red/green diff highlighting.

In any case, thanks for

[2021-06-01 07:41] extrawurst commented on #754
dup of #358

[2021-06-01 07:41] #754 closed

[2021-06-01 07:56] #752 closed

[2021-06-01 15:29] #751 closed

[2021-06-01 15:38] #738 closed

[2021-06-01 15:42] extrawurst opened #756 "investigate lag when tabbing over file-tree first time"
only happens in big repos

[2021-06-01 15:47] extrawurst opened #757 "refactor AsyncTags to use AsyncJob"
we have a lot of code duplication in the async implementations in the root of `asyncgit/src/*`. for a while we now have a unified abstraction that can be used instead: `AsyncJob` this is used already in `AsyncRemoteTagsJob` and `AsyncSyntaxJob`.

Lets one-by-one cleanup the other places starting with `AsyncTags`

[2021-06-01 15:48] extrawurst opened #758 "support "undo last commit""
I like this feature in vscode:

* it sets HEAD back to the previous commit
* puts all changes back into the index

[2021-06-01 15:51] extrawurst commented on #559
@franciscod congrats for the merge in `git2-rs` but it did not contain the same function for tags which we also wanted to cover in here :(

[2021-06-01 16:51] franciscod commented on #559
Thanks! `git_branch_name_is_valid` is the only one that I implemented. Internally it also checks that it's a valid name for a reference. Do we need anything else?

[2021-06-01 16:52] franciscod commented on #559
ah, for tags, missed that one! Well #759 is my work in progress for branches, I guess we could do branches first and then tags?

[2021-06-01 19:22] franciscod commented on #758
git-cola (https://git-cola.github.io/) has this since forever, it's a nice feature :) I think it's `git reset --soft` combined with some magic to preserve the commit message

[2021-06-01 19:39] extrawurst commented on #758
Does that mean you want to implement this? Or what’s your point? ;)

[2021-06-01 22:14] #756 closed

[2021-06-01 22:23] nerdrew commented on #708
Yup. I got it working. But I was surprised that I couldn't collapse the whole tree when I had a file somewhere inside the tree selected. I needed to select the top level directory and then trigger collapse to have it work.

E.g. with this file selected (see screenshot), I couldn't collapse the tree.
![Screen Shot 2021-06-01 at 15 22 27](https://user-images.githubusercontent.com/10101/120397478-3d8

[2021-06-01 22:31] extrawurst commented on #708
that's intended behaviour 👍
in your example you want to use `left` to quickly jump up whole levels

[2021-06-02 01:44] franciscod commented on #758
maybe once i finish #759 :)

[2021-06-02 09:42] enizor opened #761 "File tree pane: folders won't collapse on Windows"
## Description

The new file tree pane [3] has some problematic behavior on Windows.

Using Left/Right Arrow [→←] to collapse/expand folders will correctly toggle the little triangle ▾ ▸ next to the folder (and jump to parent/child on second press). However the file list is not updated so all the subfolders are still visible in the tree after a collapse.
All subfolders are visible when opening the

[2021-06-02 09:56] extrawurst commented on #761
Does the view update correctly after a couple of seconds (it refreshes every few seconds even if no input is given)?

[2021-06-02 10:01] enizor commented on #761
Nothing changes over time without inputs.

[2021-06-02 10:21] extrawurst commented on #761
argh damn windows path separators. ok I found the problem

[2021-06-02 10:33] enizor commented on #761
Seems like it, changing `/` to `\` in the input of `filetreeitems::tests::test_collapse` will break the test. If the paths are not normalized before using `FileTree::new()` this might be the cause

[2021-06-02 10:42] extrawurst commented on #761
Will be fixed in a few

[2021-06-02 10:50] enizor commented on #761
I can test a patch/commit on my machine should you need it

[2021-06-02 11:00] extrawurst commented on #761
@enizor you can test the PR

[2021-06-02 22:06] #761 closed

[2021-06-03 10:03] iresharma opened #763 "Basic Authentication is deprecated"
Recently I pushed to repository using gitui and seconds later I got the following mail

### Any clues on when this can be fixed ?

[2021-06-03 11:31] extrawurst commented on #763
this cannot happen unless you provided username/password in `gitui` or via your git config, so there is not much I can do

[2021-06-03 12:26] enizor commented on #761
Thanks a lot!

[2021-06-03 16:16] anahata0108 opened #764 "gitui triggers terminal activity all the time, even when it's inactive"
**Describe the bug**
When I have gitui running in an iTerm tab, gitui triggers activity in the tab when I switch to another tab, despite the program being idle. I imagine it triggers for other terminal emulators, but I'm not in a position to easily test this.

**To Reproduce**
Steps to reproduce the behavior:
1. Open an iTerm2 window with some tabs configured to show terminal activity
2. Open gitu

[2021-06-03 16:18] anahata0108 opened #765 "Allow ^Z to suspend gitui"
**Is your feature request related to a problem? Please describe.**
I was attempting to silence the spurious terminal activity I described in #764 by suspending gitui with ^Z, like I would with many other Unix shell applications. However, the application doesn't respond to ^Z so I cannot suspend it.

**Describe the solution you'd like**
I'd like ^Z to be able to suspend gitui, like it does for othe

[2021-06-03 16:24] anahata0108 opened #766 "Allow q to quit gitui"
**Is your feature request related to a problem? Please describe.**
I tried to quit gitui with `q`, but the application doesn't respond.

**Describe the solution you'd like**
I'd like `q` to quit gitui, like it does for many other Unix commandline applications--especially pagers or applications based on pagers, like less, man, mutt, slrn, and others, like ftp, telnet, dc.

In addition, ^C to quit f

[2021-06-03 16:26] extrawurst commented on #764
duplicate of #523

[2021-06-03 16:27] extrawurst commented on #765
this won't be needed once #1 landed which is the superior solution to this. therefore closing this

[2021-06-03 16:27] #765 closed

[2021-06-03 16:28] anahata0108 commented on #764
I’m not sure this is the case; an application can run without triggering activity in the terminal. Things like vim run in my terminal all day and don’t trigger activity. Am I missing something?

[2021-06-03 16:29] extrawurst commented on #766
actually this is already implemented, please see the readme: https://github.com/extrawurst/gitui#bindings

[2021-06-03 16:30] anahata0108 commented on #766
I'm sorry, guess I should read more. :)

[2021-06-03 16:30] #766 closed

[2021-06-03 16:30] extrawurst commented on #764
what does that mean, do you think you observe a different issue than #523 ?

[2021-06-03 16:33] anahata0108 commented on #764
Yes. My terminal is configured to flag activity on output, not based on whether the application in the terminal is on the CPU. If I delay output to the terminal (e.g. something like `sleep 5; echo hi`), and switch to another tab, in 5 seconds my terminal will flag for activity just like gitui does when it's inactive.

[2021-06-03 16:41] extrawurst commented on #764
how does this work? will this be triggered if anything is updated on the terminal text buffer?

[2021-06-03 16:42] extrawurst commented on #764
are you referring to this iterm2 graphic?

<img width="87" alt="Screenshot 2021-06-03 at 18 42 26" src="https://user-images.githubusercontent.com/776816/120681230-74979c00-c49b-11eb-9b7c-2f31aeb3378f.png">

[2021-06-04 08:42] #517 closed

[2021-06-04 10:47] kosayoda commented on #758
Would a more generic feature be supporting resets to any commit in the log? That would be a nice feature in my opinion.

[2021-06-04 11:56] extrawurst commented on #758
Reset to a commit is different to what the proposal says. Git reset does not put all the changes that were rolled back into the index

[2021-06-04 18:08] Sebclem opened #768 "Support Markdown emoji"
**Is your feature request related to a problem? Please describe.**
I'm using a lot of markdown emoji in my commits message, but in gitui, the emoji are not parsed.

**Describe the solution you'd like**
Replace all markdown emoji by it's Unicode equivalent.

I have found this lib that can help: https://lib.rs/crates/gh-emoji

**Describe alternatives you've considered**

**Additional context**
![ima

[2021-06-04 19:16] frixaco commented on #495
`ssh-add ~/.ssh/id_rsa` - adding key(s) to ssh-agent fixed the error for me

[2021-06-04 21:58] jamesb93 commented on #495
solved it for me too on 0.16

[2021-06-05 01:20] dbr opened #770 "Quit shortcut activates even in commit message"
**Describe the bug**
If in `key_config.ron` I configure `q` (no modifiers) to be quit, it is impossible to type `q` in a input widget like the commit message

This works nicely, except, when typing in something like the commit window, I can't enter `q` without the application exiting

**To Reproduce**
Steps to reproduce the behavior:
1. Configure `key_config.ron`:

[code]

2. Try to write `q` in a

[2021-06-05 02:18] dbr commented on #770
Actually this is less simple than I first thought:

- It's fairly reasonable for, say, `ctrl+c` to quit even when an input is active.
- It is fairly unreasonable for `q` to quit while trying to type "Require" in an input

..so maybe "shortcuts are ignored if no modifiers are specified"

However then `Shift+q` becomes a problem (unless this is handled by the terminal as just `Q` with no modifier, i

[2021-06-05 08:38] extrawurst opened #771 "new quit key binding"
Since this comes up so often my plan is to introduce a new `quit_app` key-binding that only reacts if no popup is open.

For reference: #770 , #766

this means:
* in popups there is still `exit_popup` (ESC) to close it which allows closing text input popups that otherwise collide with `q`-key
* we still have `exit` (CTRL+C) that exits the app no matter in what place
* the new `quit_app` (Q or ESC)

[2021-06-05 08:39] extrawurst commented on #770
let me know if #771 will solve your issue

[2021-06-05 09:06] dbr commented on #770
Yep that sounds good to me! Thanks!

[2021-06-05 09:06] #770 closed

[2021-06-05 12:39] iresharma commented on #763
Then can you please tell me what is correct way of doing it ?

[2021-06-05 14:06] extrawurst commented on #763
Use an ssh key, GitHub has documentation how to set that up. I am closing this as it is not specific to gitui but using git in general

[2021-06-05 14:06] #763 closed

[2021-06-05 18:18] Robert-M-Muench opened #772 "macOS / MacPorts => dyld: Library not loaded: /usr/local/opt/openssl@1.1/lib/libssl.1.1.dylib"
I use MacPorts and it seems gitui is using some hardcoded/linked paths that don't fit:

[code]

Any chance to have a binary without hardcoded paths? Or is it best to compile from source?

[2021-06-05 19:08] extrawurst commented on #772
a) I never heard of macports (TIL) - I guess its something like homebrew?
b) I was not aware someone uploaded gitui to it.
c) in fact I cannot find it there, do you have a link? (see https://ports.macports.org/?search=gitui&search_by=name)

any idea what version you might have gotten? it smells old, since we started vendoring openssl in the binary a while ago.

so I see two solutions:
1) get it fr

[2021-06-05 19:34] extrawurst commented on #768
Hi @Sebclem I dont find that feature particularly important but I wouldn't mind it if anyone wants to pick it up👍

[2021-06-05 22:11] extrawurst opened #773 "indicator for longer commit message than displayed"
right now it is not easily obvious that a commit msg has more text to offer than shown:

<img width="1067" alt="Screenshot 2021-06-06 at 00 10 28" src="https://user-images.githubusercontent.com/776816/120906666-9b9ccc00-c65b-11eb-8d89-2d3432aa4b43.png">

vs.

<img width="1067" alt="Screenshot 2021-06-06 at 00 10 45" src="https://user-images.githubusercontent.com/776816/120906670-a5263400-c65b-11eb

[2021-06-05 22:14] #773 closed

[2021-06-05 22:15] extrawurst commented on #773
looks like this now:

<img width="1067" alt="Screenshot 2021-06-06 at 00 11 56" src="https://user-images.githubusercontent.com/776816/120906730-339ab580-c65c-11eb-870f-7b4cd995e0aa.png">

[2021-06-05 22:43] anahata0108 commented on #764
Hello!

It's the new-output indicator, not the activity indicator, my apologies. It's right below the activity indicator in the preferences and looks like this:

<img width="180" alt="image" src="https://user-images.githubusercontent.com/44044/120907241-f0c1e900-c62d-11eb-9ef6-961ccf49189b.png">

[2021-06-06 00:11] extrawurst commented on #764
@anahata0108 I found the reason why that indicator lighted up all the time, this is fixed and now aligned exactly with the 2 second interval of us polling for changes on the file system. this means now it is a dup of #1 and will be better once we have that implemented and do not need to poll anymore.

[2021-06-06 00:11] #764 closed

[2021-06-06 16:04] cruessler commented on #381
@extrawurst I just saw that you re-factored `LogWalker` and I thought, looking at the code, that this is almost exactly what I would need for a `FileLogWalker`. What do you think about adding a parameter to `LogWalker::new`, something like `options: Option<LogWalkerOptions>` with `LogWalkerOptions { filter: … }`? Or do you see other, and possibly better opportunities for code reuse?

[2021-06-06 19:44] Robert-M-Muench commented on #772
a) Yes

b & c) Nobody did, I mentioned MacPorts because I install(ed) OpenSSL using it, and MacPorts seems to use different paths than Homebrew.

I built from source and here you can see the dependencies of the final binary:

[code]

As you can see there is no reference to OpenSSL in my compiled version. So, maybe it's not needed? Or am I missing something?

[2021-06-06 22:11] extrawurst commented on #772
well it is correct that the binary should not even link a openssl dylib. I wonder why only our release binaries we have in the release tags here have this.

[2021-06-06 23:01] extrawurst commented on #772
the plot thickens: the ci uses the new resolver (`resolver = "2"`) and only then the openssl vendoring seems broken.

[2021-06-07 12:43] extrawurst commented on #772
I found a workaround for this: adding the `openssl-sys` dependency right into `gitui` and force the vendoring feature on the top level. this seems to work. but there seems to be a issue in the new resolver here.

fixed in #775

[2021-06-07 12:58] #772 closed

[2021-06-07 12:59] extrawurst commented on #772
@Robert-M-Muench thanks for reporting this, it actually uncovered quiet some oddities with rust/cargo

[2021-06-07 14:46] #758 closed

[2021-06-07 19:03] Robert-M-Muench commented on #772
Glad it helped to find the problem and thanks for picking this up that quick.

[2021-06-07 20:16] extrawurst commented on #381
@cruessler yeah lets extend `LogWalker` to apply an optional filter before pushing an `id` to the result. instead of adding this as a param to `new` I'd suggest making the filter `Option` and set to `None` b y default. then we can add a `fn filter(self) -> Self` that sets the filter, this way we can use it sort of like a *Builder*

[2021-06-07 20:19] extrawurst commented on #381
@cruessler if you need more inspiration for this, there is a libgit2 based implementation here: https://github.com/libgit2/libgit2sharp/pull/963

[2021-06-07 22:08] extrawurst opened #777 "cleanup async notifications"
right now we have a gitui specific notification inside `asyncgit`: `AsyncGitNotification::SyntaxHighlighting` that does not belong

[2021-06-08 06:12] parrotdance opened #778 "commit amend directly in log tab"
**Is your feature request related to a problem? Please describe.**

I always type the command `git commit --amend` directly, instead type `git commit` first and considered about "should I add `--amend` flag?". So I think provide "Commit amend" right in status panel (but not in popup panel) will be a nice improvement(at least for me).

**Describe the solution you'd like**

Provide "commit with amen

[2021-06-08 07:30] parrotdance commented on #495
Thanks for @frixaco , this solved my problem. But I still can't figure out the reason why?

[2021-06-08 07:37] 1bharat commented on #495
On Mac, at least, the keys are not permanent. I found that on every restart, the keys were gone, and I had to add them again.

One way to automate it is to add this in .bashrc/.zshrc/config.fish
```ssh-add -A &> /dev/null```

This works for me. Not sure if there is any other method.

[2021-06-08 08:11] frixaco commented on #495
@parrotdance yeah, me too

@1bharat same here on WSL2 (Ubuntu 20.04). Currently using your solution (found from this article: https://docs.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases#auto-launching-ssh-agent-on-git-for-windows)

[2021-06-08 09:27] extrawurst commented on #778
this is what it is supposed to look like after merging #779

<img width="711" alt="Screenshot 2021-06-08 at 11 26 40" src="https://user-images.githubusercontent.com/776816/121160462-673c3200-c84c-11eb-809b-fbfe9a51fd6b.png">

[2021-06-08 09:48] #778 closed

[2021-06-09 07:43] extrawurst opened #780 "locked in commit msg text if window size small enough"
in such case:
<img width="1027" alt="Screenshot 2021-06-09 at 09 43 11" src="https://user-images.githubusercontent.com/776816/121313885-1d645200-c907-11eb-8a51-6ebb0de6c1ca.png">

once the cursor is moved up into the commit msg you cannot move down anymore

[2021-06-09 09:44] frixaco opened #781 "Incorrect Commit SHA length for gitlab.com commits"
**Describe the bug**
Commit SHA for projects in Gitlab have 8 characters, GitUI shows 7 instead

**To Reproduce**
Steps to reproduce the behavior:
1. Clone any repository from gitlab.com
2. Launch gitui and go to Logs tab or try to make a commit

**Expected behavior**
Full commit SHAs (8 characters) are displayed in Logs tab

**Screenshots**
SHAs from gitlab.com:
![image](https://user-images.githu

[2021-06-09 10:09] extrawurst commented on #781
short hashes are visualised different on different platforms (GitHub shows only 7 chars).
press `enter` on a commit and you see the full SHA1 hash.
so this boils down to a matter of taste only actually

[2021-06-09 10:22] frixaco commented on #781
Oh, I see. I didn't knew about short hashes. Thank you for explanation!
And for GitUI too! Been using it for a few weeks and I really like it!

[2021-06-09 10:23] #781 closed

[2021-06-09 15:25] #492 closed

[2021-06-10 07:58] #780 closed

[2021-06-10 12:08] laktak opened #784 "Run External Command"
**Is your feature request related to a problem? Please describe.**

I prefer to run `git pull`, `git push` and `git commit` instead of the built in commands because

- pull/push will show detailed information about the progress and changes
- commit will show me the output from my git hooks before launching vim (with the preformatted commit message) and signed commits are IMHO not supported ATM.

*

[2021-06-10 12:19] extrawurst commented on #784
gitui is designed to run in tandem with the regular git cli. we do not wrap any git cli call anywhere and I am intending to keep it that way. if there are any issues making it inconvenient to switch between gitui and the cli, lets iron those out 👍

[2021-06-10 13:44] laktak commented on #784
Well the git cli calls were just an example to run arbitrary commands that one would consider part of their commit merge flow.

Another example I often use is to parse the remote URL and open a browser window with that repo (to create a new issue, etc.)

[2021-06-10 13:45] extrawurst commented on #784
yeah I got that

[2021-06-10 16:44] laktak commented on #784
OK, I can give you some input on why I prefer the external commands:

- I can see more details (especially for pull).
- I can see error messages when something fails, which is not that uncommon.
- The error messages stay on the screen (in the terminal) so that I can act on them.
- The reason for commit I already noted above.

Which does not mean that I don't love gitui for all the other things it

[2021-06-11 18:05] psuong commented on #495
Thought I'd comment on this for Windows (not WSL) since I had the same issue with pushing/pulling and gitui failing with a bad credential.

What I had done was change git to use plink from putty instead of OpenSSH. Since I had already generated an SSH key via git bash before, I used PuttyGen to convert a previous private key to a ppk and loaded that into pageant. Once I verified that I could conne

[2021-06-11 18:23] extrawurst commented on #495
@psuong really cool, thanks for writing this up for windows. This will probably help others coming across this 👍

[2021-06-12 16:23] terhechte commented on #784
What about a shortcut that allows typing out a command which is then executed (much like `:!` in vim. E.g.
- you'd type the shortcut key
- a text input would appear at the bottom
- you'd type "push --force" (or whatever)
- hit enter
- You'd see the stdout of the command as it executes
- At the end, there'd be a "press any key to return to gitui" text

[2021-06-12 19:47] extrawurst commented on #784
I am afraid but I don’t see the advantage over leaving gitui and doing that

[2021-06-12 20:43] laktak commented on #784
Well, combined with a predefined external command, the advantage is that you are back in gitui afterwards ;-)

Some background: I use [ranger](https://github.com/ranger/ranger/) (which I highly recommend) all the time. It is almost as extensible as vim and you can extend it with the tools you need. One of the tools is gitui.

So if I exit gitui I'm often in ranger, not the terminal. I could of cou

[2021-06-13 03:25] NikosEfthias commented on #495
same issue on arch linux as well ssh-add loads the keys but I am also having problems to push onto keybase
![image](https://user-images.githubusercontent.com/9097437/121794358-20658800-cc10-11eb-8351-b6c1b1427ac4.png)
normal git push has no problems with this

[2021-06-13 03:41] andoni0305 commented on #496
Yeah -  i am having the same issue

[2021-06-15 13:56] HHPLow opened #788 "gitui can not use "." option to ONLY see changes and logs in the current directory"
**Is your feature request related to a problem? Please describe.**
Not related to any problem. When I want to see the current directory changes and log use `gitui .` or `gitui -d <dir>`, will always use whole git repository changes and log.

**Describe the solution you'd like**
Want to add an option like `gitui .` to see the changes and logs only is this directory, not the whole repository.

**Des

[2021-06-16 00:34] #580 closed

[2021-06-16 01:03] ghost opened #790 "GitUI gets distorted when using Windows Terminal"
**Describe the bug**
When I use Windows Terminal to use GitUI,

**To Reproduce**
Steps to reproduce the behavior:
`cd` into a git repo and type `gitui` and press any keys that change the screen.(e.g. arrow keys)

**Expected behavior**
The screen becomes garbled and GitUI becomes unusable.

**Screenshots**
![Animation](https://user-images.githubusercontent.com/85086136/122141938-5a8d8e80-ce89-11eb-

[2021-06-16 06:13] extrawurst commented on #790
looks like a known bug in windows terminal: https://github.com/microsoft/terminal/issues/381

[2021-06-16 23:36] 7k5x commented on #790
Then is it impossible to fix within GitUI?

[2021-06-17 04:49] Etherian commented on #577
I still experience this issue and am unable to use GitUI due to it.

[2021-06-17 07:14] extrawurst commented on #577
Hoping any windows jokey will come along also caring for this to actually tackle it 👍

[2021-06-17 07:14] extrawurst commented on #790
that's right

[2021-06-19 16:08] decathorpe commented on #599
BTW: This issue should now be resolved with Fedora 34, at least. Fedora 33 is harder to support due to uninteresting reasons.

[2021-06-22 23:22] Zeioth commented on #615
Had this issue too. So I thougt, "Ok I'm gonna add my key to the ssh agent every time I launch gitui"

And added this to local/bin

    alacritty -e zsh -c 'ssh-add '~/.ssh/zeioth-github.key'; gitui -d ~/workspaces/myrepo' &

It only works if I call the script from terminal. If I launch it from rofi, it won't ask for the passphrase and will open gitui directly. Any solution for this?

[2021-06-23 00:00] Zeioth commented on #615
Ok I fould the next solution:

    alacritty -e zsh -c 'source ~/.zshrc && \
    eval `ssh-agent` \
    eval `keychain --eval --noask ~/.ssh/zeioth-github.key` && \
    ssh-add '~/.ssh/zeioth-github.key'; \
    gitui -d ~/workspaces/myrepo' &

This basically open the ssh-agent, open the keychain for the current terminal session, add the key to the keyring (it will ask for passphrase), and finally

[2021-06-26 11:15] #771 closed

[2021-06-26 18:05] isbm opened #797 "Doesn't even compile"
**Describe the bug**

[code]

[2021-06-26 18:57] extrawurst commented on #797
it takes courage to phrase an issue like this and actively ignore the template for writing proper issues which asked you what rust version you used.

the error tells me you are not using the latest rust version, although the readme tell you to do so under [build](https://github.com/extrawurst/gitui#build)

[2021-06-26 18:57] #797 closed

[2021-06-26 20:12] isbm commented on #797
@extrawurst it takes courage to phrase a proper documentation how to do that. Your documentation could be a bit better, perhaps?

I use 1.55. Still doesn't compile. And not sure what it has to do with the Rust itself:
[code]

But at least it is great that it works on _your_ laptop.

[2021-06-26 20:37] extrawurst commented on #797
and our CI running stable rust 1.53, 1.50 (minimum supported rust) and nightly

[2021-06-27 02:53] dineshkumar12004 commented on #611
can i work on this issue ?

[2021-06-27 11:50] isbm commented on #797
@extrawurst well, then maybe you could update the docs to be more detailed and do not assume everyone is Rust guru? :wink:  Because something clearly is not working and  I am not that into Rust that I would spot it right away. Currently I fail to package your stuff while similar projects in Go "just works". So I just follow a "standard" (if this is the word) procedure, then `rustup` to the latest,

[2021-06-27 12:01] extrawurst commented on #797
what does `cargo --version` print on your setup?

see https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1480-2020-11-19 which says that `Option::as_ref` was stabilised in rust 1.48 (> 6 months ago) the error you shared says that on your setup `Option::as_ref` is not stabilised yet. so it looks a lot like your rust is not `>=1.50`

[2021-06-30 02:03] jeffwright13 opened #799 "Improve documentation on themes, please"
The default color scheme for gitui in iTerm2 is illegible on my Mac (iTmer2). The light cyan with yellow lettering can be almost impossible to see:
https://imgur.com/U7TCMv7

I am trying to change my color scheme, but the theme file doesn't seem to have an entry for the cyan command blocks with yellow (if it is listed here, please let me know). It would be good to have all possible elements and th

[2021-06-30 02:09] jeffwright13 commented on #799
**update**
I changed my iTerm color scheme to "Dark Default" and this made the whole program easy to see. So perhaps A modified request would be to add a blurb in the README (or wherever) that suggests changing the terminal color scheme if things are not visible?

[2021-06-30 15:40] computerphilosopher opened #800 "It should support auto login for push"
**Is your feature request related to a problem? Please describe.**
When I use git command, I don't have to type the user name and password  everytime for push. Because I saved my password by [credential helper](https://stackoverflow.com/questions/11403407/git-asks-for-username-every-time-i-push).

**Describe the solution you'd like**
If the user is using a credential helper feature, the gitui shou

[2021-06-30 16:31] extrawurst commented on #800
I suggest using a ssh key to solve that:
* more secure
* more convenient

https://docs.github.com/en/github-ae@latest/github/authenticating-to-github/connecting-to-github-with-ssh/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

[2021-07-01 16:27] extrawurst opened #801 "warn if force push fails"
if a server has the branch protected the force-push fails but does not let us know

[2021-07-01 21:17] alippai commented on #800
GitHub recommends HTTPS instead of SSH:
https://docs.github.com/en/get-started/quickstart/set-up-git#next-steps-authenticating-with-github-from-git

[2021-07-01 21:23] extrawurst commented on #800
I am not dismissing https, just my personal suggestion.

speaking of which, it seems GitHub changed their *recommendation* a few times: https://stackoverflow.com/questions/11041729/why-does-github-recommend-https-over-ssh

[2021-07-01 21:39] alippai commented on #800
Yes, I was laughing at that when tried to collect info on this topic. I'm sorry if I implied you already dismissed the idea, it wasn't my intention. I totally agree with your personal suggestion.

[2021-07-02 13:40] tmpgnh commented on #800
My personal preference is SSH as well but I have to work with HTTPS-only repos too.

[2021-07-03 21:43] IndianBoy42 commented on #711
What is left to do here?

[2021-07-04 08:48] WizardOhio24 commented on #711
At the moment, the multi-line mostly works, there are a few glitches which need sorting out which can cause the state to become inconsistent, but it mostly works right now (it just doesn't always work).
As well as adding multiline editing, this PR allows the commit box to expand rather than adding a scroll bar immediately and only adds a scroll bar if the commit box is big enough - it is the scrol

[2021-07-04 09:28] IndianBoy42 commented on #711
I've merged it into my fork to try it, I'll play whack-a-mole with any bugs i see as i use it

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Richard Menzies ***@***.***>
Sent: Sunday, July 4, 2021 4:48:28 PM
To: extrawurst/gitui ***@***.***>
Cc: Anshuman MEDHI ***@***.***>; Comment ***@***.***>
Subject: Re: [extrawurst/gitui] Add new line support for multi

[2021-07-04 11:01] extrawurst opened #802 "panic with non-utf8 files in tree"
[code]

[2021-07-04 22:26] #802 closed

[2021-07-05 08:32] jankatins opened #806 "Build fails with cargo install gitui --target x86_64-unknown-linux-musl"
**Describe the bug**
I'm trying to install via cargo build form source and the musl libc to make a completly static build wich can run in my fedora toolbox, too.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `cargo install gitui --target x86_64-unknown-linux-musl`
2. See the below error:

[code]

**Expected behavior**
Build gets installed

(I'm unsure if this is a gitui problem or some

[2021-07-05 11:22] extrawurst commented on #806
it looks more like running `perl` fails on your machine (from the error that you shared).
also the last nightly stable musl build in CI worked: https://github.com/extrawurst/gitui/runs/2986223436

[2021-07-06 05:35] staszewski commented on #495
Pulling throws this error. CLI works just fine :( Any idea how to fix it? Can't pull any branch.

![Screenshot 2021-07-06 at 07 35 09](https://user-images.githubusercontent.com/22203423/124547617-b31ece80-de2c-11eb-813e-7fd523737bb6.png)

[2021-07-07 05:20] staszewski commented on #495
Ok, so https://github.com/extrawurst/gitui/issues/495#issuecomment-854948221 fixed it, but it comes back when I restart my laptop. Any idea how to make it permament?

[2021-07-07 06:14] frixaco commented on #495
Try adding this to your .bashrc/.zshrc/..: https://docs.github.com/en/github/authenticating-to-github/connecting-to-github-with-ssh/working-with-ssh-key-passphrases#auto-launching-ssh-agent-on-git-for-windows

[2021-07-07 06:26] BuzzwordChief opened #808 "Support core.hooksPath"
A global pre-commit hook (set with core.hooksPath) is ignored by gitui. It allows to commit the staged files even if the pre-commit hook returns with a non zero value.

**To Reproduce**
Create a pre-commit hook like this:
[code]

**Expected behavior**
the commit should fail, it doesn't.

[2021-07-07 06:50] stan-janssen opened #809 "Option to toggle untracked files in Status [1] tab"
**Is your feature request related to a problem? Please describe.**
I'm working with a repository where I have many untracked files that I'm using locally but don't want to commit to the repository and don't want to add to the .gitignore file. This makes seeing the tracked files that are changed difficult, because I have to hunt for them between all the "new" files that I don't want to commit.

**D

[2021-07-07 06:58] extrawurst commented on #808
That’s a known limitation: https://github.com/extrawurst/gitui#5--known-limitations-top-

[2021-07-07 07:17] BuzzwordChief commented on #808
Sorry, overlooked this somehow!

[2021-07-07 09:02] extrawurst commented on #808
no worries, we can keep it open in case someone is willing to pick it up. its a legit feature request

[2021-07-07 20:42] extrawurst commented on #806
@jankatins any luck?

[2021-07-07 20:45] extrawurst commented on #809
Maybe a workaround in the meantime: https://github.com/extrawurst/gitui/pull/753

[2021-07-08 05:48] staszewski commented on #495
Yup, that what i did in the end. I thought there is some other way. Thanks anyway.

[2021-07-08 08:51] horta commented on #799
Same here. I'm using Kitty terminal with gruvbox-like theme. Can't see the bottom options.
<img width="1474" alt="Screenshot 2021-07-08 at 09 51 38" src="https://user-images.githubusercontent.com/514522/124892796-185ff480-dfd2-11eb-8522-814022a92abf.png">

[2021-07-08 10:07] extrawurst commented on #799
they use `command_fg` as foreground color and `selection_bg` as background color, see the [documentation](https://github.com/extrawurst/gitui/blob/master/THEMES.md) for more details

[2021-07-10 10:14] extrawurst commented on #806
I assume that did the trick, if there is still an issue feel free to reopen

[2021-07-10 10:14] #806 closed

[2021-07-10 12:11] #801 closed

[2021-07-10 17:26] corbinu opened #811 "0.16.2 breaks install on Windows"
**Describe the bug**
v0.16.2 breaks install on Windows due to OpenSSL not compiling.

**To Reproduce**
Steps to reproduce the behavior:
1. cargo install gitui on Windows

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Context (please complete the following information):**
 - OS/Distro + Version: Windows 11 Insider Edition
 - GitUI Version v0.16.2
 - Rust version: 1

[2021-07-10 17:48] extrawurst commented on #811
I think its a dup of #806 - feel free to reopen if it turns out to be something else

[2021-07-10 17:48] #811 closed

[2021-07-10 17:58] corbinu commented on #811
Ahh very strange as the rest of my Rust tools don’t need Pearl to use OpenSSL. Can we reopen and I will investigate and make a PR to remove the need to build OpenSSL. Thanks!

[2021-07-10 22:06] extrawurst commented on #809
I am planning to introduce a general options system which we can use to toggle stuff like this on and off cause other questions [came up before](#444) that would fit this nicely (like changing how we treat whitespaces in the diff)

[2021-07-11 11:24] #777 closed

[2021-07-11 21:02] GuillaumeAmat opened #814 "Display the branches in the log view"
**Is your feature request related to a problem? Please describe.**
Not really a problem, but I miss a nice touch from Tig: displaying the branches in the log view. Gitui already displays the tags in that view, it could be great to also display the branches, to better appreciate the state of the workspace.

**Describe the solution you'd like**
"Just" add the branches name in the log lines, as the a

[2021-07-11 21:09] mcrakhman commented on #97
@extrawurst Hi! I guess we can try just calling `gpg` using `Command::new("gpg")`, pass the signature as a parameter like `gpg --sign --default-key [SIGNATURE]` and then pass the commit buffer inside `stdin` and get the signed data through `stdout`. Then we can probably just use `commit_signed` of `git2-rs`.

I will try to implement something like that on the next week, it can be a lot easier that

[2021-07-11 22:41] extrawurst commented on #97
I prefer we find a native solution (sequoia or gpgme). One design philosophy for gitui so far was to not rely on the git cli, I am not intending to change that as long as we did not exhaust all options

[2021-07-12 02:27] dnaka91 commented on #97
Sorry, I didn't update my progress on this in a long time. I have the changes working locally but don't know what to do about the `amend` function. That doesn't allow to sign again (which we have to as the commit contents change).

Therefore we would have to do the whole amend from scratch which takes time to implement. Basically it's more or less the same as a normal commit, just changing the sta

[2021-07-12 07:05] extrawurst commented on #97
@dnaka91 would be great if you could put that into a PR draft 👍

[2021-07-12 07:07] dnaka91 commented on #97
Sure I'll open a draft PR later today. It's still quite messy and missing tests to cover the new code, but it's better to have some code as basis for further discussions 👍

[2021-07-12 11:40] sztomi opened #815 "Stale bot misconfigured?"
I searched this issue tracker for rebase support and found https://github.com/extrawurst/gitui/issues/302

It is labeled as WONTFIX, but the discussion doesn't seem to imply that it's not intended to be added (I'm also not sure if it's beneficial to close "stale" issues with substantial, forward looking discussion).

[2021-07-12 11:49] extrawurst commented on #815
I don't think it is misconfigured. So far it does what it should: Close tickets without activity, after all closed tickets are not deleted. They are still around for reference.

What would you configure differently?

Just an oversight in this particular example, issues we don't want to see getting closed can be marked as such.

[2021-07-12 12:06] sztomi commented on #815
@extrawurst labeling the issue as WONTFIX seems to be misleading and that was done by the bot. Had I not opened the issue and read the discussion I would have gotten the impression that rebase support is out of scope for this project, but that doesn't seem to be the case. I'm not sure if all bot-closed issues get this label, but I would personally not do this (instead, maybe add a label that impli

[2021-07-12 12:33] extrawurst opened #816 "support conflict-free rebase instead of merge"
(based on #302)

now that we support merging a branch #485 we can look into rebase instead of merge.
although this gets a tad more complicated since any rebase step could fail due to conflicts and then we need to be able to proceed the rebase after conflict resolution was done.

[2021-07-12 12:34] extrawurst commented on #815
for me the paper trail where a label comes from is well document by this:

<img width="522" alt="Screenshot 2021-07-12 at 14 18 11" src="https://user-images.githubusercontent.com/776816/125286345-ffca4400-e31b-11eb-85c0-f72a2e6d48b4.png">

if you care enough for a feature you check out the issue that was closed and marked as wont-fix and realise that it was the bot. then you can followup and bring

[2021-07-12 13:23] sztomi commented on #815
But why label with a word that means something else? There was a very real chance that I wouldn't have opened that issue since I saw the label that, to me, clearly means that the author does not want to support the feature. Not looking for the paper trail (on the off chance that WONTFIX means stale, which I never would have imagined) doesn't mean I wouldn't care about the feature. The label tells

[2021-07-12 13:34] extrawurst commented on #815
I have nothing to add, let's discuss this further on discord if you want to

[2021-07-12 13:50] #815 closed

[2021-07-20 12:17] #642 closed

[2021-07-22 05:08] natsukagami opened #821 "Arrow keys don't work on iTerm2"
**Describe the bug**
Arrow keys do not work at all in `gitui` on iTerm2.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `gitui` on iTerm2
2. Try to use arrow keys [nothing work]
3. All other keys work as expected

**Context (please complete the following information):**
 - OS/Distro + Version:  macOS Big Sur 11.4, Macbook Air M1
 - GitUI Version 0.16.2 from nixpkgs / 0.16.2 from `cargo

[2021-07-22 09:29] ark- commented on #806
On Windows 10 here, I had to install strawberry perl https://strawberryperl.com/ and add it to my path in order for `cargo install gitui` to work

[2021-07-22 09:30] ark- commented on #806
Potentially worth adding a prerequisites to the install section of the Readme?

[2021-07-22 15:08] extrawurst commented on #821
Works for me, sure you did not change the arrow key bindings in your iterm profile?

[2021-07-23 11:27] extrawurst commented on #560
work happened in upstream on this

[2021-07-23 12:22] BuriedStPatrick opened #823 "Performance degradation when quitting on Windows 10"
**Describe the bug**
Since 0.16.0 and onwards, quitting GitUI seems to be significantly slower than it used to on Windows. This does not appear to be the case on my Linux machines, however.

**To Reproduce**
Steps to reproduce the behavior:
1. Install gitui @ 0.16.2
2. Run a terminal like cmd.exe (also tested in pwsh.exe)
3. Navigate to a repository
4. Open gitui in a repository
5. Quit gitui
6. W

[2021-07-24 11:06] ignatenkobrain opened #824 "Delete upstream branch"
**Is your feature request related to a problem? Please describe.**

As now gitui supports creation/deletion of branches, I'm missing functionality to actually delete branches from the remote (`git push --delete <remote> <branch>`)

**Describe the solution you'd like**

In the list of remote branches, deleting should actually push deletion.

**Describe alternatives you've considered**

I did not fi

[2021-07-24 11:11] ignatenkobrain opened #825 "Ignoring .gitignore just keeps adding .gitignore in .gitignore"
**Describe the bug**

I think subject covers it pretty well.

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure your repository does not have any `.gitignore` in it
2. Ignore any file (so that .gitignore would be created by gitui)
3. Try to ignore .gitignore
4. The .gitignore is added to the .gitignore (and if you repeat, it is added infinitely)

**Expected behavior**

Either ignoring

[2021-07-24 11:29] extrawurst commented on #824
Duplicate of #622 right?

[2021-07-24 12:07] ignatenkobrain commented on #824
Oh, it seems so.

[2021-07-24 12:07] #824 closed

[2021-07-28 18:26] Etherian commented on #577
I found a solution/workaround to this issue. Setting the `TERM` environment variable to any value allows GitUI's interface to be displayed on ConEmu/Cmder. The interface doesn't always display *correctly*, and it will still sometimes clobber the buffer instead of restoring it, but those seem to be separate issues.

Is there a good place to document this fix?

[2021-07-28 18:32] extrawurst commented on #577
@Etherian does it work better than on my [screenshot](https://github.com/extrawurst/gitui/issues/577#issuecomment-798579652) ? care to share a screenshot ?

to what did you set the `TERM` env variable?

[2021-07-28 19:36] Etherian commented on #577
GitUI works as below with `TERM` set to "cygwin", "xterm", "supercalifragilistic", or " ".

![gitui_issue_2](https://user-images.githubusercontent.com/14620634/127381334-e4891341-650c-4b07-928d-2d54a9d21efd.jpg)
Notice how the hotkey bar is doubled and the rest of the interface is offset up by a line.

![gitui_issue_3](https://user-images.githubusercontent.com/14620634/127381524-6fb74080-5e79-4313

[2021-07-31 21:44] pe opened #829 "Create Fixup Commits"
**Is your feature request related to a problem? Please describe.**
Creating a fixup commit is complex. It's not possible only with gitui and possibe but still cumbersome with other tools.

**Describe the solution you'd like**
- stage the changes
- instead of commit I hit the fixup shortcut
- gitui shows the log and I can select the commit I want to fixup
- gitui creates a fixup commit which I can

[2021-08-01 02:17] #429 closed

[2021-08-03 08:42] dbr commented on #771
Been using this change recently and it works really well. Thanks!

[2021-08-03 09:06] extrawurst commented on #771
happy to hear

[2021-08-03 21:31] extrawurst commented on #825
<img width="1421" alt="Screenshot 2021-08-03 at 23 31 13" src="https://user-images.githubusercontent.com/776816/128089030-63a142ab-1cc8-446a-be98-c0e5b0213db4.png">

[2021-08-03 21:47] extrawurst commented on #823
@BuriedStPatrick thanks for reporting this. I have a hunch what it is related to but to confirm: what key bindings do you use and what exact key did you use to quit in this example. could you also test if quitting via `ctrl+c` performs faster?

[2021-08-03 21:47] #825 closed

[2021-08-03 21:48] extrawurst commented on #821
@natsukagami I assume this means you got it to work

[2021-08-03 21:48] #821 closed

[2021-08-03 21:53] extrawurst commented on #444
will be possible if we have a general way to change options (related to #809)

[2021-08-03 21:54] extrawurst commented on #381
@cruessler any progress on this?

[2021-08-03 21:54] extrawurst commented on #814
probably a dup of #81

[2021-08-03 23:25] BuriedStPatrick commented on #823
@extrawurst That's great news!
I used `ctrl+c` in both examples in the GIF.
Quitting with `Q` in `v0.16.2` is seemingly equally as slow as with `ctrl+c`. (in `v0.15.0` the `Q` keybinding isn't implemented it seems).

I can also reproduce this with both the standard cmd.exe as well as Windows Terminal.
I haven't changed any of the default keybindings as I quite like them :)

key_config.ron:
[code]

[2021-08-04 06:11] extrawurst commented on #823
@BuriedStPatrick ok then my theory is wrong. could you do 2 things:
* run `gitui --bugreport` and paste the result
* rerun your repro with `gitui -l` (which enables logging, see https://github.com/extrawurst/gitui#diagnostics) and share the resulting logfile

[2021-08-04 12:00] 7k5x commented on #790
I found a way to fix it. Adding `"experimental.rendering.forceFullRepaint": true,` to the JSON file or enabling `Redraw entire screen when display updates` fixes the frame buffer being clogged.

[2021-08-04 12:13] extrawurst commented on #790
@7k5x interesting. wonder if that impacts the performance somehow

[2021-08-04 13:17] 7k5x commented on #790
For me it doesn't impact the performance at all, no flickering and whatsoever but maybe that's because I have a modern GPU(GTX 1070). I guess this needs more testing for others using potato PCs.

[2021-08-04 14:01] extrawurst commented on #790
great!

[2021-08-04 14:40] BuriedStPatrick commented on #823
@extrawurst Here you go :)

#### Software version

gitui 0.16.2 (aacc7a3-modified)

#### Operating system

Windows 6.2.9200

#### Compile time information

- Profile: release
- Target triple: x86_64-pc-windows-msvc
- Family: windows
- OS: windows
- Architecture: x86_64
- Pointer width: 64
- Endian: little
- CPU features: fxsr,sse,sse2
- Host: x86_64-pc-windows-msvc

#### Environment variables

[co

[2021-08-04 19:13] cruessler commented on #381
Yes, I’ve started working on the remaining functionality and will hopefully be able to present an update this weekend.

[2021-08-06 01:53] realtica commented on #615
Thanks, Gitui needs the private key into ssh-agent:
`ssh-add ~/.ssh/id_rsa`
I'll close the issued.

[2021-08-06 01:53] #615 closed

[2021-08-09 21:06] #632 closed

[2021-08-10 07:20] IndianBoy42 commented on #816
Related to this: the pull branch feature will currently always merge, even though I have set to rebase by default in my `~/.gitconfig`. I hope this will be changed once rebasing is supported.

Is the work to be done on this mostly user interface related or some technical limitations? AFAICT, If we can see/fix merge conflicts in gitui currently, rebasing should be very similar

[2021-08-10 10:47] extrawurst commented on #816
like I stated above:

[2021-08-10 10:53] extrawurst commented on #829
related to #32

[2021-08-10 11:15] extrawurst commented on #559
after https://github.com/rust-lang/git2-rs/issues/734 we can at least go ahead with the branch validity check

[2021-08-11 02:21] jabra98 opened #836 "panic / core dump when viewing details on shallow commits"
**Describe the bug**
[code]
**To Reproduce**
`git clone --depth 1 https://github.com/extrawurst/gitui` (note the `--depth 1` flag)
./gitui -> go to the log tab -> press enter to view details on the shallow commit

**Expected behavior**
Show details of the commit

**Context (please complete the following information):**
OS: Arch Linux
Kernel: x86_64 Linux 5.13.9-arch1-1
GitUI Version: 0.16.2
Rust v

[2021-08-11 10:59] extrawurst commented on #836
the actual error:
[code]

[2021-08-11 11:25] #836 closed

[2021-08-11 16:44] jabra98 commented on #836
Is this only shown in debug builds?

[2021-08-11 16:48] extrawurst commented on #836
Nope it’s only logged if you use the respective argument

[2021-08-12 20:00] #588 closed

[2021-08-14 14:40] cruessler commented on #381
@extrawurst It took longer than expected, but today I got a first version working. There are still a few rough edges, but I might be able to open a draft PR this weekend!

[2021-08-14 22:22] extrawurst commented on #381
that sounds great, looking forward to see it in action

[2021-08-15 12:24] #560 closed

[2021-08-15 13:14] #559 closed

[2021-08-15 14:25] extrawurst opened #843 "optimize status"
right now we have two separate threads working on the status for the *workdir* and one for *stage* - we can check if fetching the status for both at the same time still allows us to distinguish what has to go where.

[2021-08-15 15:02] extrawurst opened #844 "blame broken since TUI upgrade"
since 0f896933a52dfea5942f4d5041ac1a99357b5d48 the blame view does not show the code anymore

[2021-08-15 15:03] extrawurst commented on #844
<img width="1904" alt="Screenshot 2021-08-15 at 17 02 47" src="https://user-images.githubusercontent.com/776816/129482949-a4039edc-cf28-4570-9d11-f28051513db3.png">

[2021-08-15 15:17] extrawurst commented on #844
turns out this is an upstream issue in tui-rs: https://github.com/fdehau/tui-rs/issues/525

[2021-08-15 15:18] #844 closed

[2021-08-15 15:44] #622 closed

[2021-08-15 16:19] extrawurst opened #846 "popup back button history"
currently we have no history of where the user comes from when opening the blame/commit-detail popup. would be nice to keep track of that and allow going back to where the user came from.

simple use case:
* go to file tab
* choose a file and open blame
* choose a commit and inspect inside blame
* commit details are open now
* close commit details
* we are back in the file tab

I would expect to b

[2021-08-15 16:24] extrawurst opened #847 "mark remote branches having tracking branches"
right now we only mark the local branches that are tied to a remote tracking branch:

<img width="845" alt="Screenshot 2021-08-15 at 18 23 51" src="https://user-images.githubusercontent.com/776816/129485323-a04bbe2e-8430-4b4e-8fdc-4bfce4540baa.png">

would be nice to have a similar marker for the corresponding remote branches:

<img width="857" alt="Screenshot 2021-08-15 at 18 24 21" src="https://

[2021-08-15 19:20] #691 closed

[2021-08-17 10:45] extrawurst opened #850 "excessive tags fetching in revlog"
scrolling up and down the revlog I noticed that an excessive amount of git fetching happens which slows down the app:
[code]

it should be only happening maximum every 3s

[2021-08-17 11:35] #850 closed

[2021-08-17 12:33] extrawurst opened #852 "compare two commits"
since 25a49e2 we can mark entries in the log:

![Screenflick Movie 11](https://user-images.githubusercontent.com/776816/129726217-2e3f6392-1b77-4764-add7-adf7d4925837.gif)

we can use that to open a diff of two different commits

[2021-08-17 20:10] leecannon opened #853 "undefined reference to `git_branch_name_is_valid'"
**Describe the bug**
After commit d42b00389c960b0aac1b0d0fa03ee07de5c3f7a8 (found by git bisect) compilation fails with the error:

[code]

**Context (please complete the following information):**
 - OS/Distro + Version: Arch
 - GitUI Version: master
 - Rust version: 1.56.0-nightly (0035d9dce 2021-08-16)
 - libgit2 version: 1.1.1
 - gcc version: 11.1.0

[2021-08-17 20:23] extrawurst commented on #853
That’s an upstream issue:
You essentially cannot link against some system libgit2 version

[2021-08-17 21:59] extrawurst commented on #809
The plan is to have a popup like this:

<img width="495" alt="Screenshot 2021-08-17 at 23 58 59" src="https://user-images.githubusercontent.com/776816/129806225-cea3d79e-5907-42a7-ac23-cdae34069109.png">

[2021-08-17 22:38] extrawurst opened #854 "delete multiple stashes"

[2021-08-17 23:41] #854 closed

[2021-08-17 23:42] extrawurst commented on #854
![drop-multiple-stashes](https://user-images.githubusercontent.com/776816/129814550-8ad1b549-31ef-4d4c-a408-ae47af7432e6.gif)

[2021-08-18 00:00] extrawurst commented on #132
This is supported now as of #854

[2021-08-19 00:13] extrawurst commented on #809
incoming

![ezgif com-resize](https://user-images.githubusercontent.com/776816/129987905-56a0595f-9611-4c7e-81e8-ec06376c62a1.gif)

[2021-08-19 00:19] extrawurst commented on #444
`ignore-all-space` supporting coming with #849

[2021-08-19 00:19] #809 closed

[2021-08-19 08:17] ZeemanZhang opened #859 "Files tab error when there is a empty repo"
**Describe the bug**
When I create a new git repo, I run gitui and switch to the Files tab, then GitUI just break.

**Screenshots**
![动画.gif](https://i.loli.net/2021/08/19/K2bj6YBOvnfsTdW.gif)

**Context (please complete the following information):**
 - System Version: Windows 10 Pro 19043.1165
 - GitUI Version: 0.16.2
 - Git Version: 2.32.0.windows.2

[2021-08-19 09:01] extrawurst commented on #859
good catch!

[2021-08-19 09:05] #859 closed

[2021-08-20 02:46] andrewpollack commented on #768
This looks like a fun issue 😄 mind if I give this a go?

[2021-08-20 03:19] amalik18 commented on #747
I can give this a shot

[2021-08-20 03:21] amalik18 commented on #537
I can try this

[2021-08-20 11:03] #847 closed

[2021-08-20 14:53] extrawurst opened #862 "option to ignore line endings in diff"
now that we have options, lets allow this one aswell

[2021-08-20 21:05] Icxolu commented on #823
It seems this was introduced in 423a014b0e4946bf195f38f0a03539330aa47e09.
Specifically this https://github.com/extrawurst/gitui/blob/423a014b0e4946bf195f38f0a03539330aa47e09/src/input.rs#L54 seems to cause the problem.

When executing with `cargo run` it also gives an additional error code, which is not shown when just executing directly:
```error: process didn't exit successfully: `target\debug\g

[2021-08-21 02:30] skyfaller opened #865 "view like `git diff --color-moved`"
Sometimes code has simply been moved around, rather than deleted or added. It would be nice to be able to see this at a glance. The command `git diff --color-moved` will display this, or you can set `--color-moved` to be git's default with a command like `git config --global diff.colorMoved default`.

Sadly I do not see an option to achieve this behavior in gitui.

**Describe the solution you'd li

[2021-08-21 13:36] extrawurst commented on #852
here we go:

![compare](https://user-images.githubusercontent.com/776816/130323507-fb689445-8fe0-4fe6-a9a1-58ce2c149f85.gif)

[2021-08-21 13:49] #852 closed

[2021-08-21 17:26] extrawurst commented on #823
@BuriedStPatrick @Icxolu can you test the branch `fix-823-quit-delay-windows` with b1bacbe and let me know if this fixes the close-delay?

[2021-08-21 22:06] Icxolu commented on #823
@extrawurst This fixes it for me, I can't observe any close-delay anymore.

[2021-08-21 22:25] #823 closed

[2021-08-22 10:45] mvaneijk commented on #757
I would like to give this a try. It will be my first contribution to a rust project.

[2021-08-22 11:03] extrawurst commented on #757
@mvaneijk may I suggest to start with `asyncgit/src/tags.rs`? It is essentially the same change but much less code, so probably a less daunting entry

[2021-08-22 11:08] extrawurst commented on #757
@mvaneijk I added a more elaborate description above. hope that gives you a good place to start 👍

[2021-08-22 11:12] extrawurst opened #868 "scrollbar in revlog"
we should have all we need to visualise the scrollbar position in the revlog using `draw_scrollbar` (like we do in many other widgets)

[2021-08-22 11:16] extrawurst opened #869 "decouple input from re-draw"
* drawing is significantly slower than input
* this is most notable in complex widgets like the (rev)log
* we should PoC if it is improving the experience if we decouple both
* this would mean instead of every input triggering a redraw, we buffer up inputs that happen during a ongoing redraw

[2021-08-22 11:22] mvaneijk commented on #757
@extrawurst Looks good, I'll give it a go.

[2021-08-22 12:57] BuriedStPatrick commented on #823
@extrawurst @Icxolu Can confirm on my end as well. Thanks, and good work! :)

One thing of note when attempting to test: I had trouble installing the specific branch with cargo due to a dependency on Perl in Windows. Apparently Perl ships with Windows, but isn't compatible with the `openssl-sys` implementation due to Windows-style file paths.

To fix this, so I could test gitui, I simply installed

[2021-08-22 17:43] #440 closed

[2021-08-22 17:43] #694 closed

[2021-08-22 18:41] ashvin021 commented on #868
Hi, I'd like to give this a shot :)

[2021-08-22 21:20] extrawurst opened #871 "taglist commit msg broken"
<img width="1009" alt="Screenshot 2021-08-22 at 23 19 43" src="https://user-images.githubusercontent.com/776816/130370345-2b8a0ff1-7acf-4fc0-a59a-62fdb99e087c.png">
 probably the same as #844

[2021-08-22 21:24] #871 closed

[2021-08-23 09:58] extrawurst opened #872 "push to foreign remote: permission denied"
while testing to push to a foreign remote that I was allowed to push to I saw that it does not work in gitui but works with the CLI:

[code]

[2021-08-23 10:09] #768 closed

[2021-08-23 10:12] alerque commented on #853
Just bumped into this issue trying to update the official package for Arch Linux. It would be much appreciated if we could refrain from relying on things that are not released in dependencies yet. Keeping a devel branch with the goodies to be merged as soon as upstream releases them would be preferable.

Is there any chance of working around this by making some adjustments and not using any of the

[2021-08-23 10:34] 0xpr03 commented on #1
Note: We're not depending on mio 0.6 [anymore](https://github.com/notify-rs/notify/pull/278)

[2021-08-23 10:44] extrawurst commented on #1
@0xpr03 yeah but I am waiting for a stable release of `5.0`

[2021-08-23 13:44] extrawurst opened #874 "file tree view does not show first whitespace"
<img width="1897" alt="Screenshot 2021-08-23 at 15 43 10" src="https://user-images.githubusercontent.com/776816/130457856-c5c7ae0a-c1c7-4569-a151-7966d77d7cfd.png">

[2021-08-23 21:17] extrawurst opened #875 "Branch-delete: Ask to delete tracking branch"
If I delete a local branch and it has an upstream I want to be asked to delete that aswell when I delete the local branch. Same vice versa

[2021-08-23 21:18] extrawurst opened #876 "Merge from branch window should close it"
I think that is a regression

[2021-08-24 06:38] amalik18 commented on #537
How do I assign it to myself?