[2020-03-22 01:11] extrawurst opened #1 "use watcher instead of polling"
use [notify](https://crates.io/crates/notify) to watch git instead of permanent polling

[2020-03-22 01:11] extrawurst opened #2 "log view"

[2020-03-22 01:11] extrawurst opened #3 "stashing support"
some question need to be solved for this:
* does the stashing happen in the status tab? or..
* we will need a new tab for the stash list anyway, is that the place to also save stuff to the stash? this would allow setting the options like `include untracked files`?
* if we stash in the status-tab, do we use a popup to ask for the options like that?

[2020-03-30 02:06] github-actions[bot] opened #4 "RUSTSEC-2018-0015: term is looking for a new maintainer"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `term`                      |
| Version             | `0.6.1`                   |
| URL                 | [https://github.com/Stebalien/term/issues/93](https://github.com/Steba

[2020-03-30 10:03] #4 closed

[2020-03-30 10:22] extrawurst opened #5 "panic on exit (windows)"
one of the threads tries to send during shutdown when receiving side of channels closed already -> panic

for some reason only happens on windows

[2020-03-30 18:17] extrawurst commented on #5
seems fixed by https://github.com/extrawurst/gitui/commit/6d8b9c3fb6338c3e5cfcbb8a0a6be27dddf64351

[2020-03-30 18:17] #5 closed

[2020-04-06 08:40] extrawurst opened #10 "make staging/unstaging async"
currently this is one of the blocking operations that takes ~1s on large repos (tested on linux)

[2020-04-07 21:42] extrawurst opened #11 "reset/revert selected hunk"
1. extend async lib with something like `reset_hunk` (+ unittests)
2. integration into the UI should be straightforward and similar to how rest of files is already done

[2020-04-07 21:43] extrawurst opened #12 "tabs are not rendered in diff"

[2020-04-09 07:22] extrawurst opened #14 "fix commit hooks on windows (+tests)"
calling the hooks is currently only implemented of *nix systems.
how does this even work on windows? does git call *.bat files? help of someone on a windows machine would be required here.

[2020-04-09 10:43] #12 closed

[2020-04-11 23:33] extrawurst opened #16 "show version in help"

[2020-04-12 12:23] #16 closed

[2020-04-13 07:29] dufferzafar opened #18 "Linux builds, please?"
I currently use `lazygit`, but have a few gripes with it.

I understand that this project is in very early stages, but I'd still want to try it.

Having linux builds like other rust tools would be great, thanks!

[2020-04-13 20:56] extrawurst commented on #18
Hi @dufferzafar thanks for your interest in the project. I currently setting up continuous deployment for macos builds since this is my home platform. I want to look into linux/windows builds after that, but maybe you can shed a light what the right approach to deal with Linux is, simply providing a ubuntu build binary or is there a package manager that I should focus on?
any interest in helping o

[2020-04-13 21:22] dufferzafar commented on #18
So, I feel like you should just try to mimic how other "popular" rust tools do this. Like ripgrep, fd, exa etc. I think having a .deb file, a .rpm file and a .tar.gz file containing a static binary should be enough for just about everyone.

I've never used the rust tool chain myself. But I've been meaning to for some time now, so sure I'd try to see how it all works.

And yeah, we'd have them auto

[2020-04-14 10:17] extrawurst opened #20 "cd improvements"
* cargo publish
* test that cargo.toml version matches tag

[2020-04-14 14:34] extrawurst opened #21 "diff line endings broken"
<img width="927" alt="image" src="https://user-images.githubusercontent.com/776816/79236827-bfa4b900-7e6d-11ea-819c-8bb45b22614f.png">

[2020-04-15 13:14] extrawurst commented on #18
So I added GitHub Actions to automate deployment of Mac builds, I will look at linux next and mimic `procs` (https://github.com/dalance/procs) is doing and start with an `rpm` package. is that a format that you could test then?

[2020-04-15 13:20] dufferzafar commented on #18
No, sorry, I use ArchLinux and won't be able to test rpm easily. Or debs for that matter. For me, the best format would be a statically linked executable. Packaged in a tarball.

Like this one for ripgrep: https://github.com/BurntSushi/ripgrep/releases/download/12.0.1/ripgrep-12.0.1-x86_64-unknown-linux-musl.tar.gz

or this for procs: https://github.com/dalance/procs/releases/download/v0.9.20/proc

[2020-04-15 13:26] extrawurst commented on #18
Ok then tarball'd binary for musl it is! :)

[2020-04-15 15:53] extrawurst commented on #18
@dufferzafar would non-musl `x86_64-unknown-linux-gnu` also work? I cannot seem to make it work with musl :(

[2020-04-15 16:21] dufferzafar commented on #18
Yeah. Non Musl will work for me as well.

[2020-04-15 19:43] extrawurst commented on #18
@dufferzafar can you please checkout the first try releasing a linux build: https://github.com/extrawurst/gitui/releases/tag/v0.1.8

[2020-04-16 06:34] dufferzafar commented on #18
[code]

[2020-04-16 06:36] dufferzafar commented on #18
Doing the same with `lazygit`:

[code]

[2020-04-16 06:37] dufferzafar commented on #18
So I think we want statically linked binaries for linux.

[2020-04-16 11:12] extrawurst commented on #18
ok next try, can you look at the artifact here: https://github.com/extrawurst/gitui/actions/runs/79754750

[2020-04-16 11:26] dufferzafar commented on #18
Yeap, that worked!

[2020-04-16 12:06] extrawurst commented on #18
ok great 👍

[2020-04-16 12:06] extrawurst commented on #18
should be integrated in next version then

[2020-04-16 14:41] #21 closed

[2020-04-17 14:00] extrawurst commented on #10
staging is much faster via (https://github.com/extrawurst/gitui/commit/75b729cca93fe828675a4714e65749989774d29b)
 now refreshing the index is the problem to show the file switching to the staged list. but this is not blocking the UI anymore

[2020-04-17 14:00] #10 closed

[2020-04-17 21:18] extrawurst commented on #18
as of `v0.1.9` linux builds are part of the deployment pipeline: https://github.com/extrawurst/gitui/releases/tag/v0.1.9

[2020-04-17 21:18] #18 closed

[2020-04-18 08:53] extrawurst opened #24 "broke staging deleted files"

[2020-04-18 09:25] #24 closed

[2020-04-18 11:31] extrawurst opened #25 "newfile diff broken when opened in subfolder"
<img width="777" alt="image" src="https://user-images.githubusercontent.com/776816/79636547-c2a6ee80-8178-11ea-8c89-e864c6b6679a.png">

vs.

when in root:
<img width="691" alt="image" src="https://user-images.githubusercontent.com/776816/79636565-dce0cc80-8178-11ea-8f4c-a594f7488517.png">

[2020-04-18 16:53] #25 closed

[2020-04-21 16:21] extrawurst opened #26 "revert workaround for crossterm key modifier issue"
revert 72a1f94483283a022b64c59ecbafaa00070793c8 once Crossterm issue is fixed: https://github.com/crossterm-rs/crossterm/issues/421

[2020-04-21 21:10] piegamesde opened #27 "Adhere to the XDG base directory specicifation"
**Is your feature request related to a problem? Please describe.**

Since gitui has no configuration (yet?), this may be a bit early, but you're already on the wrong path:

So please don't do that and use the XDG environment variables do determine where to put config, log and other files.

**Additional context**

https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2020-04-21 21:25] piegamesde opened #28 "Add inverted colors mode for light backgrounds"
**Is your feature request related to a problem? Please describe.**

Currently the main text color is yellow. Which doesn't read well on a white terminal background.

**Describe the solution you'd like**

A CLI flag to switch to a dark color theme for better readability.

**Describe alternatives you've considered**

- I don't know if it's a good idea, but simply inverting all colors might be enough

[2020-04-21 21:31] piegamesde opened #29 "Make panel jumping more intuitive"
**Is your feature request related to a problem? Please describe.**

The UI doesn't really tell that you can use 1-4 to switch between panels. There is a number behind the panel's title (`Unstaged Changes [1]`), but that could also be the number of unstaged files.

**Describe the solution you'd like**

Lazygit does a pretty good job at it: The bottom panel says: `1-5: jump to panel, […]`.

[2020-04-22 08:59] extrawurst commented on #29
Hey @piegamesde thanks for your valuable feedback! Did you look into the help screen?
<img width="533" alt="image" src="https://user-images.githubusercontent.com/776816/79962420-4e29c380-8488-11ea-8751-d35680f955b3.png">

[2020-04-22 09:01] extrawurst commented on #27
That is a very good point. I was wondering what is the "standard" here! Thanks for pointing me in the right direction.

[2020-04-22 09:07] extrawurst commented on #28
Hm that is a more complicated issue. But it is definitely important to find a solution for that since everyone uses different colorsets - so it is essential that the solution scales

[2020-04-22 10:30] piegamesde commented on #29
Yes I did. But I didn't know how to unstage things for the first five minutes due to this :)

[2020-04-22 12:25] extrawurst commented on #27
@piegamesde does that adhere to convention on linux?

this will log to:
 * `$HOME/Library/Caches/gitui/gitui.log` (mac)
 * `$XDG_CACHE_HOME/gitui/gitui.log` (linux using `XDG`)
 * `$HOME/.cache/gitui/gitui.log` (linux otherwise)

[2020-04-22 12:30] piegamesde commented on #27
LGTM, even if I can't speak for MAC users (in theory the XDG specification is not limited to Linux, but ¯\_(ツ)_/¯ ). You could partly follow the specification on MAC by using `$XDG_CACHE_HOME` if set, but defaulting to `$HOME/Library/Caches` instead of `$HOME/.cache` if not.

[2020-04-22 12:32] extrawurst commented on #27
merged

[2020-04-22 12:32] #27 closed

[2020-04-22 12:32] piegamesde commented on #27
Thx

[2020-04-23 06:59] extrawurst commented on #29
I understand that it can be confusing in the beginning - let me give it some thought. The problem is the actionbar on the bottom is already pretty full, therefore entries in there need to be brief and still expressive otherwise the bar gets cut off on smaller terminals

[2020-04-23 08:39] Geobert opened #32 "Interactive rebase"
**Is your feature request related to a problem? Please describe.**
I'm also using Fork, and the sudden change of policy doesn't really suit me so I was looking for an alternative. The feature I use the most was interactive rebase so here is my feature request :)

**Describe the solution you'd like**
Ability to have a list of commit that I can act upon (squash, reword etc…)

**Describe alternatives

[2020-04-23 09:51] extrawurst commented on #32
Hi @Geobert thanks for your interest in this project, Interactive Rebase is absolutely on my list of features for the commit log view (#2)

[2020-04-27 22:13] prabirshrestha opened #36 "add windows binaries in release page"
currently it only include linux and mac.

[2020-04-27 22:26] extrawurst commented on #36
Hi @prabirshrestha thanks for your interest in the project!
Windows binaries are in preperation. I could use some testing help on windows, you can checkout the current build here: https://github.com/extrawurst/gitui/actions/runs/89425008

[2020-04-27 22:33] prabirshrestha commented on #36
I used cargo install and it works in windows.

Would be good to have binaries so folks that have rust tools can easily use it. It was more for others as I already use rust.

[2020-04-28 10:59] extrawurst commented on #36
win binaries should be in the next release; https://github.com/extrawurst/gitui/commit/d22571c919aea221d4c8a5b07efb708abfc37619

[2020-04-28 14:10] extrawurst commented on #36
first release containing win binaries: https://github.com/extrawurst/gitui/releases/tag/v0.1.12

[2020-04-28 14:10] #36 closed

[2020-04-28 15:35] prabirshrestha commented on #36
Thanks. For the quick action.

[2020-04-30 10:28] extrawurst commented on #29
as you suggested there is a command shown in the quickbar at the bottom now indicating how to switch focus to `Focus Stage [2]` or `Focus Unstaged [1]`:

<img width="882" alt="image" src="https://user-images.githubusercontent.com/776816/80700363-dd188a80-8add-11ea-9acf-fb3840fc333d.png">

[2020-04-30 10:28] #29 closed

[2020-05-05 11:58] extrawurst commented on #2
first version: https://github.com/extrawurst/gitui/commit/1db1f00302a75125ae085a5df7401f244ca6e9a0

[2020-05-05 12:13] extrawurst commented on #2
![Screenflick Movie 13](https://user-images.githubusercontent.com/776816/81064794-9ca07e80-8eda-11ea-8f8a-a9c95cdf98b6.gif)

[2020-05-05 12:15] extrawurst commented on #2
no actions available on the individual commit yet (reword, squash.. that's for another day)
at least for now this implementations parses the log much faster than `tig` and with much less memory

[2020-05-05 12:38] extrawurst commented on #2
released: https://github.com/extrawurst/gitui/releases/tag/v0.2.1

[2020-05-05 12:38] #2 closed

[2020-05-07 13:14] extrawurst opened #42 "diff improvement"
<img width="504" alt="Screenshot 2020-05-07 at 15 12 49" src="https://user-images.githubusercontent.com/776816/81298607-46b40e00-9075-11ea-862e-5abf8dbfffbf.png">

1. show filename of file diffed in title
2. dont show 'no text file' as if it was a diff for binary files

[2020-05-07 15:06] extrawurst commented on #42
<img width="355" alt="image" src="https://user-images.githubusercontent.com/776816/81310862-f3e25280-9084-11ea-9175-ef4fd6a741fb.png">

[2020-05-07 15:06] #42 closed

[2020-05-07 21:02] data-man opened #43 "Use more navigation keys"
**Is your feature request related to a problem?**
Use Home, End, PgUp and PgDn keys in diff and log panes.

**Describe the solution you'd like**
Scroll to top, bottom and by screen's height.

**Describe alternatives you've considered**
E.g. like tig.

[2020-05-07 21:17] extrawurst commented on #43
Hi @data-man thanks for your interest in the project! Thats indeed a great idea. Haven't thought of it since I am on a small laptop keyboard ;D

[2020-05-08 14:30] extrawurst opened #44 "Add to ignore"
support adding untracked files in the changeset to ignore.
the more important question here is: how to add even more commands without flooding the quicker (bottom) - some context menu popup mechanism maybe?

[2020-05-09 11:04] #26 closed

[2020-05-09 11:11] extrawurst opened #46 "better commit msg support"
* [x] allow moving cursor (see #117)
* [ ] show chars used (>50 red)
* [x] support delegating commit msg editing to a terminal editor for longer messages

[2020-05-09 21:13] extrawurst opened #47 "tags in commit log"
show tags in commit log

[code]

[2020-05-10 10:06] bobismijnnaam commented on #43
This issue seems relevant to my request, so I will post it here instead of making a new issue if that is okay.

Any plans to support h, j, k, l for navigation? Some sites (i.e. duckduckgo) also support this natively, and as a vim user support would be nice. (I do not think any other vim bindings should be added, as that's way too opinionated. But basic hjkl support would be nice).

In any case, th

[2020-05-10 10:50] extrawurst commented on #43
I am really not a fan of duplicating functionality 🤔- My main concern is simplicity - I need to think about this.

Thank you so much❤️

[2020-05-10 11:09] data-man commented on #43
@extrawurst

Thank you for getting started!
I tested this commit, but the `Home` and `End` aren't working.

[2020-05-10 11:16] extrawurst commented on #43
Thanks so much for even trying a build from code!😍
Hooked up my external keyboard now and fixed It 🙈
see https://github.com/extrawurst/gitui/commit/5fc8d72ed65b4f64733419566dfd0798d235aab4

home/end were easy, the remaining ones (pages/down) will take little longer, since I need to rework some code to allow this. (currently the *rendering* is IMGUI style and stateless, so I dont know how high the

[2020-05-10 11:49] Thra11 opened #48 "Document tab key to change tab"
**Describe the bug**
It took me a while to work out how to change to the "Log" tab, as the key to press, tab, isn't mentioned in the help.

**To Reproduce**
Steps to reproduce the behavior:
1. Open gitui
2. press 'h' to view the help

**Expected behavior**
The help should show the key to press to change tab, (Something like "Change tab [tab]") probably in the General section.

**Desktop (please co

[2020-05-10 12:14] extrawurst commented on #47
<img width="629" alt="image" src="https://user-images.githubusercontent.com/776816/81499002-7c046a00-92c8-11ea-8eb8-a784126a2716.png">
... I think I am pretty happy with this

[2020-05-10 12:25] extrawurst commented on #48
ha very good point! Thanks @Thra11 for the hint. just wanted to release tags in the log (#47) but let me first fix that too

[2020-05-10 12:37] #48 closed

[2020-05-10 13:21] extrawurst commented on #47
releases as `0.2.2`: https://github.com/extrawurst/gitui/releases/tag/v0.2.2

[2020-05-10 13:21] #47 closed

[2020-05-12 08:39] extrawurst commented on #43
@data-man if you want to try the page up/down should now work in the commit log 😊

[2020-05-12 11:54] data-man commented on #43
@extrawurst Great! Thank you!

Also would be nice to add mouse wheel support in the future.

[2020-05-12 11:54] #43 closed

[2020-05-12 12:38] extrawurst commented on #43
home/end/pageUp/pageDown support released as `0.2.3`: https://github.com/extrawurst/gitui/releases/tag/v0.2.3

[2020-05-13 14:40] extrawurst opened #52 "better scrolling in diff/log"
now that the diff and log component know their render height, we can make scrolling/selecting more natural by only scrolling once the selection would leave the view instead of always centering the view over the selection.

[2020-05-13 14:52] extrawurst opened #53 "more error handling"
I started `asyncgit` crate ignoring errors `unwrap` is all over the place but the goal would be to handle them correctly like with `sync::get_commits_info`

[2020-05-13 19:13] MCord commented on #53
Hi, I would love to help but I don't have much experience in Rust. Can I take this issue ?

[2020-05-13 20:29] extrawurst commented on #53
Hy @MCord thanks for your interest in helping❤️! Absolutely you can grab this one - let me know when you need any input!

[2020-05-14 09:33] torfmaster opened #56 "gitui crashes with message 'invalid git path'."
**Describe the bug**
`gitui` crashes with message 'invalid git path'.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `cargo install` to install gitui on ubuntu 18.10
2. type `gitui` in the command line
3. Hit return
4. See 'invalid git path' and observe that the app is not started.

**Expected behavior**
The app opens

**Desktop (please complete the following information):**
 - OS: ubun

[2020-05-14 10:19] MCord commented on #53
So here is my first question: do we want to define a custom error for `asyncgit` lib or use the `git2::Error` ? in many cases the underlying error is `git2::Error` but for example in `hook::hooks_commit_msg()` it might be an `std::io::Error` or if for whatever reason we can not get a temp file name we have to return some kind of error, which type would that be ?

[2020-05-14 10:51] extrawurst commented on #56
Hi @torfmaster thanks for reaching out.

Are you running the `gitui` inside a valid git folder?

[2020-05-14 10:58] MCord commented on #53
Ok, let's try that. I will send a PR so we can discuss the implementation.

[2020-05-14 11:00] extrawurst commented on #53
Really cool! Thank you❤️!

[2020-05-14 11:43] extrawurst opened #57 "different key binding presets"
based off of #43 there is still the open issue of how to support different key bindings like `vim`,`emacs` and `nano`. I need input on those, cause I don't use them at all.

The most flexible solution would be having `gitui` dump the default bindings into a config file (on first run) and load it on startup so people can alter it.

My plan is to do it in 2 bigger changes:

### 1. make key bindings

[2020-05-14 12:19] torfmaster commented on #56
Actually, no. Running it in a git repo actually works. Thanks for pointing that out.

[2020-05-14 12:28] extrawurst commented on #56
took the opportunity to make the error message more elaborate:
<img width="355" alt="image" src="https://user-images.githubusercontent.com/776816/81934338-17f6e400-95ef-11ea-98ca-4680384ec7aa.png">

[2020-05-14 12:28] #56 closed

[2020-05-14 13:17] MCord commented on #53
I have created a pull request #58 but the build is failing, I am trying to figure out what went wrong.

[2020-05-14 15:44] extrawurst commented on #28
Similar but less challenging than #57:

1. refactor all `Style` objects that are generated on the fly all over the place to be statics first, because that allows us to figure out what are the common ones and derive the *theme* of `gitui`
2. introduce a new struct `Theme` that holds values for all these values
3. initialise this default Theme to look like it is right now
4. use `crossterm` feature

[2020-05-15 09:26] non-descriptive opened #59 "Per line staging"
Currently we can stage things only hunk by hunk or whole file at once. It would be nice to have ability to stage only current line or bunch of selected lines.

Flow would look like something like this:
We focus on diff panel and navigate to a hunk we want to work with.
Select lines we want to stage with arrows and some modifier key (is tui allow that kind of thing?) and press [S]tage button. If th

[2020-05-15 10:05] extrawurst commented on #59
Hi @non-descriptive thanks for your interest in `gitui`! I would love to have this feature. I need to checkout options how to make this ergonomic using keyboard only. will checkout how other tools are doing this and come up with a plan!

[2020-05-15 13:15] #53 closed

[2020-05-15 13:16] MCord commented on #14
I can take this if it's ok with you.

[2020-05-15 13:22] extrawurst commented on #14
Absolutely! Are you running on windows? I have a hard time even testing this being on a Mac. Do you know how hooks work on windows? are they run expected as *.bat files?

[2020-05-15 13:28] MCord commented on #14
yes I use a windows 10 as my main machine. for hooks on windows you have to specify an alternative interpreter. the default installation of git provides a bash interpreter but even PowerShell should work.

[2020-05-15 13:29] extrawurst commented on #14
Ok I assume its regular bash scripts aswell, now that I look at it.

@MCord could you add a unitest for the hooks, I realize they are missing

[2020-05-15 13:32] extrawurst commented on #14
I tried to reach out to you twitter. would you be up for syncing on discord?

[2020-05-15 13:40] MCord commented on #14
That would be great ! let me know when you are available to chat!

[2020-05-15 13:56] MCord commented on #14
my handle is mcord on discord by the way.

[2020-05-16 17:08] #14 closed

[2020-05-16 17:25] extrawurst opened #61 "single commit multiple tags not supported"
in the logview right now only tag will show up and its even pretty random which one.

[2020-05-16 18:14] #61 closed

[2020-05-16 18:23] MCord commented on #28
I am going to try to refactor the code and let you know how it goes.

[2020-05-16 21:10] MCord opened #63 "program crashes when showing help if terminal height is less than help modal height"
**Describe the bug**
program crashes when showing help if terminal height is less than help modal height

**To Reproduce**
Steps to reproduce the behavior:
1. run `gitui`
2. change the height of the terminal to a very short height (ex 15 chars)
3. press `h` to display help

**Expected behavior**
A warning about the terminal height maybe but no crash.

**Desktop (please complete the following infor

[2020-05-16 21:24] extrawurst commented on #63
good catch!

fixed:
<img width="378" alt="image" src="https://user-images.githubusercontent.com/776816/82130517-601f2d80-97cc-11ea-9be0-46a517b4fc80.png">

[2020-05-16 22:23] MCord commented on #63
That was fast! :)

[2020-05-17 08:07] hkdobrev commented on #57
👍

What I've found strange immediately after starting gitui was the different style in key bindings among them. The most stark was using letters for everything, but exiting with `Ctrl-c`. Most command-line tools taking over the entire screen like that exit with `q`. `git add --interactive` also quits with `q Enter`.

Do you think these could be unified? Thanks!

[2020-05-17 09:45] extrawurst commented on #57
Hey @hkdobrev thanks for your interest in `gitui` ❤️.

Before Quit was bound to the `q` key but that did not work in the commit popup, so I added `Esc` which bugged me because I prefer consistency. Then I got complaints that it is standard to support `ctrl+c` so I switched it to being the Quit binding.

Ultimately there is no single key bindings that satisfy everyone. This ticket and #43 shows tha

[2020-05-17 15:53] extrawurst commented on #52
A little more clarification:
when the selection for would leave the view on the bottom (of log or diff) the view should scroll down one line to keep it in view. similar to the behaviour people know from tools like `less` and `vim`.

[2020-05-18 02:10] github-actions[bot] opened #66 "RUSTSEC-2020-0016: `net2` crate has been deprecated; use `socket2` instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `net2`                      |
| Version             | `0.2.34`                   |
| URL                 | [https://github.com/deprecrated/net2-rs/commit/3350e3819adf151709047e

[2020-05-18 14:32] extrawurst commented on #28
see https://github.com/extrawurst/gitui/pull/65

[2020-05-18 15:23] extrawurst commented on #66
this is based in `crossterm`: https://github.com/crossterm-rs/crossterm/issues/432

[2020-05-18 16:02] vielmetti opened #69 "error[E0658]: use of unstable library feature 'matches_macro'"
**Describe the bug**

 failed to compile `gitui v0.2.5` on Ubuntu 20.04 on WSL 2

**To Reproduce**

run `cargo install gitui`

errors in the log:
`error[E0658]: use of unstable library feature 'matches_macro'`

**Expected behavior**

cargo install gitui should work as documented.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2020-05-18 16:14] vielmetti commented on #69
Problem replicates on Ubuntu 20.04 on the Pi 4. Both report `rustc 1.14.0` as the version.

[2020-05-18 16:21] vielmetti commented on #69
The error message references https://github.com/rust-lang/rust/issues/65721

[2020-05-18 16:21] extrawurst commented on #69
yeah the min rust version is `1.42` - I should mention that in the readme. using `rustup` makes it super easy to install a more current version of rust.

[2020-05-18 16:22] extrawurst commented on #3
WIP at https://github.com/extrawurst/gitui/pull/70

[2020-05-18 16:25] guss77 opened #71 "[0.2.5] app crashes when pressing h"
**Describe the bug**
When using the app on Ubuntu 20.04, in either view, pressing "h" for help causes the application to exit with exit code 101.

Running under strace, it doesn't look like anything bad happens - there are no signals and then something calls `exit_group(101)`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Ubuntu 20.04
2. Download Linux release 0.2.5 from Github
3.

[2020-05-18 16:32] vielmetti commented on #69
Installed the current version using `rustup` and all is well.

(wow, that's an old version of rustc in Ubuntu 20.04)

[2020-05-18 17:04] #69 closed

[2020-05-18 17:09] extrawurst commented on #71
hey @guss77 thanks for reaching out, can you check if this might be actually a dup of #63 ? If so I make sure I will do a release to offer you the fix.

[2020-05-18 21:01] extrawurst commented on #71
@guss77 please check if release `0.2.6` fixes the issue for you: https://github.com/extrawurst/gitui/releases/tag/v0.2.6

[2020-05-19 09:05] extrawurst commented on #52
Picture says more than a thousand words, the new behaviour is implemented in log view now as an example:
![Screenflick Movie 17](https://user-images.githubusercontent.com/776816/82307380-932a1280-99c0-11ea-92b0-0fe8e6c72e54.gif)

[2020-05-19 12:35] extrawurst commented on #3
<img width="758" alt="image" src="https://user-images.githubusercontent.com/776816/82326970-f1192300-99dd-11ea-8ce5-8a435b0ec5cc.png">

I think I am going for a two tab approach now

[2020-05-19 16:07] extrawurst opened #72 "panic on small terminal width"
`gitui` closes with a panic when resizing the terminal to weird small width like below 15:

[code]

[2020-05-19 16:17] extrawurst commented on #3
WIP
<img width="631" alt="image" src="https://user-images.githubusercontent.com/776816/82351547-03568980-99fd-11ea-9c2e-326613469cf5.png">

[2020-05-19 18:19] #28 closed

[2020-05-20 03:41] alistaircarscadden opened #73 "Open gitui in a given directory (gitui --cd=xyzdir/)"
**Is your feature request related to a problem? Please describe.**

I'd like to set the tool up so that when I right click on a directory (in windows) it launches gitui in the clicked directory. To do this I'd need a way to open the program in a different directory.

**Describe the solution you'd like**

`gitui.exe --cd=projectdir` to open the tool in the directory called projectdir

**Describe al

[2020-05-20 04:11] alistaircarscadden opened #74 "Command Commit [enter] closes/crashes gitui-win"
**Describe the bug**
In gitui-win v0.2.6 after staging, and after writing a commit message, pressing Enter abruptly closes the gitui.exe window. Inspecting the repo after shows that the commit is not made.

**To Reproduce**
1. Create new directory and cd into it
2. Run git init
3. Add a file to be committed (file.txt)
4. Run gitui.exe
5. Press enter on the file in the unstaged menu
6. Press 2 to e

[2020-05-20 04:20] alistaircarscadden commented on #74
After some testing I discovered that the bug does not occur after I run `git config user.name myname`. So, without a username it crashes, and with a username it works just fine. With or without an email it works, as long as it has a name.

[2020-05-20 04:36] alistaircarscadden opened #75 "Log tab shows no commits when there is 1 commit"
**Describe the bug**
In gitui-win v0.2.6 the Log tab shows nothing when there is exactly 1 commit. When the second commit is added, both the first and second commit will appear in the Log when you go to the tab.

Furthermore, when there are 2 commits (for example "Initial commit" and "Add readme") the text in the top left of the Log tab shows "commit 0/1" instead of 2/2.

**To Reproduce**
1. Creat

[2020-05-20 08:04] extrawurst commented on #75
Hey @alistaircarscadden thanks for your interest in `gitui`! Indeed good catch! Should be fixed now, will roll out in the next release.

[2020-05-20 08:04] extrawurst commented on #74
Good point! Currently it is expected to have the name set. Let me look into it

[2020-05-20 09:00] extrawurst commented on #73
hm couldn't that be done using a `*.bat` that does the `cd $1 && gitui` ? (sorry I a, no good in windows batch)

[2020-05-20 09:30] extrawurst commented on #74
so instead of panicking it should show an expressive error now:
<img width="663" alt="Screenshot 2020-05-20 at 11 24 11" src="https://user-images.githubusercontent.com/776816/82430122-35173100-9a8d-11ea-916d-b1f4ac330c67.png">

will roll out in next release

[2020-05-20 10:24] extrawurst commented on #75
should be fixed in `0.3.0`: https://github.com/extrawurst/gitui/releases/tag/v0.3.0

[2020-05-20 10:24] #75 closed

[2020-05-20 10:25] extrawurst commented on #74
should be fixed in `0.3.0`: https://github.com/extrawurst/gitui/releases/tag/v0.3.0

[2020-05-20 10:25] #74 closed

[2020-05-20 10:25] extrawurst commented on #71
Please let me know if you still find the issue in version >= `0.2.6`

[2020-05-20 10:25] #71 closed

[2020-05-20 10:29] extrawurst opened #76 "support new windows package manager winget"
MS announced a package manager: https://devblogs.microsoft.com/commandline/windows-package-manager-preview/

would be nice to be in there!
maybe it also allows being updated as part of our `CD` pipeline.

As I am not on windows, I am going to need help here :)

[2020-05-20 10:33] extrawurst opened #77 "app error handling using anyhow"
now that we have nice error coverage in `asyncgit` we could take the next step and add error support to the main application using `anyhow` based on the great summary on error handling in rust:

my idea would be to show an error popup similar to this one where ever possible: https://github.com/extrawurst/gitui/issues/74#issuecomment-631359272

if we come across unrecoverable errors we might need t

[2020-05-20 11:12] guss77 commented on #71
This problem indeed sounds like #63 , I'll move further communications there.

[2020-05-20 11:13] guss77 commented on #63
With version 0.3.0, this still happens to me on a terminal with height of 18 lines.

[2020-05-20 11:21] extrawurst commented on #63
@guss77 that's weird. I can't reproduce that anymore. can you run with logging enabled and send me the backtrace that should be dumped?

[2020-05-20 12:01] extrawurst commented on #63
@guss77 you can find details on how to enable logging in the readme: https://github.com/extrawurst/gitui#diagnostics

it would be great if you could share the generated log after `gitui` crashed to make sure it is not a duplicate of #72 for which I am waiting for the upstream to merge my PR

[2020-05-20 13:08] MCord commented on #76
winget is still very early stage and only open to Insider Program members. I think it's best to wait for the first version to get out. in the mean time I suggest to provide support for https://chocolatey.org/ which is the most popular package manager for windows.

[2020-05-20 14:17] alistaircarscadden commented on #74
I did a bit more looking around, and discovered I was wrong in my most recent comment. The git behaviour is it allows a commit to be made as long as at least a user.name or user.email is provided. The author shows up as `unknown <email@example.com>` if only an email is provided or `name <>` if only a name is provided.

When the condition is not met it shows the `*** Please tell me who you are.` me

[2020-05-20 14:18] extrawurst commented on #76
Good idea. Then let's Wait for this. If you say https://chocolatey.org/ is worth doing either way let's do that in a new issue specific for that

[2020-05-20 14:21] alistaircarscadden commented on #75
![image](https://user-images.githubusercontent.com/7132621/82457456-73a7ee00-9a83-11ea-9fd8-b374ed88b66f.png)

![image](https://user-images.githubusercontent.com/7132621/82457620-a3ef8c80-9a83-11ea-9a2e-fe4ee8e9599c.png)

Confirmed working. Thanks!

[2020-05-20 14:22] extrawurst commented on #74
I am not sure I follow. Does the crash persist for you? Is there a different behavior that we need to look into?

[2020-05-20 14:27] extrawurst commented on #74
@alistaircarscadden make sure to reopen the ticket if there is still the issue

[2020-05-20 14:35] alistaircarscadden commented on #73
To create the 'open w/ gitui' option in the context menu in Windows you create an entry in the Registry Editor. There are different registry keys for what appears in the context menu when you click inside a folder vs. when you click on a folder.

When you click inside of a folder, the gitui can be opened with no extra options, as the directory is already correct. See:

![image](https://user-images

[2020-05-20 14:44] alistaircarscadden opened #78 "Log tab not updating after the first time it is opened"
**Describe the bug**
In gitui-win v0.3.0 the Log tab is not updating after the first time the Log tab is opened.

The Log tab does not include the most recent commit when you make the commit with gitui or when you make the commit with another tool.

Tabbing to Status and back to Log does not make it update.

**To Reproduce**
1. Create new directory and cd into it
2. Run git init
3. Add a file to b

[2020-05-20 14:46] alistaircarscadden commented on #74
The crash is fixed, and I see the menu that you showed in your screenshot. I'm considering it may be a bug that gitui does not allow a commit in the same conditions git does allow one.

The conditions are when a user.email is present, and a user.name is not. git commit works, but committing with gitui does not.

[2020-05-20 14:47] extrawurst commented on #74
@alistaircarscadden what error does it show when trying to commit in those conditions?

[2020-05-20 14:49] extrawurst commented on #74
@alistaircarscadden `gitui` does not use the `git cli` and you are right, what works in regular git, should be possible in `gitui`. Please file a new ticket for this and please add the error message that `gitui` currently returns in that case.

[2020-05-20 14:51] extrawurst commented on #78
Good point, I never tried :)

[2020-05-20 14:51] alistaircarscadden commented on #74
Ok! It's more complicated then I thought, I'll make an issue.

[2020-05-20 14:53] MCord commented on #73
another trick that might be useful is to run cmd directly like:

[code]
this way you don't need a batch file.

[2020-05-20 14:56] alistaircarscadden commented on #73
@MCord I tried it and it works. Good idea.

[2020-05-20 14:56] extrawurst commented on #73
wow you windows people, that is cool stuff!
@alistaircarscadden thanks for taking the time to put this together.

[2020-05-20 15:08] alistaircarscadden opened #79 "The commit function does not work when you have user.email but no user.name defined"
**Describe the bug**
In gitui v0.3.0 the commit function does not allow a commit to be made when the user has a user.email defined and no user.name defined.

It took me a while to discover that there is a difference between user.name being defined as empty (`git config user.name ""`) and it being undefined (as in, `git config --list` does not show the entry at all).

In the empty case, interesting

[2020-05-20 15:26] extrawurst commented on #79
followup to #74

[2020-05-20 16:11] #78 closed

[2020-05-20 20:03] jugglerchris opened #80 "Show full commit messages in the log"
**Is your feature request related to a problem? Please describe.**
In the Log tab, I can see only the start of the log message for each commit, but when browsing the log I am likely to want to read the full message (or indeed view the diff).

**Describe the solution you'd like**
While browing the log, pressing 'enter' when an entry is highlighted could open up a panel showing more information - pr

[2020-05-20 20:09] jugglerchris opened #81 "Show the branching structure in the log."
**Is your feature request related to a problem? Please describe.**
It can be useful seeing the branching/merging structure in the log view, in a similar way to `git log --oneline --decorate --graph`

**Describe the solution you'd like**
The graph view visible in the log window.

**Describe alternatives you've considered**
I haven't got any other alternatives other than not doing it.  :-)

[2020-05-20 22:57] dufferzafar commented on #59
Lazygit does this via space. You can keep pressing space on changed lines and they'll get staged. (Same for unstage) It's pretty smooth.

[2020-05-21 01:31] alistaircarscadden opened #82 "Shift+enter to "git add ." in status view"
**Describe the solution you'd like**
Would be nice to recreate the add all behaviour with, perhaps, shift+enter.

[2020-05-21 08:02] guss77 commented on #63
With diagnostics, the log for the crash has this:

[code]

[2020-05-21 08:42] extrawurst commented on #82
hey @alistaircarscadden this is an edgecase where you have a lot of files in the root of your git folder, cause otherwise you can press enter on the folders to quickly stage/unstage a bunch of files.

Right now I will not add another command because the command bar (on the bottom) is getting crowded slowly. I need to first figure out how to handle additional commands 🤔

[2020-05-21 08:52] extrawurst opened #83 "[RFC] more commands support"
*One of the main goals of `gitui` is to not require the user to learn cryptic hotkeys/shortcuts to work with it. The command bar (at the bottom) always shows what actions are available in the current context.*

That said:
Right now, in certain views the command bar is already quiet full and especially crowded when using a small/narrow terminal.

some features right now are not tackled because of t

[2020-05-21 08:53] extrawurst commented on #80
Hi @jugglerchris thanks for your interest in `gitui` - this feature is definitely on my list aswell!

[2020-05-21 08:54] extrawurst commented on #81
Definitely on my list aswell 👍

[2020-05-21 09:24] extrawurst commented on #63
Ok @guss77 I am still lost on this one. May I ask you a couple of questions to allow me to find this badboy:
1. when you have a big enough terminal window - does the help window open?
2. can you resize the terminal window without any *crash* while the help window is closed?
3. if 1. was a *yes* - can you check if it only crashes when reducing *width* and *height* individually?
4. can you imagine b

[2020-05-21 09:29] jugglerchris commented on #83
Rather than listing the commands in full on the command bar, I think it would be fine to just list the keys and rely on the help popup if needed.  So instead of:

[code]
It could be:
[code]
or something along those lines, maybe grouping the single-character ones together.

[2020-05-21 09:50] MCord commented on #83
we have to use colors to comress commands a bit like Norton back in the day:

![image](https://user-images.githubusercontent.com/1547111/82546601-a2dc5f00-9b58-11ea-9652-2eb064b8edcd.png)

what about using sub-menus ? I mean for the less frequently commands instead of running the command we can open a submenu like:

![image](https://user-images.githubusercontent.com/1547111/82546875-1f6f3d80-9b59-

[2020-05-21 10:27] extrawurst commented on #77
one problem is going to be external libraries that do not go full *no-unwrap* too. Currently we have one of those issue with `tui-rs`: #72

[2020-05-21 11:51] guss77 commented on #63
1. yes.
2. My testing up until now was always to start gitui in a small window - I'm using a "pull down terminal" application - when on a vertical screen, the %height of the terminal is fine, but when on a horizontal screen the %height of the terminal is too small for the help window and it crashes. When I test resizing the terminal while gitui is running, then if the help window is **closed**, re

[2020-05-21 13:16] extrawurst commented on #63
@guss77 thanks for going through with this. Please build from master it will dump diagnostics into the terminal once it crashes, so u don't have to run with logging.

Regarding discord it is the easiest if you come over to [crossterm](https://github.com/crossterm-rs/crossterm)'s discord server: https://discord.gg/K4nyTDB - looking forward to figure this out

[2020-05-21 13:53] jugglerchris commented on #3
This looks useful!  One thing that would be useful that I don't see above is being able to stash individual lines or hunks rather than full files, like `git stash push --patch` (but with a better UI).  I can raise this as a new feature request for later down the road (if you think it's a worthwhile enhancement, that is).

[2020-05-21 14:03] MCord commented on #77
I am working on this.

[2020-05-21 18:23] alistaircarscadden commented on #82
Good point. To me, remembering some hotkeys has never been an issue but I do see you've made it your mandate to have all the keys visible in the UI, which is a noble goal.

If it were up to me, Shift is common enough that to me it means "shift+[X] to do task [X] with a greater scope". I'd just have the command available for those who know the key, and have the key written in the documentation. Shi

[2020-05-21 18:27] extrawurst commented on #3
Yeah that's actually two feature requests. Stashing individual files was on my list (which we need the upstream lib to add support for first: https://github.com/libgit2/libgit2/issues/4725), but stashing hunks actually never crossed my mind 🙈

[2020-05-21 18:32] extrawurst commented on #82
@alistaircarscadden we definitely need to be able to add more convenience shortcuts and still allow people to get the app without studying manpages. I think @MCord came with a good idea in #83 that allows best of both worlds, you will get your shortcut :)

[2020-05-21 21:49] extrawurst commented on #72
fixed via fdbd87b987ffc205259e31784e57b8a1006f35fd

[2020-05-21 21:49] #72 closed

[2020-05-22 06:56] jugglerchris opened #85 "Stashing individual hunks or lines"
**Is your feature request related to a problem? Please describe.**
I sometimes want to stash only parts of files - for example some dirty debug code when mixed with "real" changes, when I might want to recover the debug code after testing the change without.

**Describe the solution you'd like**
When selecting changes to stash, allow selecting individual parts of files to stash rather than stash e

[2020-05-22 06:57] jugglerchris commented on #3
Thanks, I've raised a new feature request for stashing hunks.

[2020-05-22 10:50] extrawurst opened #88 "introduce program arguments"
* convert `GITUI_LOGGING` from env to program argument using `clap`
* add version cmd to check version of binary without running for better diagnosis

this is also a prerequisite for #73

[2020-05-22 10:55] extrawurst opened #89 "support commit amend"
new command for `git commit amend`

* opens regular commit popup but fills in last commit msg
* disable command in empty repositories
* see https://docs.rs/git2/0.13.6/git2/struct.Commit.html#method.amend

before we can do that we need to land #83

[2020-05-22 11:56] guss77 commented on #63
Sorry it took me so long - Ubuntu 20.04 carries Rust 1.141 while gitui requires Rust 1.142.

With the current master debug build, I can't crash gitui by resizing the terminal, and the help screen shows fine for my use case (for which I reported the problem originally).

With more testing I concluded that vertical size is not a problem - I can resize the terminal down to 1 line and it still works,

[2020-05-22 12:02] extrawurst commented on #63
hey @guss77 thanks for investigating further, now you run into this bug: https://github.com/extrawurst/gitui/issues/72

please make sure you checkout current master (it was fixed in fdbd87b987ffc205259e31784e57b8a1006f35fd) and then it should be gone.

[2020-05-22 13:55] guss77 commented on #63
After the update, I can no longer crash gitui by resizing the terminal :-)

[2020-05-22 13:58] extrawurst commented on #63
wohoooo 🥳

[2020-05-22 13:58] #63 closed

[2020-05-22 14:04] guss77 commented on #80
Just wanted to pipe in with a +1 for this and the request that the info panel will also include the list of changed files.

I'm looking at gitui mainly as a replacement for [tig](https://github.com/jonas/tig)'s log view - which I find hard to use due to the non-intuitive key binding (using INS/DEL to scroll?!?). Ideally gitui would not only match tig features by showing the branches in the log (in

[2020-05-23 13:17] extrawurst commented on #83
So I gave this a bit more thought. The submenu approach has one drawback: We need a shortcut for every submenu to open to inspect the commands inside, or we need a shortcut that switches focus entirely to the menu structure and then use the arrow-keys to navigate the menu structure.
Both solutions do not feel right.

My idea right now is to keep the bottom-bar as is and cut of commands that do not

[2020-05-23 14:54] MCord commented on #83
the problem with having a flat command toolbar is that it gets crowded fast and there is no grouping of related commands. on the other hand this design's is more horizontal which is an added value on  modern screens.

[2020-05-23 15:12] #77 closed

[2020-05-25 14:19] extrawurst commented on #3
finished: https://github.com/extrawurst/gitui/commit/63d3bf5661c78f38b238780ad8709b0176bd1541

will go out in next release

[2020-05-25 14:46] extrawurst commented on #3
![stashing](https://user-images.githubusercontent.com/776816/82823086-34283a00-9ea7-11ea-9755-e0fb863a79e3.gif)

[2020-05-25 15:43] extrawurst commented on #3
released: https://github.com/extrawurst/gitui/releases/tag/v0.4.0

[2020-05-25 15:43] #3 closed

[2020-05-26 06:14] gilescope commented on #59
Hmm nice. In tig you can do '/' for break this hunk into two hunks but for some reason there are some hunks it refuses to split. Pressing space would work but being able to split a hunk at an arbitrary line would be great. Worst case you have to split twice to get at a specific line, but best case far less keystrokes (and tig compatibility).

[2020-05-27 14:20] alistaircarscadden opened #90 "Use gitui with remote repositories"
**Is your feature request related to a problem? Please describe.**
I would like to push and pull from remote branches.

**Describe the solution you'd like**
Potentially a tab beside Status and Log called Remote, the functions would be pull, push, fetch, and anything to do with remote branches.

The functionality to push a local branch of some name to a remote branch of some other name like `git pu

[2020-05-27 14:25] alistaircarscadden opened #91 "Manage and checkout branches"
**Is your feature request related to a problem? Please describe.**
I would like to be able to do functionality such as:

`git checkout -b newbranch`
`git branch -d oldbranch`

**Describe the solution you'd like**
Functionality similar to commit in the Status menu, that would perform these functions.

[2020-05-27 14:32] alistaircarscadden opened #92 "More tabs support"
**Is your feature request related to a problem? Please describe.**
Similar to #83, except instead of more commands, more tabs. Currently there are 4, and in one of my recent feature requests I proposed the possibility of a fifth.

**Describe the solution you'd like**
Add shortcuts to each tab, like for example Q W E R to reach the first, second, third, fourth tab. Furthermore, add SHIFT+Tab to ret

[2020-05-27 20:11] extrawurst commented on #92
Hey @alistaircarscadden thanks for the input. Reverse tabbing makes absolute sense. I implemented that quickly.
`QWER...` could be something to think about after #83 landed. Those shortcuts are the main request here right? I will rename the ticket just for clarification

[2020-05-27 20:14] extrawurst commented on #90
Hi @alistaircarscadden interfacing with remote repos like `clone`, `pull`, `push` are rather low on my list since I don't find them benefiting that much from a UI, but maybe I am missing something

[2020-05-27 20:17] extrawurst commented on #91
Hi @alistaircarscadden I was thinking about this before, I don't know a good place to put it in right now. In what tab would you expect this functionality?

[2020-05-27 21:02] alistaircarscadden commented on #92
@extrawurst nice. I don't think the tabs necessarily have to have their hotkeys in the bottom bar as you suggested. Potentially they could have a similar solution to the Unstaged Changes [1] where it would say Status [Q].
![image](https://user-images.githubusercontent.com/7132621/83071866-c95c3780-a03b-11ea-8d60-7aca9c0c2cd3.png)

[2020-05-27 21:09] alistaircarscadden commented on #90
That's fair. It all depends what you expect from a git UI. In my case I imagine using a tool like this like I'd have used SourceTree before I started using command-line only. But, it's the difference between Ctrl+Cing out of the application and typing in git push origin develop or just typing [P] [Enter], or whatever it'd end up being.

As far as improving git pull with a UI vs. the command-line,

[2020-05-27 21:14] extrawurst commented on #90
Ha it would awesome if you wanna get your hands dirty yourself. After all open source depends on exactly that :)

However I totally agree in a full feature UI for git this functionality makes sense! It is definitely not a "not gonna happen in gitui over my dead body" but more a "not gonna have time for this pretty soon based on cost/benefit"

[2020-05-27 22:50] alistaircarscadden commented on #91
Here's my brainstorming. Obviously there's a lot of room for improvement with my design!

Perhaps from Status you'd press B and be taken to another page that isn't quite a tab. I'd imagine doing something like (from Status)

`Branch [b]`

Would initially show

[code]
┌Upstream branch───────────────────────────────────────────────────────┐
│type branch name..

[2020-05-27 22:56] alistaircarscadden commented on #91
My design above probably lacks some intuition because I wasn't thinking the user would be selecting a branch the same way they select a commit in the Log tab. That would probably be a good functionality.

Perhaps instead of `Switch branches [b] Create new branch [c]` it could just be `Go to [b]` which would perform both functions depending on where your cursor was in the list of branches. At the b

[2020-05-28 07:20] #88 closed

[2020-05-28 07:52] extrawurst commented on #91
@alistaircarscadden thanks for coming up with such a detailed design, I think this might be worth looking into as a popup accessible from the `Status` **and** `Log` tab 🤔
Anyhow there are quite some steps to take beforehand:
* support for more commands (#83)
* we currently do not support the `default` features `ssh` and `https` of our dependency `git2-rs` which is required to use the networking fe

[2020-05-29 05:12] ignatenkobrain opened #96 "Showing unstaged JSON causes: out of range integral type conversion attempted"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open gitui with unstaged json (possibly big enough, I have https://src.fedoraproject.org/extras/pagure_owner_alias.json)
2. Click on "→" arrow

**Expected behavior**
gitui should not exit with an error, the json should be shown :)

**Desktop (please complete the following information):**
 - OS: Fedora
 - Version: 33

[2020-05-29 05:13] ignatenkobrain commented on #96
Just realized that you don't have to open a diff, once you go through unstaged files and hit this json, gitui closes with an error.

[2020-05-29 07:33] #96 closed

[2020-05-29 07:35] extrawurst commented on #96
@ignatenkobrain thanks for the report. I fixed the error first but I am still not happy since performance suffers when diffing giant files

[2020-05-29 07:45] extrawurst commented on #96
Now that should do. will release a patch version later today

[2020-05-29 19:07] nbigaouette opened #97 "GPG sign commits"
All my commits are required to be signed at work. It would be awesome to be able to commit directly in gitui; for now I can stage files/hunk and commit using `git` directly.

Thanks!

[2020-05-29 19:13] nbigaouette commented on #59
Using `git add -p` you can split a hunk but there is a limit to this split; this looks similar to what tig does.

I use gitup on macos (gui) and I always select exact lines with the mouse and press enter to stage. There does not seems to be a limit of split in gitup so it's probably a different mechanism behind the scene.

I would love to be able to select exact lines to stage!

[2020-05-30 00:10] extrawurst commented on #97
Hi @nbigaouette thanks for your interest in the project. I did not even know that feature existed 🙈. I am going to need support by someone having experience with using signing in git for this.

[2020-05-30 04:43] wezm opened #98 "Suggest moving theme.ron from XDG_CACHE_HOME to XDG_CONFIG_HOME"
Related to #27

[The spec](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) notes:

The non-essential bit there means this data can be purged at any point without impacting the user. `theme.ron` being user data probably should be preserved, which suggests it should be in `"$XDG_CONFIG_HOME/gitui/theme.ron"`

[2020-05-30 10:20] etrianag opened #100 "Panics on bare repositories"
**Describe the bug**
Unable to execute gitui inside a bare repo.

**To Reproduce**
Steps to reproduce the behavior:
1. git init --bare test-repo
2. cd test-repo
3. gitui
4. See panic message

**Expected behavior**
May be a message: Sorry no support for bare repos

**Desktop (please complete the following information):**
 - OS: Kubuntu 20.04

**Additional context**
 - Shell: Bash

[2020-05-30 11:00] extrawurst commented on #100
Hi @etrianag thanks for your interest in `gitui`. This is definitely not solved elegantly, I will make that a better error message for now and not support bare repos for the time being. is there a significant use case for a tool like `gitui` inside bare repos to make this a feature request to support them?

[2020-05-30 11:05] extrawurst commented on #100
should print this now:

[code]

[2020-05-30 11:08] extrawurst commented on #98
good point sounds reasonable!

[2020-05-30 12:08] etrianag commented on #100
Normally, I don't use bare repos, but by chance, the most recent repository I used, was a bare repo, because I was setting it to handle my dotfiles, and today a found this program, and giving my first try, it was natural to test in my last repo, so I discovered the problem. Just reported to improve gitui.
By the way, I checked in a normal repo, with a lot of commits, and I'm impressed with it: goo

[2020-05-30 12:13] extrawurst commented on #100
regarding the wording, you are right, I will rephrase it👍

the version command line arg is actually in master already (since of #88) and will roll out in the next release:

[code]

[2020-05-30 12:19] #100 closed

[2020-05-31 08:40] TimB87 commented on #90
https://github.com/TimB87/gitui/commit/cc158b643f270bdc0a397425dda22dc17db91d41

It's not pretty or might not even be the desired way to go, but this worked for me.
While being in the status tab and having the staged changes area focused with commits, pressing "p" will silently push these to origin.
There is no feedback, no help item, nor any further functionality (pull, rebase, ..).
Also one cave

[2020-05-31 09:28] extrawurst commented on #90
@TimB87 thanks for sharing this. `gitui` uses `git2-rs` ([link](https://github.com/rust-lang/git2-rs)) to interface with git, that intern is wrapping the c-lib `libgit2` which has support for `push`/co.
currently we are not using the `ssh`/`https` based features of `git2-rs` as it will make the compilation more complex. however that would be the way to go to implement support consistent with the r

[2020-05-31 09:39] TimB87 commented on #90
@extrawurst Thanks so much for the input, glad that I missed git2-rs, because I felt really cheap just invoking the system binary :smile:
I will have a look around git2-rs and see if I can make it work. The biggest obstacle I see for me is actually getting a working fetch/rebase ui implemented.

[2020-05-31 19:08] ciaranmooney commented on #83
I feel you may have painted yourself into a corner with your first two statements.

1. _One of the main goals of `gitui` is to not require the user to learn cryptic hotkeys/shortcuts to work with it._
2. _The command bar (at the bottom) always shows what actions are available in the current context._

The first is admirable however I believe the second is the root of the issue you are currently ex

[2020-06-01 00:30] extrawurst commented on #83
#101 contains a WIP of my suggested solution (https://github.com/extrawurst/gitui/issues/83#issuecomment-633051728):
![Screenflick Movie 23](https://user-images.githubusercontent.com/776816/83366430-4b878b80-a3af-11ea-8cff-2046ff37b9e9.gif)

After this I am considering adding another option to reduce the commands to the shortcuts-only like @jugglerchris suggested.

[2020-06-01 20:02] #83 closed

[2020-06-01 21:32] #44 closed

[2020-06-01 22:04] MuAlphaOmegaEpsilon commented on #59
This is one of the most important features for me regarding the use of a git client versus using git directly from the command line!

[2020-06-01 22:46] extrawurst opened #103 "tag commit"
In the commit log, I want to be able to tag the selected commit.

* [ ] new command
* [ ] text input popup

[2020-06-02 07:51] extrawurst opened #105 "convenience up/down key in status file list"
when at the bottom of the workdir `arrow-down` should switch to the stage area and vice versa

[2020-06-02 12:32] #105 closed

[2020-06-02 12:57] extrawurst opened #106 "Stash single File or Folder in Tree"
In the Treeview I want to select a file or folder to stash instead of stashing all

[2020-06-02 12:58] extrawurst commented on #85
depends on #59 (the way we decide how to do the UX of that)
depends on #106

[2020-06-02 14:02] #82 closed

[2020-06-02 15:25] extrawurst commented on #80
So, my current plan is to tackle this in multiple steps:

1. allow opening an info pane to the side while scrolling the log to show extended information about a commit
2. when focusing on the right side of extended information it will open this single commit up in a fullscreen fashion with the right side being used to show the file diffs exactly like in the `Status`-Tab

Step 1. will be done for t

[2020-06-03 08:58] extrawurst commented on #80
first visual prototype:
![Screenflick Movie 25](https://user-images.githubusercontent.com/776816/83617199-0a4ad380-a589-11ea-805d-9fb582f435b5.gif)

[2020-06-03 12:57] extrawurst commented on #80
now with actual data:
![Screenflick Movie 26](https://user-images.githubusercontent.com/776816/83639123-84d81b00-a5aa-11ea-8b24-ad155553ce59.gif)

[2020-06-03 20:00] kulik opened #108 "Crash at adding folder which is git repo by itself"
**Describe the bug**
it's a crash when you stage folder which has .git folder inside, and still not a git-submodule
**To Reproduce**
Pre conditions. init repo, with git init, copy the other git repo inside.
Steps to reproduce the behavior:
1. open gitui
4. select coursor on folder which is repo
5. hit enter
crash

**Expected behavior**
At least nothing should happend
the best result it's to sugges

[2020-06-03 20:08] extrawurst commented on #108
Hey @kulik thanks for reporting this. Indeed this should not crash. but what is the expected behaviour? does the git cli support checking in this repo into the outer repo?

[2020-06-03 20:54] kulik commented on #108
thereis a ugly way - just to comit it straight as it. i wouldn't expect that, probably it's normal for some cases with skiping .git folder. but the briliant way is
https://git-scm.com/book/en/v2/Git-Tools-Submodules
it's possible parse origins of internal git repo, and suggest user to add it as it or as submodule with current HEAD positio of it's parsed origin url, or suggest to enter other url bu

[2020-06-03 20:58] extrawurst commented on #108
@kulik I cannot even figure out how to commit a `.git` subfolder using git-cli. it is simply ignored. so I am tending to simply swallow the error and ignore it in gitui aswell. submodules are a different can of worms

[2020-06-03 22:03] extrawurst commented on #108
this is what should happen now:
<img width="730" alt="image" src="https://user-images.githubusercontent.com/776816/83693658-cbebfd80-a5f6-11ea-8fa3-f8c7245a4207.png">

[2020-06-03 22:03] #108 closed

[2020-06-03 22:49] extrawurst commented on #80
now also with file list:
<img width="1066" alt="image" src="https://user-images.githubusercontent.com/776816/83696622-3acc5500-a5fd-11ea-9fcb-bc7c3a31408e.png">

[2020-06-04 04:23] juancampa opened #109 "Ctrl+U and Ctrl+D for page up/down"
**Is your feature request related to a problem? Please describe.**
Some keyboards (like mine) don't really have PgUp/PgDown. It would be great to have another keybinding to quickly scroll up and down the Diff pane.

**Describe the solution you'd like**

New keybindings:

 - `Ctrl+U` to scroll up
 - `Ctrl+D` to scroll down

These are the keybindings for `vi`/`vim` so a lot of folks should be famili

[2020-06-04 10:33] #73 closed

[2020-06-04 14:52] MCord commented on #89
what about just adding a checkbox in the commit pop up to amend instead of committing ? many existing UI tools behave this way and this minimizes the number of commands and UI complexity.

[2020-06-04 16:21] extrawurst opened #111 "shift tab broken on windows"
see https://github.com/extrawurst/gitui/pull/110 and the similar issue #26 we had before

[2020-06-04 16:22] #111 closed

[2020-06-04 16:24] extrawurst opened #112 "remove shift tab windows workaround"
fix the `shift+tab` modifier inconsistency in `crossterm` for windows upstream like we did with #26 and revert https://github.com/extrawurst/gitui/commit/38ee8c99f35f6e9c0e894675dedecea1a90891d5 #111 afterwards

[2020-06-04 16:25] extrawurst commented on #112
see https://github.com/crossterm-rs/crossterm/issues/421

[2020-06-04 17:09] MCord commented on #89
what do you think about using function keys ? the stream is very cool indeed I am watching it right now !

[2020-06-05 15:48] extrawurst commented on #109
Hi @juancampa thanks for your interest in `gitui`, I will never get used to those vi bindings, but I guess I am no benchmark here :D

[2020-06-06 17:39] extrawurst commented on #80
first part is merged into master. looking forward to feedback. next up is: fullscreen commit details (that's where we can diff each file in the commit)
![Screenflick Movie 27](https://user-images.githubusercontent.com/776816/83950751-63d32c80-a82d-11ea-9154-39db24867450.gif)

[2020-06-09 11:27] extrawurst commented on #80
*next update*: now we can open the details of a single commit in a view similar to the status tab where we can diff every individual file inside a commit from the past:
![Screenflick Movie 28](https://user-images.githubusercontent.com/776816/84142336-e4c03d00-aa54-11ea-9058-29f13cf910c4.gif)

[2020-06-09 18:30] extrawurst commented on #80
released: https://github.com/extrawurst/gitui/releases/tag/v0.6.0

[2020-06-09 18:30] #80 closed

[2020-06-09 23:20] alistaircarscadden opened #115 "Display current branch somewhere convenient"
**Is your feature request related to a problem? Please describe.**
Like how git-bash shows the current branch in blue, as seen here:
![image](https://user-images.githubusercontent.com/7132621/84210064-c45ca680-aa85-11ea-8819-1252b7d2cb75.png)

It would be nice if somewhere on the Status page the user could determine what branch they are currently staging on and committing to.

Here's an option, it

[2020-06-11 17:53] ignatenkobrain opened #116 "RFE: Commit graph (and annotations)"
**Is your feature request related to a problem? Please describe.**
It would be nice to see something like `git log --oneline --graph --all --decorate` in gitui, with the branch names / tags and a commit graph.

**Additional context**
![image](https://user-images.githubusercontent.com/2866862/84422355-33203800-ac1d-11ea-8c65-56f063e25bea.png)

[2020-06-11 20:56] extrawurst commented on #116
definitely!

dup of #81

[2020-06-11 20:56] #116 closed

[2020-06-12 09:30] extrawurst opened #118 "cannot reset untracked file when opened in subdir"
when starting `gitui` in subdir of the repo this fails

[2020-06-12 09:46] #118 closed

[2020-06-12 12:51] extrawurst commented on #89
I would say let's go for the commit popup like @MCord said and add an amend option that takes the previous msg and fills it in if the current msg is empty

[2020-06-12 12:55] extrawurst opened #119 "commit details: file-loading title sometimes wrong"
sometimes it shows 0 instead of `loading` and then switches to the result

[2020-06-12 12:58] extrawurst opened #120 "Tree: selection can disappear into collapsed folder"
e.g: when staging stuff the selection is just wrapped into legal range but not checked if this index is collapsed

[2020-06-12 14:39] #120 closed

[2020-06-12 14:59] #119 closed

[2020-06-12 15:36] #52 closed

[2020-06-12 20:38] #115 closed

[2020-06-12 22:57] extrawurst opened #121 "inspect stash content"
now that we have a commit popup it should be straight forward to support checking content of a stash(commit)

[2020-06-12 23:45] extrawurst commented on #89
this is what it looks now:
![Screenflick Movie 29](https://user-images.githubusercontent.com/776816/84554256-5cbd8a00-ad17-11ea-953b-4c1646e61932.gif)

[2020-06-12 23:50] #89 closed

[2020-06-13 00:11] #121 closed

[2020-06-14 08:46] #11 closed

[2020-06-14 08:51] extrawurst commented on #121
![Screenflick Movie 30](https://user-images.githubusercontent.com/776816/84589141-fc207100-ae2c-11ea-9d7f-d0b12ee95fbe.gif)

[2020-06-14 08:53] extrawurst commented on #11
![Screenflick Movie 31](https://user-images.githubusercontent.com/776816/84589196-49044780-ae2d-11ea-9e0c-d67c445fc90d.gif)

[2020-06-14 08:56] extrawurst commented on #46
Thanks @alistaircarscadden for implementing the cursor support:
![Screenflick Movie 32](https://user-images.githubusercontent.com/776816/84589257-aac4b180-ae2d-11ea-88a4-c02ccf808ef6.gif)

[2020-06-14 23:36] #98 closed

[2020-06-15 10:58] ignatenkobrain opened #128 "Some asyncgit tests fail since 0.7.0"
I was updating asyncgit/gitui to 0.7.0 and hit issue that asyncgit tests started to fail (0.6.0 was fine).

[code]

Any other info you need to know?

[2020-06-15 11:07] extrawurst commented on #128
The CI builds everything fine: https://github.com/extrawurst/gitui/actions/runs/135851774
So yeah I need more information to reproduce this

[2020-06-15 11:08] ignatenkobrain commented on #128
@extrawurst it always happens to me. just running cargo test -p asyncgit from master branch fails on Fedora...

`rustc 1.44.0`

[2020-06-15 11:09] ignatenkobrain commented on #128
[code]

[2020-06-15 11:13] extrawurst commented on #128
make sure u `cargo clean`, looks like the git2-rs/libgit2-sys dependencies was not updated on your machine

[2020-06-15 11:15] ignatenkobrain commented on #128
I ran cargo clean, and it fails with:

[code]

I can share lock file if that will help...

[2020-06-15 11:20] ignatenkobrain commented on #128
[code]

returns me:

[code]

[2020-06-15 11:46] ignatenkobrain commented on #128
@extrawurst ok, the easiest way to reproduce is:

[code]

Without libgit2-devel installed it seems to pass.

[2020-06-15 11:48] extrawurst commented on #128
so I guess there u have it

[2020-06-15 11:51] ignatenkobrain commented on #128
I'll try to find relevant commit in libgit2 and report it to git2-rs to possibly warn that system is copy is in use and there are known problems with it.

[2020-06-15 12:32] ignatenkobrain commented on #128
FTR https://github.com/libgit2/libgit2/commit/d62e44cb8218840a0291fb5fbb7c5106e1e35a12

[2020-06-15 12:32] #128 closed

[2020-06-15 15:57] jason0x43 commented on #59
In tig you can stage an individual line from the unstaged diff by moving the cursor over it and hitting `1`. You can unstage an individual line from the staged diff in the same way.

[2020-06-15 18:17] jantari opened #129 "Remove hardcoded blue background color"
**Is your feature request related to a problem? Please describe.**
It appears gitui uses a hardcoded blue color in some of its UI elements, such as the bottom shortcut row, the currently selected file on the top left and the diff header with the line information on the right. This blue color does not fit into most themes and may cause visibility and contrast problems with some.

**Describe the sol

[2020-06-15 18:50] extrawurst commented on #129
Hi @jantari thanks for your interest in gitui. You can customise all colors following this guide: https://github.com/extrawurst/gitui/blob/master/THEMES.md

let me know if there is anything you cannot customise to match your taste.

[2020-06-15 19:09] extrawurst opened #130 "untracked files in stash diff not shown"
unfortunately git stores the untracked files of a stash in the stash's [third parent](https://stackoverflow.com/a/51276389/2458533) so we need some super specific process to make sure the `inspect` works correctly here.

fun fact, the same applies to fork:
<img width="417" alt="Screenshot 2020-06-15 at 21 08 44" src="https://user-images.githubusercontent.com/776816/84696211-6976f380-af4c-11ea-98e1

[2020-06-15 19:11] jantari commented on #129
It is nice that the theme can be customized to take advantage of the 24bit True color terminals we have these days, but I think the default should be to use the terminals palette.

[2020-06-15 19:45] hansmuff opened #131 "Small bugs in the Help window"
The 'Help: all commands' contains "Diff" twice [,](https://i.imgur.com/v5ziUOB.png) but when you try to highlight the first occurrence, it [https://i.imgur.com/XQ0TU6v.png](url) skips over it [https://i.imgur.com/DvEZu6J.png](url) and goes to "Add hunk" or "Inspect" depending which direction I scroll using the arrow keys up/down. Also I can't highlight the first entry "Log" [.](https://i.imgur.com

[2020-06-15 19:50] hansmuff opened #132 "Multi-Select in the "Stashes" View, to drop multiple stashes with one command"
When in the "Stashes" view, I would like to select multiple stashes, and be able to use the Drop command on all the selected stashes.

Suggested keyboard usage for this: SHIFT+Arrow selecting the highlighted plus the next/previous stash.
S key to Select or De-Select the highlighted stash. A to select or De-Select All stashes.

Commands "Apply" and "Drop" should work with multiple stashes, "Inspect

[2020-06-15 21:28] extrawurst commented on #131
Hey @hansmuff thanks for following up on this, as expected its a problem with the terminal color palette.
Here is what it looks like for me:
<img width="683" alt="image" src="https://user-images.githubusercontent.com/776816/84707792-a1d3fd00-af5f-11ea-8467-2c086670c775.png">

The particular entry uses a inverted fg/bg, so it can happen if u are using a transparent background color. is that possibl

[2020-06-16 09:38] GMouron commented on #90
Hi, new to this project (not even installed yet but really interested by it) and I was expcting indeed that gitui was a "full-blown" git client and I see with this issue it is not (yet) the case :)

That's probably something you already thought of (and maybe rejected), but maybe a temporary solution would be to allow to enter "raw" git command from within gitui ?
Then that allows at least to not q

[2020-06-16 14:31] alistaircarscadden commented on #90
@GMouron

From my perspective, however that would be implemented it'd end up being the same number of keystrokes and the same level of command memorization that the original git CLI requires, and wouldn't push this application towards it's goal of being easier to use/more visual/less man page reading than the original.

It's not a bad idea, and I considered it myself, but I think it's best to not

[2020-06-16 14:40] GMouron commented on #90
I agree it doesn't save keystroke, but it allows you to not quit the application. And designing and implementing correctly all the features take time, this could allow to release some "steam"
My goal is to not juggle between apps (or in and out of app).
But this is derailing this issue 😁
I can create a new one if @extrawurst wishes (or if he says directly he doesn't want this, then no need to crea

[2020-06-16 14:48] #129 closed

[2020-06-16 15:08] extrawurst commented on #90
Hey @GMouron thanks for chiming in, hope by now you download it 😛
This conversation made me clarify a bit more on the readme: https://github.com/extrawurst/gitui#expectation-management

The short version is: `gitui` is a spare time project and I love building it because it is in rust and because I piece by piece have to worry less about cryptic *git shell* commands. This makes me prioritise the fe

[2020-06-16 15:16] GMouron commented on #90
I can totally understand that you wouldn't want to implement a possibility to enter raw git commands in gitui because it doesn't totally fit the goals you have for the tool, no problem with that.

I would argue though, that if you would do, it would allow us to win a couple of keystrokes 😁 and thus a few extra ms 😜.
One could also argue that you then don't have to ask yourself, while on the comman

[2020-06-16 16:51] alistaircarscadden commented on #90
In gitui if ctrl+i was the command shortcut: `Ctrl`+`i` `g` `i` `t` ` ` `c` `h` `e` `c` `k` `o` `u` `t` ` ` `d` `e` `v` `Enter`

In gitui currently: `Ctrl`+`c` `g` `i` `t` ` ` `c` `h` `e` `c` `k` `o` `u` `t` ` ` `d` `e` `v` `Enter` `up` `enter`

2 keystrokes per command (a couple ms a couple times a day) vs. a couple hours.

[2020-06-17 12:11] matthiasbeyer commented on #90
I would like to suggest that one should be able to disable any remote commands in the config or even via compiletime option. Some people might not want to use these feature by accident, so it would be nice to deny them in some way or another.

[2020-06-17 13:53] alistaircarscadden commented on #90
Would performing `git remote remove <remote_i_dont_want_to_ever_push_to>` work? I only ask because I'd like to better understand your use case. Are you often using repositories locally, that have remotes set up, that you couldn't stand the chance you'd ever push to it?

[2020-06-17 13:55] matthiasbeyer commented on #90
No, I mean I have fat fingers and am sometimes doing things in tig that I don't want to do. Pushing to a remote might be non-reversible and thus I rather do it by typing `git push <remote> <branch>` myself rather than having a tool do it for me!

[2020-06-17 13:58] extrawurst commented on #90
@matthiasbeyer thanks for chiming in on this. All destructive operations are currently already behind a confirmation dialog, this would be no different IMHO

[2020-06-18 00:29] nyanpasu64 commented on #59
Sometimes I find it useful to edit a hunk-diff in a text editor. However, most GUI Git clients don't expose that option, only `git add -p` from the command line. Additionally it's tedious to replace leading `-` or `+` with a single space.

[2020-06-18 14:19] extrawurst opened #140 "support commit revert command in log"
once `revert` is supported in https://github.com/rust-lang/git2-rs/issues/571 we can add this new command and jump to the changes once it applied the revert to index/workdir

[2020-06-18 20:00] hasufell commented on #109
I think vi bindings have no place here. The other navigational keys are arrow keys. So the natural choice should be PageUp/PageDown.

[2020-06-18 20:02] hasufell commented on #59
I think `1` is a natural and easy to memorize key for this.

[2020-06-18 20:12] hasufell commented on #91
IMO it should be its own tab and show references, not just branches (`git show-ref`). References can be a lot.

In addition, branches should also be visible in the log view. Currently I only see tags there.

[2020-06-18 21:11] extrawurst opened #141 "diff: show binary file size difference"
something I really like in fork is that it at least shows me some meta data info on binary diffs like file size old/new and for images even dimensions

[2020-06-19 22:14] teras commented on #59
I'd vote also for Space instead of "1", since "1" is already a keystroke to change "window".

[2020-06-20 01:14] alistaircarscadden opened #143 "The chat badge is an invalid invite"
I think in discord you have to select the length it is valid somehow, because it has expired

[2020-06-20 07:27] #143 closed

[2020-06-20 14:38] x80486 opened #144 "Make scrolling great again"
## Describe the Bug

Scrolling on `Unstaged Changes` (or `Staged`) sections is a little bit weird. For instance, with a long list of files, when you reach the bottom and try to go back the highlighted line doesn't go to the top to start scrolling again, but it goes with the list.

## To Reproduce
Steps to reproduce the behavior:
1. Have a Git repo with a good amount of unstaged or staged files tha

[2020-06-21 09:57] RupankarGhosh opened #145 "error[E0723]: heap allocations are not allowed in const fn"
I was trying to build `gitui` as documented: using  ```cargo install gitui ```
But this error occurs. I'm using android termux with current _rustc_ .

[2020-06-21 10:47] extrawurst commented on #145
Sounds like: https://github.com/extrawurst/gitui/pull/117#issuecomment-643683845

[2020-06-21 11:07] extrawurst commented on #145
We should add the min version like this: https://github.com/rust-lang/rfcs/pull/2495

[2020-06-21 16:47] extrawurst commented on #145
ok damn, the `min supported rust version` is not there yet: https://github.com/rust-lang/rust/issues/65262

anyhow, the error you see is when you are not building with rust 1.44 or higher. let me know if the problem still persists

[2020-06-21 16:47] #145 closed

[2020-06-22 10:26] extrawurst commented on #144
@x80486 you are absolutely right, this can be improved!

followup to #52

[2020-06-22 14:42] #131 closed

[2020-06-22 14:43] extrawurst commented on #131
should be more clear to read now:

<img width="532" alt="image" src="https://user-images.githubusercontent.com/776816/85300760-42b64100-b4a7-11ea-865c-1b8601d9f053.png">

[2020-06-22 14:58] jabra98 opened #147 "Support for title/body commit messages"
Maybe allow newlines when writing the commit message (as the build-in editor feature from git allows)? Would require some tinkering though since <Enter> is already used to send the commit.

[2020-06-22 15:47] extrawurst commented on #147
Sounds like #46

[2020-06-22 15:47] #147 closed

[2020-06-22 18:01] extrawurst commented on #141
<img width="375" alt="image" src="https://user-images.githubusercontent.com/776816/85320143-e8c37480-b4c2-11ea-9002-86c895a3a4db.png">

[2020-06-22 18:04] #141 closed

[2020-06-23 10:31] extrawurst opened #148 "const width for author column in revlog"
Now that we have the commit-details pane I would like to change the author column to a fixed width and cutoff longer names like `Leonardo Davi..`

I hope this makes the revlog a little less jaggy

[2020-06-23 13:45] extrawurst commented on #97
some docs on how git does gpg: https://git-scm.com/book/en/v2/Git-Tools-Signing-Your-Work

[2020-06-23 13:49] extrawurst commented on #140
now that https://github.com/rust-lang/git2-rs/pull/573 is merged we can actually tackle this

[2020-06-23 14:01] extrawurst opened #149 "remove crate custom color type and use tui-rs"
since https://github.com/fdehau/tui-rs/issues/292 is done we can get rid of `ui::style::ColorDef`

[2020-06-23 22:40] MCord commented on #149
The serialization feature is not yet released. the current version 0.9.5 does not contain the mentioned change.

[2020-06-24 07:43] Boddlnagg opened #150 "Display non-UTF8 commit messages at least partially"
**Describe the bug**
Currently when a commit message contains invalid UTF8, the whole message is replaced by the string `<unknown>`.

**To Reproduce**
Create a Git commit with a message that contains invalid UTF8.

**Expected behavior**
I think it would be more useful to use replacement characters (i.e. lossy decoding), so at least most of the commit message is displayed correctly if it only conta

[2020-06-24 07:45] extrawurst commented on #149
@MCord you are right, I missed that fact :(

[2020-06-24 10:11] MCord commented on #130
I will take this one.

[2020-06-24 13:46] #150 closed

[2020-06-24 14:13] extrawurst commented on #150
@Boddlnagg thanks for reporting this, good point! It should be fixed now, but you have no idea how hard it was to force invalid utf8 down rusts safe throat. even the git shell fixed up broken utf8 commit message files. If you could build and test `gitui` on master to make sure your repro cases are fixed would be awesome!

[2020-06-25 05:54] extrawurst opened #151 "running gitui in subfolder skips hooks"
commit hook for example is skipped

[2020-06-25 06:14] #151 closed

[2020-06-25 06:34] Boddlnagg commented on #150
Yes, it works now! Thanks for the quick fix 👍

[2020-06-25 07:37] extrawurst commented on #150
Great! @Boddlnagg thanks for checking!

[2020-06-25 08:27] extrawurst commented on #148
![Screenflick Movie 40](https://user-images.githubusercontent.com/776816/85684475-70310380-b6ce-11ea-8c9a-1ee2f8166e75.gif)

[2020-06-25 23:07] #46 closed

[2020-06-25 23:09] extrawurst commented on #46
see 477fdd303d0c4e3c533cc49fb715506588196eb4

[2020-06-25 23:15] extrawurst opened #152 "external commit editor wipes out original terminal"
introduced with 477fdd3

pic or it did not happen:
![Screenflick Movie 41](https://user-images.githubusercontent.com/776816/85804657-75cc2f00-b74a-11ea-99e8-c02e520966a5.gif)

[2020-06-25 23:19] extrawurst opened #153 "condvar in input"
for the external editor support I changed the input polling and now it goes into a busy-wait while waiting to restart polling which can be solved more elegantly using `condvar`

[2020-06-25 23:20] extrawurst commented on #152
maybe we need to leave the alternate screen while opening the external editor

[2020-06-28 21:47] extrawurst commented on #112
https://github.com/crossterm-rs/crossterm/issues/442

[2020-06-29 03:48] xtutu opened #156 "spinner constantly spinning indicating non-stop background work"
There is noting to commit.
![image](https://user-images.githubusercontent.com/12950709/85971057-c66bb280-b9fe-11ea-882e-eac59b9fd6fd.png)

But in gitui,   "Status" is never finished.

![image](https://user-images.githubusercontent.com/12950709/85970919-68d76600-b9fe-11ea-8b28-d893633df678.png)

here is log
[code]

[2020-06-29 06:25] extrawurst commented on #156
@xtutu thanks for your interest in `gitui`. currently we poll the status of the repo every 5s for changes (see #1) which means if you have a huge repo (for linux it usually takes 1s) the spinner on the top left rotates every 5s for a moment.

that being said, this happens in a background thread and should not make the application `slow`. now in your case to figure out if there is any abnormal beha

[2020-06-29 07:48] extrawurst commented on #79
unfortunately #155 had to be rolled back

[2020-06-29 07:59] extrawurst commented on #79
removed `good first issue` since #155 showed that writing an appropriate unittest for this is by far more complicated than expected

[2020-06-29 08:27] #152 closed

[2020-06-29 08:30] xtutu commented on #156
### does the ui become slow?
ui not slow，when i press Tab，gitui hava a quick response。

### does the spinner rotate constantly?
it rotate all the time

### would you be able to build gitui from source to add some more diagnostics?
yes

@extrawurst
here is my screenrecord，drag into chrome，you can see the video
[20200508020001.zip](https://github.com/extrawurst/gitui/files/4844633/20200508020001.zip

[2020-06-29 08:40] extrawurst commented on #156
@mxork thanks for chasing this up further. in what repo do you see this problem? is it open source, can I use it to dig into it myself?

Thanks for taking the time to record something but I actually need you to build `gitui` from source using:
[code]

and then run it with logging enabled `gitui -l` and provide me with the generated log, that would be very helpful.

[2020-06-29 08:48] xtutu commented on #156
### in what repo do you see this problem?
no

@extrawurst
here is log
[debug.zip](https://github.com/extrawurst/gitui/files/4844773/debug.zip)

[2020-06-29 08:51] extrawurst commented on #156
@xtutu can you paste the logs here or in a gist? (I don't feel comfortable opening arbitrary zips, no offense)

[2020-06-29 08:56] extrawurst opened #157 "communicate delay when opening external editor"
right now only the `spinner` indicates that something is happening when opening the external editor which can take up to 2 seconds because the input polling needs to stop first.

see #46

[2020-06-29 08:58] xtutu commented on #156
@extrawurst

[code]

[2020-06-29 12:15] extrawurst commented on #156
@xtutu maybe you can join our discord to simplify investigating this? (https://discord.gg/7TGFfuq)

[2020-06-29 16:37] extrawurst opened #158 "revlog message alignment"
found when using `gitui` in chromium repo
<img width="645" alt="image" src="https://user-images.githubusercontent.com/776816/86032385-942a7700-ba37-11ea-877f-f72f2f04dfa1.png">

[2020-06-29 16:39] extrawurst opened #159 "get_branch_name() bottleneck"
turns out in a gigantic repo like chromium even `get_branch_name` needs to be either async or not called on every update since it takes ~35ms

[2020-06-29 17:35] extrawurst opened #160 "indicate when diff/status-files are loading"
similar to the file list in commit-log details:
<img width="203" alt="image" src="https://user-images.githubusercontent.com/776816/86037432-a9a39f00-ba3f-11ea-87f7-a33a35f8aaa8.png">

[2020-06-29 17:49] #158 closed

[2020-06-29 22:16] extrawurst opened #161 "switch to less heavy alternative to clap"
something like https://github.com/RazrFalcon/pico-args or https://github.com/google/argh

just by removing clap the **release** binary size shrank by 500k

[2020-06-30 05:35] xtutu commented on #156
@extrawurst

I hava a Repo "A". It hava 20000+ commit.

I hava two clone: [a], [b] in same directory.

when i run gitui in [a], it cost long time to show status (>60s) .
but when i run gitui in [b],it show status quickly (<1s).

the only diff between [a] and [b] is:

[a] hava many branch in local, And It is my main work directory.
[b] just hava only 2 branch

------------------------------

when i

[2020-06-30 07:42] #153 closed

[2020-06-30 07:45] #144 closed

[2020-06-30 23:03] extrawurst opened #164 "Windows msi installer"
Inspired by usage of *wix* in nushell: https://github.com/fdncred/nushell/commit/c58a456dbc74a86f0e89519ca4d3e928ea6b3224#diff-56c30d9224897b08c28075052d4595c5

[2020-07-01 21:06] alex-popov-tech opened #165 "Key bindings mapping"
Thanks for such a great tool!

That would be really great to have mapping mechanism similar to tig

So for example i can map arrow keys to hjkl, stage one file to `a`, stage all to `A`, `tab` to jump between stage/unstage, etc.

[2020-07-01 21:08] alex-popov-tech commented on #165
because navigating using keyboard is really awesome, but 'enter'/'esc'/'arrow keys' not the easiest keys to type :)

[2020-07-01 21:17] alex-popov-tech opened #166 "open file in $EDITOR from tigui"
When you watching at diffs you sometimes may want to edit file just a bit, and for that in `tig` there is `e` key to open selected file in `$EDITOR`, would be super cool to have same functionality here as well

[2020-07-01 21:27] extrawurst commented on #165
@alex-popov-tech thanks for your interest in `gitui`, this topic is definitely on my radar (see #57)

[2020-07-01 21:29] alex-popov-tech commented on #165
get it, subscribed on pr, thanks! @extrawurst

[2020-07-01 21:29] #165 closed

[2020-07-01 21:29] extrawurst commented on #166
That is a good idea, I think this should be quite possible now that we have a use-case already where opening an external editor was added: #114

[2020-07-02 10:55] #130 closed

[2020-07-04 13:40] extrawurst opened #168 "cursor leftover of external editor"
<img width="192" alt="image" src="https://user-images.githubusercontent.com/776816/86513700-93655c80-be0c-11ea-9a08-d8d7c73a6566.png">

[2020-07-04 13:42] extrawurst opened #169 "textinput cursor hidden at control sequences"
textinput cursor disappears on line breaks and such control characters, these should be skipped over

[2020-07-04 13:44] #168 closed

[2020-07-04 16:16] extrawurst opened #170 "get_tags bottleneck"
similar to #159

only observed in chromium so far `get_tags` takes almost 2s and is currently blocking 😭

[2020-07-04 16:17] #159 closed

[2020-07-04 18:35] extrawurst opened #171 "untracked binary file size diff broken"
<img width="639" alt="image" src="https://user-images.githubusercontent.com/776816/86518940-d982e600-be35-11ea-915e-763584bd07a3.png">

[2020-07-04 18:36] extrawurst commented on #157
done in de7f48f88ef099e03e0a823675252427fec79cab
![vi_support](https://user-images.githubusercontent.com/776816/86518953-13ec8300-be36-11ea-9e9e-46d83967e28f.gif)

[2020-07-04 18:36] #157 closed

[2020-07-05 02:14] github-actions[bot] opened #172 "RUSTSEC-2019-0031: spin is no longer actively maintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `spin`                      |
| Version             | `0.5.2`                   |
| URL                 | [https://github.com/mvdnes/spin-rs/commit/7516c80](https://github.com/

[2020-07-05 08:35] extrawurst commented on #172
requires update in external dependency: https://github.com/tikv/pprof-rs/issues/31

[2020-07-05 17:08] cruessler commented on #103
@extrawurst It looks like this issue is not taken yet. If that’s the case, I’d like to give it a try!

[2020-07-05 18:08] extrawurst commented on #103
@cruessler absolutely! Looking forward. If u wanna chat about it or have any questions, feel free to join our discord too👍

[2020-07-06 03:54] cruessler commented on #103
Cool, thanks for the hint!

[2020-07-06 06:45] extrawurst commented on #141
released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:47] extrawurst commented on #46
@jonstodle thanks again, the external editor feature is released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:47] extrawurst commented on #129
this is released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:48] extrawurst commented on #148
released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:48] extrawurst commented on #131
this released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:48] extrawurst commented on #150
released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:49] extrawurst commented on #151
released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:50] extrawurst commented on #144
@tisorlawan thanks again, this is released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:50] extrawurst commented on #130
@MCord thanks again, this is released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 06:50] extrawurst commented on #159
released in `0.8` now: https://github.com/extrawurst/gitui/releases/tag/v0.8.0

[2020-07-06 09:00] extrawurst opened #175 "dirs upgrade (migration of config)"
see https://github.com/dirs-dev/dirs-rs/commit/887e2ae55eef326bd3c0b5080e28acd9b9073490

(related #174)

[2020-07-06 11:40] nbusseneau opened #176 "[Windows] "panic: Any" crash in repository with filenames exceeding MAX_PATH"
Hello! Love this tool, thanks for your work 😄
I encountered and reproduced an issue with the Windows binary on repositories containing long filenames.

**Bug description**
On Windows, when running `gitui.exe` from the command line in repositories with filenames exceeding [`MAX_PATH` (260 characters)](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#maximum-path-length-limitation

[2020-07-06 13:14] extrawurst commented on #176
@Skymirrh thanks for reporting this, unfortunately I have no windows machine at my disposal, I would need support here.

[2020-07-06 13:16] MCord commented on #176
I can look into this.

[2020-07-06 13:22] laarmen commented on #176
I just had a quick look, and even if the `gitui` code were ready to handle long paths, in the end the backing libgit2 doesn't seem to cope with them just yet, see [this issue](https://github.com/libgit2/libgit2/issues/3053) and this [recent pull request](https://github.com/libgit2/libgit2/pull/5347).

[2020-07-06 13:28] extrawurst commented on #176
@MCord thanks for volunteering here, but I think @laarmen is right and the only thing we can do is hope/wait for `libgit2` to sort this limitation. **BUT** at least this issue should be resolved to gracefully have `gitui` exit with a compelling message and maybe even link the libgit issue so people can show *demand* :)

[2020-07-06 17:13] ignatenkobrain opened #177 "invalidstring is missing license file on crates.io"
Same as it happened in past with asyncgit, would be much appreciated if you could make a new release.

[2020-07-06 17:48] extrawurst commented on #177
@ignatenkobrain damn, why is crates.io not protecting against it if that is a problem :( fixed In 5c33e97

[2020-07-06 18:05] extrawurst commented on #177
@ignatenkobrain I assume you refer to a `gitui` release and not only an `invalidstring` release, right?

[2020-07-06 18:54] ignatenkobrain commented on #177
`invalidstring` release is enough.

[2020-07-06 18:56] extrawurst commented on #177
@ignatenkobrain cool then we are good: https://crates.io/crates/invalidstring/0.1.2

[2020-07-06 18:56] #177 closed

[2020-07-06 19:18] #66 closed

[2020-07-07 00:57] Dubhead opened #178 "crash by typing right arrow in Stashes"
**Describe the bug**

Typing right arrow in Stashes crashes gitui

**To Reproduce**

1. Git-clone the gitui repository
2. `echo foo >> README.md`
3. `git stash`
4. Start `gitui`
5. Type `4` for `Stashes` screen
6. Type the right arrow key

**Expected behavior**

The stash content should be displayed.

**Screenshots**

[code]

**Context (please complete the following information):**

- OS: Linux x8

[2020-07-07 07:11] extrawurst commented on #178
@Dubhead thanks for reporting this, there seems to be a subtle difference in how `git stash` and `libgit2` create a stash commit. `libgit2` seems to always create the third parent necessary to stash untracked files and `git stash` skips that step when there are no untracked files to stash. this is the root cause for the crash. will be fixed

[2020-07-07 07:12] #178 closed

[2020-07-07 07:43] #171 closed

[2020-07-07 07:43] extrawurst commented on #171
fixed:
<img width="328" alt="image" src="https://user-images.githubusercontent.com/776816/86739315-15849980-c036-11ea-8f69-dacbc33ef92e.png">

[2020-07-07 08:35] Dubhead commented on #178
Thanks for the fix!

[2020-07-07 10:33] #169 closed

[2020-07-07 10:35] extrawurst commented on #169
![Screenflick Movie 45](https://user-images.githubusercontent.com/776816/86768175-681d8000-c04d-11ea-85dc-d8ad492b39f1.gif)

[2020-07-07 10:42] #166 closed

[2020-07-07 11:27] extrawurst opened #179 "centered_rect needs absolute min-size"
see:
![unknown](https://user-images.githubusercontent.com/776816/86773193-9b640d00-c055-11ea-9fd9-fc526c07fcfe.png)

[2020-07-07 13:20] Stiles-X opened #180 "In Log View, select multiple commit so that multiple details can be read at once [enhancement]"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when I need to know modified files between multiple commits / range, and I have to look through them and then compile my own list of total change.

**Describe the solution you'd like**
I want to be able to shift select multiple commits and view their combined modified file change.

**Describe alternatives you

[2020-07-07 15:22] werman opened #181 "Ability to view large commit messages in log"
**Is your feature request related to a problem? Please describe.**

I'm dealing with git repositories which have large commit messages, e.g. https://gitlab.freedesktop.org/mesa/mesa/-/commit/797fa87ec9891384fee7588fda36c80dfed1a39d, no matter how big I make the tui - commit message would not be fully visible.

**Describe the solution you'd like**
**Describe alternatives you've considered**

Two so

[2020-07-07 16:26] extrawurst commented on #181
@werman thanks for your interest in gitui. that actually makes sense, sometimes found myself scaling the terminal font to be able to read big-ass messages that are used in some repos 🙈

[2020-07-07 16:47] werman opened #182 "Impossible to ctrl-click hyperlinks in commit message in some terminals"
**Describe the bug**

It's impossible to ctrl-click hyperlinks in commit message - it looks like the content of terminal is always updating, there is a brief moment the link is highlighted, however the ctrl-click never works.

I'm able to ctrl-click in `guake` and not able in vscode's built-in and in `kitty`. Didn't test other ones.

For me the issue's severity is low.

**To Reproduce**

Have a co

[2020-07-07 17:23] extrawurst commented on #182
weird I cannot reproduce this on macOs using iTerm2:
![Screenflick Movie 46](https://user-images.githubusercontent.com/776816/86818847-2dd0d480-c087-11ea-8543-aae1d3e1641b.gif)

I might need support on this one by someone with a linux machine 🤔

[2020-07-07 17:34] extrawurst opened #184 "open editor running inside vscode is broken"
it simply shows an empty file:
![Screenflick Movie 47](https://user-images.githubusercontent.com/776816/86819665-442b6000-c088-11ea-93ea-8b60de5b320b.gif)

opening same file through running `gitui` in terminal works.
the editor functionality to edit commit messages is not affected.

related to #173

[2020-07-07 21:11] jonstodle commented on #184
The path at the bottom of Vim looks correct. But it does say _New DIRECTORY_, which might be a clue. (I think Vim shows _New DIRECTORY_ if you "open" a non-existant location.

Could it be that VS Code somehow sets a different work directory for vim, than the repository root? And that way vim tries to open a different location?

[2020-07-08 09:28] psamim opened #186 "AUR packages fails to build"
Hi,
The AUR package fails. From the comments it seems others have problem with it too:

https://aur.archlinux.org/packages/gitui/

Thanks

[code]

[2020-07-08 10:47] extrawurst commented on #186
@wezm did the AUR implementation, maybe he can give some feedback. I don't know what's happening here, all platforms are building fine in the CI 🤔 https://github.com/extrawurst/gitui/actions/runs/161390319

[2020-07-08 11:22] extrawurst commented on #186
@wezm maybe its possible to add some CI step that models what's happening for AUR?

[2020-07-08 16:21] extrawurst commented on #184
Ok it actually turns out not to be limited to vscode, simply run `gitui` in a subfolder of your repo and it will stop working

[2020-07-08 17:13] non-descriptive commented on #164
maybe add [chocolatey](https://chocolatey.org/) packages as well?

[2020-07-08 18:20] cruessler commented on #103
“In the commit log”, is that when you press <kbd>2</kbd> and then <kbd>Enter</kbd> on a commit?

[2020-07-08 18:23] extrawurst commented on #103
no that's when you have the right-side commit-details open, right? I would expect this to be available even when being in plain reblog-view (only pressing [2])

[2020-07-08 18:33] studoot commented on #161
[gumdrop](https://docs.rs/gumdrop/0.8.0/gumdrop/) is another possible option - [this blog post](https://blog.kodewerx.org/2020/06/the-rust-compiler-isnt-slow-we-are.html) suggests a 500kB size reduction as well.

[2020-07-08 22:49] wezm commented on #186
This is quite strange. As I mentioned on the AUR I've built the package successfully on two different Arch machines myself. @psamim there must be something about your system that's throwing it off. What version of Rust and gcc do you have installed (`rustc --version`, `gcc --version`)?

Here's a Dockerfile that shows the `gitui` 0.8.1 AUR package successfully builds. Copy it to an empty directory

[2020-07-09 02:19] slaughtering opened #188 "Crashes when trying to show log in a git repo with chinese commit messages on Windows 10"
**Describe the bug**
Crashes when trying to show log in a git repo with chinese commit messages on Windows 10

**To Reproduce**
Steps to reproduce the behavior:
1. Open cmd or pwsh and cd to a git repo with chinese commit log messages
2. Run gitui
3. Press 2 to show the log
4. See error:
panic: PanicInfo { payload: Any, message: Some(byte index 118 is not a char boundary; it is inside '里' (bytes 1

[2020-07-09 05:26] psamim commented on #186
@wezm I run it again and it is built successfully. Not sure what happened. Sorry to bother.

[2020-07-09 06:18] extrawurst commented on #188
@slaughtering Thanks for reporting this, to be able to reproduce this it would be super helpful to have the causing commit message, are you able to share that one?

[2020-07-09 07:04] wezm commented on #186
Cool, glad you got it to build. 👍

[2020-07-09 07:32] #172 closed

[2020-07-09 15:02] extrawurst commented on #186
Ok great 👍

[2020-07-09 15:02] #186 closed

[2020-07-09 15:47] #184 closed

[2020-07-09 21:10] extrawurst opened #190 "new tag not picked up in revlog"
currently when tagging a commit while `gitui` is open this will not be picked up int the revlog as long as `HEAD` does not change

[2020-07-09 22:37] extrawurst commented on #190
related to #170

[2020-07-10 00:55] slaughtering commented on #188
Yep, and here is one :
panic: PanicInfo { payload: Any, message: Some(byte index 118 is not a char boundary; it is inside '里' (bytes 117..120) of `1. 导入按钮由选文件改为选目录，因为整个过程中要用到多个mdb文件，这些文件是在程序里写死的，暂且这么来做，有时间了后
再做调整`), location: Location { file: "/rustc/c7087fe00d2ba919df1d813c040a5d47e43b0fe7\\src\\libcore\\str\\mod.rs", line: 1920, col: 47 } }

[2020-07-10 01:51] leesiongchan opened #191 "New ignored file didn't append to a new line"
**Describe the bug**
New ignored file didn't append to a new line

**To Reproduce**
Steps to reproduce the behavior:
1. Click 'i' on file
4. See .gitignore

**Expected behavior**
Should append to a new line

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/324418/87107477-685a8d00-c292-11ea-90d8-b721eb370e71.png)

**Con

[2020-07-10 06:55] #188 closed

[2020-07-10 07:13] extrawurst commented on #191
hi @leesiongchan thanks for reporting this! unfortunately I cannot reproduce it so far. the potential failure surface is rather small: a problem in writing to the `.gitignore` file. anyway what you describe is not even 'crashing' the app which means the ignore method does not even literally fail.

I guess I need more help to reproduce it: what folder of your repo did u run gitui in? what file did

[2020-07-10 07:29] leesiongchan commented on #191
Do you have empty line at last in .gitignore? Try removing it, I am able to reproduce it if my .gitignore isn't end with an empty line

[2020-07-10 07:33] extrawurst commented on #191
@leesiongchan now I realise what you mean! thanks! 🙏

[2020-07-10 09:25] #191 closed

[2020-07-10 23:56] thezealousfool opened #192 "Compact Treeview"
Thanks for building this tool.

When files changed are down in the tree hierarchy, having branching of every folder in the way of the file is unnecessary and a little annoying.

For example (android project),
![Screen Shot 2020-07-10 at 7 50 40 PM](https://user-images.githubusercontent.com/20724374/87211335-09733300-c2e7-11ea-9ed1-16f047bd559a.png)
in the example above, `app/src/main` can be combi

[2020-07-12 09:18] extrawurst opened #193 "commit detail popup does not show tags"
related to #170

[2020-07-12 10:43] extrawurst opened #194 "revlog author column unaligned"
see chromium repo:
<img width="521" alt="image" src="https://user-images.githubusercontent.com/776816/87244400-46513e00-c43d-11ea-96a3-3f3725bf2b55.png">

[2020-07-12 11:21] #170 closed

[2020-07-12 11:21] #190 closed

[2020-07-12 11:57] extrawurst opened #196 "optimise revlog scrolling with details open"
do not fetch commit-files right away, add delay so that while scrolling we are not kicking off dozens of slow requests against git

[2020-07-12 12:34] #193 closed

[2020-07-13 20:21] extrawurst commented on #192
Hi @thezealousfool thanks for your interest in *gitui* - I like the proposal

[2020-07-14 07:03] extrawurst commented on #194
Seems this is a macOs specific issue with CKJ characters that can take more than one char width. Seems an edge case. I don't know how to tackle this uniformly.

See here: https://stackoverflow.com/questions/7086856/programmatically-tell-if-a-unicode-character-takes-up-more-than-one-character-sp

[2020-07-14 07:03] #194 closed

[2020-07-14 07:38] extrawurst opened #198 "crash on very small term size"
[code]

[2020-07-14 07:43] #179 closed

[2020-07-14 10:51] studoot opened #200 "Brew formula errors when installing `gitui` on Linux(brew)"
**To Reproduce**
1. Type the command `brew install gitui` on a Linux box (Ubuntu 18.04 here) with [Linuxbrew](https://docs.brew.sh/Homebrew-on-Linux) installed.
2. See the following error output:
[code]

**Expected behavior**
`gitui` should be built from source & installed into Linuxbrew.

**Context (please complete the following information):**
 - Ubuntu 18.04 (running on Windows Subsystem for Li

[2020-07-14 10:56] studoot commented on #200
Argh - I guess I should have reported this to Homebrew-Core, not here. Sorry!

[2020-07-14 10:56] #200 closed

[2020-07-14 18:26] alistaircarscadden commented on #198
At a certain size, maybe the app should just try its best to fit a message like `your terminal is way too small`

[2020-07-14 20:39] extrawurst commented on #198
😊 that would be one option... tbh I dont care that the ui will crap In such a size, I just dont want it to panic

[2020-07-14 23:16] #198 closed

[2020-07-15 21:22] #103 closed

[2020-07-15 21:36] extrawurst commented on #103
@cruessler looks great!
![tagging](https://user-images.githubusercontent.com/776816/87599871-0071cf80-c6f4-11ea-9343-0709621e77ab.gif)

[2020-07-16 05:19] cruessler commented on #103
@extrawurst Thanks for the feedback! Looking forward to my next contribution! :-)

[2020-07-16 10:57] vext01 opened #203 "Show the whole diff for a change."
Long-time tig user here. Tried gitui for the first time.

**Is your feature request related to a problem? Please describe.**

I'd like to see the whole diff for a commit. Currently only sub-diffs are shown when you select a path in the change inspector.

**Describe the solution you'd like**

One way to do this might be to display diffs for directory entries, then the top-most directory would displ

[2020-07-16 18:36] cruessler commented on #181
@extrawurst If this is not yet taken, I’d give it a try! Do you have a specific solution in mind?

[2020-07-16 19:09] extrawurst commented on #181
@cruessler nice! Feel free to take it but I think this one is actually more involved, because I think the best solution is to allow switching focus between the message and the file tree (when in the fullscreen commit-detail view only)  via `arrow-up` and `down`.
this is the preferred solution to having a dedicated new hotkey to switch to the message.

once the message is focused `arrow-up`/`down`

[2020-07-16 21:15] extrawurst commented on #181
Here is a open ticket basically about the lack such a feature in tui-rs: https://github.com/fdehau/tui-rs/issues/89

**But** the last commenter basically provides a solution feasible for us: using `textwrap` crate to manually do the word wrapping and draw it using non-wrap paragraph. This way we know the number of lines upfront and know the bounds for the scrolling.

See https://github.com/mgeisle

[2020-07-17 10:37] extrawurst opened #204 "scrollbar for diff view"
to visualise where we are in big diffs

[2020-07-18 10:44] #160 closed

[2020-07-18 11:58] extrawurst commented on #196
so this was actually rooted in a problem with the mechanism that was supposed to keep `asyncgit` from spawning multiple jobs for doing things like *lookup the files in a commit*. what made it so bad was that this happened when the system was under load adding even more load 💥

fixed with 58a1719

[2020-07-18 11:58] #196 closed

[2020-07-18 12:15] extrawurst commented on #161
let's keep this help output as similar as possible:
[code]

[2020-07-18 13:32] extrawurst commented on #161
ok I tried `pico-argh` and it reduces the raw binary size by 400kb (200kb after stripping), but does not reduce the dependencies at all (other than `textwrap`, which we soon need anyway due to #181). also the compile time only gets reduced by 7s. on the other hand convenience gets reduced significantly so I for now decide that the gain is not worth the pain

[2020-07-18 13:32] #161 closed

[2020-07-18 13:37] extrawurst commented on #156
following our discussion on discord, I will close this. please feel free to followup if this happens again.

[2020-07-18 13:37] #156 closed

[2020-07-18 17:06] extrawurst commented on #1
unfortunately this introduces massive bloat of dependencies and reintroduces the outdated `mio 0.6` with its security problematic outdated `net2`: https://github.com/notify-rs/notify/issues/248

[2020-07-18 17:17] extrawurst opened #205 "migrate to tui-rs 0.10"
[v0.10 release](https://github.com/fdehau/tui-rs/blob/master/CHANGELOG.md#v0100---2020-07-17) contains breaking changes.

afterwards we can finally fix: https://github.com/extrawurst/gitui/issues/149

[2020-07-18 17:42] extrawurst commented on #203
Hi @vext01, thanks for giving young `gitui` a shot. I know traditional tools support this usually but I always found it harder to read, this is gonna require a substantial refactoring, I am not gonna lie

[2020-07-19 16:19] albertogg opened #206 "Tags not showing in log"
Hi, this is a very cool TUI, thank you. I was testing it out and found myself needing to look at which commits are tagged within the Log. It seems that this is not happening despite seeing that the feature was implemented in #47. I haven't look at the code.

**Expected behavior**
Seeing the tag next to the commit message.

**Screenshots**

Here are a couple of screenshots. One is with GitUp showin

[2020-07-19 20:35] extrawurst commented on #206
@albertogg thanks for reporting this. I cannot reproduce the problem for tags pointing to commits in the current branch. Is the repo you experience the issue open source to reproduce?

[2020-07-19 23:27] albertogg commented on #206
Thanks, for the quick response... yes, it is. It's this one https://github.com/qmk/qmk_firmware.

[2020-07-20 11:46] extrawurst commented on #206
So turns out to be an issue in the library I am using to interact with the git repo: https://libgit2.org - I am working on a small repro for them to look into.

[2020-07-20 12:51] #20 closed

[2020-07-20 16:05] albertogg commented on #206
ha, Interesting. I see that you already put the work rust-lang/git2-rs#594. Thanks! let's see how this goes.

[2020-07-20 21:35] extrawurst commented on #206
got it. aside from the linked ticket my code still had a shortcoming in dealing with tags that are directly pointing to the commit and tags that tage a detour, weird stuff happening in git sometimes... anyway looks better huh:

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/776816/87989057-a9983b80-cae1-11ea-94fd-e36ddeec9f9c.png">

[2020-07-20 21:40] #206 closed

[2020-07-20 21:40] albertogg commented on #206
Nice, I can imagine. very fast turn around. thanks!

[2020-07-21 00:57] mbhall88 opened #209 "Squash commits"
I regularly squash my last *n* commits.

**Describe the solution you'd like**
It would be really cool if you could select commits in the Log screen and squash the selected commits.

**Describe alternatives you've considered**
Using the git CLI (which is fine)

[2020-07-21 07:05] extrawurst commented on #209
@mbhall88 thanks for your interest in *gitui*. this and interactive rebase in general is on my list: https://github.com/extrawurst/gitui/issues/32

[2020-07-21 07:07] extrawurst opened #210 "windows CI broken"
[code]

see https://github.com/extrawurst/gitui/runs/891775460

[2020-07-21 07:08] extrawurst commented on #210
decrypted:
`Windows Subsystem for Linux has no installed distributions.\r\r\nDistributions can be installed by visiting the Microsoft Store:\r\r\nhttps://aka.ms/wslstore\r\r\n`

[2020-07-21 07:35] #209 closed

[2020-07-21 08:27] #210 closed

[2020-07-21 18:38] extrawurst commented on #206
@albertogg btw. this is what confused me in the base c++ lib: https://github.com/libgit2/libgit2/issues/5586

[2020-07-22 00:01] extrawurst opened #212 "multiple tag names in commit details not separated"
<img width="615" alt="image" src="https://user-images.githubusercontent.com/776816/88118925-3107ac80-cbbf-11ea-8955-535a7568712c.png">

[2020-07-22 08:37] #212 closed

[2020-07-22 08:38] extrawurst commented on #212
<img width="628" alt="image" src="https://user-images.githubusercontent.com/776816/88154360-0b05fa80-cc07-11ea-8e36-19ed9ccfde54.png">

[2020-07-22 18:22] albertogg commented on #206
I see, If you don't annotate the tag they will be "lightweight", that behavior seems odd, I would have never thought of that. But I don't completely understand... is the rust library using the c++ library underneath?

[2020-07-22 18:47] extrawurst commented on #206
@albertogg exactly, libgit2 is the base library powering gitlab and gitkraken and git2-rs is the rust safety wrapper that I am using

[2020-07-24 10:45] extrawurst commented on #181
@cruessler hey man anything I can help you with here to get this out the door?

[2020-07-25 12:53] cruessler commented on #181
@extrawurst Thanks for asking! I was busy preparing a talk, but since that's done now, I want to finish the PR this weekend. I'll let you know if I run into trouble!

[2020-07-26 19:37] cruessler commented on #181
@extrawurst A good chunk of the work is done. I expect to be able to update the PR in the next few days.

[2020-07-27 11:57] jonstodle opened #215 "Move to (un)staged when the current selection is empty"
**Is your feature request related to a problem? Please describe.**
When using the _Stage all_ command (or just when all items have been (un)staged. The focus should switch to the other view. There's isn't really a reason for the focus to remain in _Unstaged changes_, when all the files have been moved to _Staged changes_ (and vice versa).

**Describe the solution you'd like**
When using _Stage all

[2020-07-27 12:09] extrawurst commented on #215
Hey @jonstodle that's a good idea! Are you up for it? :)

[2020-07-27 12:45] jonstodle commented on #215
Yes

[2020-07-29 06:36] extrawurst commented on #97
See https://github.com/rust-lang/git2-rs/issues/507

[2020-07-29 19:10] #175 closed

[2020-07-29 19:16] #215 closed

[2020-07-30 15:19] jabra98 opened #220 "Vim-like navigation"
Would be cool if it was possible to navigate with the h,j,k,l keys. I changed the bindings inside the src/keys.rs file and it seems to work just fine (rebound 'h' for help to '?').

[2020-07-30 19:58] jonstodle commented on #220
This relates to #57

[2020-07-30 20:17] extrawurst commented on #220
yeah this is in the pipeline 👍

[2020-07-30 20:17] #220 closed

[2020-07-31 20:01] MuAlphaOmegaEpsilon opened #221 "Add --version cli argument handling"
Since `gitui` development is really fast right now, it is especially useful to be able to quickly track down the current version I have installed.
I was expecting to simply launch `gitui --version` and receive immediately back on the prompt the version number (and maybe the commit SHA?) related to the gitui version running.

Please, would you consider adding the `--version` handling?

[2020-08-01 04:20] tuxlifan commented on #59
Any key to stage an individual line would be a huge improvement for me to finally be able to ditch "git gui" and stop mousing around :partying_face:

For vim users, Shift+v would be a familiar hotkey to start selecting lines.

Thank you for gitui! :smiley:

[2020-08-01 07:00] extrawurst commented on #221
@MuAlphaOmegaEpsilon did you try it at all? It is implemented already since https://github.com/extrawurst/gitui/releases/tag/v0.5.0

[code]

also see:
[code]

[2020-08-01 07:00] #221 closed

[2020-08-01 09:47] MuAlphaOmegaEpsilon commented on #221
@extrawurst yes I did, I suppose I had a version prior to 5.0 then. Great that it's already in!

[2020-08-02 19:23] tjhei opened #222 "allow interactive amend commit"
Commit learned to amend the last commit using ^a, which is awesome. Problem: it only works if you have staged changes to add (otherwise [c] commit is disabled).
It would be great if amend works similar to git-cola, where checking "amend" puts the changes from the last commit back into "staged" so it allows staging additional hunks, unstaging parts, and then editing the message.

**Describe the sol

[2020-08-05 02:07] hansmuff opened #223 "Selection cursor not moving after deleting a stash at the end of the list"
**Describe the bug**
[MINOR INCONSISTENCY] When on the Stashes[4] screen and multiple stashes are present and you delete the last one, the cursor doesn't move.

**To Reproduce**
Steps to reproduce the behavior:
Go to Stashes[4] and have multiple stashes
Jump to the last one, I use SHIFT+CursorDown
Hit "D" and then ENTER
Now there's no cursor bar. If I hit "D" again, nothing happens because nothing

[2020-08-07 18:32] Node0 opened #226 "Mouse support in GITUI"
**Add TUI mouse support (like exists in Midnight Commander)**
It would make browsing through commit history, and other searching operations convenient if the mouse cursor could access them.

**There is no alternative git client implemented as a TUI, let alone any with mouse support**

[2020-08-07 23:35] extrawurst commented on #226
mouse support is not really a focus for me, gitui's philosophy is to make keyboard control super easy and fast for everyone to grasp. albeit if someone comes forward and provides a PR I wouldn't block it

[2020-08-08 03:00] fanliver opened #227 "Vim-like navigation using hjkl."
Using `h` `j` `k` `l` for navigation is quite common for those who use the terminal a lot. Is there any way to remap the key like that?

`h` `j` `k` `l`: Move in same pane
`Ctrl` + `h` `j` `k` `l`: Switch between panes (staged, unstaged, diff)

[2020-08-08 07:16] extrawurst commented on #223
Thanks for reporting this @hansmuff

[2020-08-08 07:24] #223 closed

[2020-08-08 07:26] extrawurst commented on #227
thanks for your interest in `gitui`. this is already tracked as: https://github.com/extrawurst/gitui/issues/57

[2020-08-08 07:26] #227 closed

[2020-08-08 07:28] extrawurst commented on #222
Maybe you can give more details how git-cola does this? does it effectively rollback the last commit when u amend and then you basically do a fresh commit?

[2020-08-08 17:42] #181 closed

[2020-08-09 05:53] c02y opened #228 "git error:get_string called on a live config object when trying to commit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. open gitui inside a git repo
2. stage a modified file
3. write a commit message
4. try to commit
5. commit failed, "git error:get_string called on a live config object"

I tried gitui multiple times, failed to commit, but this commit is done successfully using tig.

**Expe

[2020-08-09 07:19] extrawurst commented on #228
seems related to https://github.com/extrawurst/gitui/issues/79
can you do me a favour and share the config for this repo for the `user.name` and `user.email` ?

[2020-08-09 07:47] c02y commented on #228
`user.name`  == empty
`user.email` == "myemail@email.com"

[2020-08-09 08:39] extrawurst opened #229 "Selection in diff to copy lines to clipboard"
I regularly want to copy stuff out of diffs.

This requires supporting selecting multiple lines in the diff view.

Then we can add a new command to copy the selected block into the clipboard.

This selection function would also be the foundation for `per line staging` (#59)

[2020-08-09 09:05] extrawurst commented on #228
it is exactly the opposite of #79
<img width="554" alt="image" src="https://user-images.githubusercontent.com/776816/89728762-fb244e00-da2f-11ea-91a3-1aa45c467cac.png">

so it fails if u have a name but no email defined.
[code]

[2020-08-09 09:20] c02y commented on #228
Yes, I get it now, but I used tig to commit it successfully, which is weird, since `user.name` can be undefined in the commit step.

I think we can treat this issue an bug of gitui

[2020-08-09 11:51] extrawurst commented on #229
I see this as a two step process:

1) building the selection functionality into the diff view component to not only have a scroll position but a selection start position and figure out if we can use shift+arrows for this and visualize it in the draw method. if the shift key is not pressed while scrollen we can simply do `selection_start=selection`

2) is to find a crate that does the copy to clipb

[2020-08-09 20:20] tjhei commented on #222
Certainly.

1. You enable "amend last commit":
![image](https://user-images.githubusercontent.com/1531285/89741032-d776fd00-da5b-11ea-8b6a-2950c4ee7596.png)
2. Now the last commit message, description, staged files, etc. are visible (note: this does not change anything in the working copy, git-cola just pulls up the last commit up as if it was not commited yet). You get back into the original unmo

[2020-08-11 18:17] Icantjuddle opened #232 "Gitui shows files excluded via sparse checkout as deleted."
**Describe the bug**
I use git's sparse checkout feature along with worktrees to have multiple branches checked out simultaneously but not have to checkout the whole tree (would be too large for my disk). Gitui shows all the files I've excluded via sparse checkout as deleted which is incorrect.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone a this repo.
1. `git sparse-checkout init --

[2020-08-11 19:16] extrawurst commented on #232
unfortunately this is down to lack of support for sparse working dirs in `libgit2` which we use under the hood: https://github.com/libgit2/libgit2/issues/2263

[2020-08-13 04:11] Icantjuddle commented on #232
Ah makes sense, kinda a bummer, but thank you very much for looking into it :slightly_smiling_face:.

[2020-08-14 20:51] extrawurst commented on #232
Well it seems there might be a workaround: The config of the repo contains the definitions of the sparse checkout (ignored paths) so in theory when diffing/staging/commiting we could explicitly ignore deleted files in those paths.. it feels wrong to do this at application level though but hey if someone is willing to make a PR for this I am not going to be picky :)

[2020-08-16 10:03] extrawurst opened #235 "Windows commit hooks without wsl"
Current ci seems broken due to lack of wsl support and it turns out that without wsl our commit hook unit tests won't work.

It would be great if someone with access to a windows machine looks at this and makes them run able on vanilla windows 🤞

[2020-08-18 02:05] wezm commented on #57
Just bumping this to stop the bot from closing.

[2020-08-18 10:16] lucax88x commented on #57
Top this, awesome tool and those binding would make it favourite.

[2020-08-18 19:27] #235 closed

[2020-08-18 20:25] extrawurst commented on #57
Good news! Thanks to @yanganto this is actually on the way. Please checkout the branch and let us know what you think and how you like it so we meet the many expectations :)

[2020-08-19 19:02] #229 closed

[2020-08-19 19:12] cruessler commented on #228
If this is not taken yet, I’d have a look.

[2020-08-19 19:35] extrawurst commented on #228
@cruessler sure! 👍

[2020-08-25 09:42] maple-leaf opened #242 "Able to view diffs between two branches or among some commits in tree view"
**Is your feature request related to a problem? Please describe.**
Sometimes we want to view all changes between branches and commits, we can use 'git diff' to achieve this. But **this lacks tree view**.

**Describe the solution you'd like**
Able to view diffs in a tree view, and able to select each file to view details.

[2020-08-25 16:48] #76 closed

[2020-08-26 12:36] aTable commented on #226
@Node0  For what it's worth, [lazygit](https://www.youtube.com/watch?v=F7TCWUO9vt4) has mouse support and might be worth a try?

[2020-08-26 16:15] extrawurst opened #243 "theme docs point to old config dir on macOS"
based on #217 we need to update the themes docs:
`Application Support` instead of `Preferences`

[2020-08-26 16:23] #57 closed

[2020-08-26 16:23] #109 closed

[2020-08-26 16:37] #243 closed

[2020-08-26 16:38] extrawurst opened #244 "revert hunk broken"
since #234 reverting a single hunk while scrolling a diff does not work anymore. @yanganto can you look into this?

[2020-08-26 17:01] extrawurst opened #245 "new line breaking in commit msg fails"
this seems related to #208 by @cruessler where we introduce custom line-break parsing.
when selecting the commit in the screenshot it renders empty spaces into the left side of the screen (empty block)

<img width="845" alt="Screenshot 2020-08-26 at 18 58 47" src="https://user-images.githubusercontent.com/776816/91333744-48dddc00-e7ce-11ea-856e-d89ea9bcfb75.png">

[2020-08-26 22:04] #244 closed

[2020-08-26 23:10] #245 closed

[2020-08-26 23:11] extrawurst commented on #228
@cruessler any progress on this? I am thinking about cutting a release to get the `vim` key bindings out the door

[2020-08-27 14:40] kdebowski commented on #164
I would love to see gitui in [Scoop](https://scoop.sh/) repository

[2020-08-27 14:43] extrawurst commented on #164
I am not using windows, so I am very much depending on some contribution here.

[2020-08-27 21:07] extrawurst opened #247 "whitespace at end of line in commit msg eats cursor"
<img width="291" alt="image" src="https://user-images.githubusercontent.com/776816/91494938-fc6fca80-e8b9-11ea-9bdf-b417b353f1a0.png">

move cursor one left:
<img width="299" alt="image" src="https://user-images.githubusercontent.com/776816/91494969-098cb980-e8ba-11ea-8bf7-5bc70a3cd98f.png">

[2020-08-28 02:12] github-actions[bot] opened #248 "RUSTSEC-2020-0036: failure is officially deprecated/unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `failure`                      |
| Version             | `0.1.8`                   |
| URL                 | [https://github.com/rust-lang-nursery/failure/pull/347](https://git

[2020-08-28 13:02] extrawurst opened #249 "diff: can move selection one more than bottom"
<img width="810" alt="image" src="https://user-images.githubusercontent.com/776816/91563603-70a08180-e93f-11ea-92fa-c21aa152c803.png">

[2020-08-28 14:40] extrawurst opened #250 "amend does not work in branch"
will do a regular commit after showing an error:

<img width="1050" alt="image" src="https://user-images.githubusercontent.com/776816/91588740-ef55e880-e958-11ea-9a06-d1a047a51a06.png">

[2020-08-28 16:19] #204 closed

[2020-08-28 16:53] #249 closed

[2020-08-28 21:31] extrawurst commented on #248
[code]

[2020-08-28 22:01] #250 closed

[2020-08-29 11:52] extrawurst opened #253 "allow creating branch"

[2020-08-29 12:10] extrawurst commented on #253
![Screenflick Movie 61](https://user-images.githubusercontent.com/776816/91636489-5202bf00-ea01-11ea-828f-c76dec7b25c9.gif)

[2020-08-29 12:15] #253 closed

[2020-08-29 17:02] extrawurst commented on #242
currently `gitui` does not support handling multiple branches. diffing two random commits should actually be doable with a few changes to the `InspectCommitComponent` just wondering how to design the UX for that, I think we are going to need a `mark commit` sort of selection mechanism for that

[2020-08-29 17:08] ignatenkobrain opened #255 "0.9.1 and 0.10.0-* are missing on crates.io"
I wanted to package latest rc version that was just released but noticed that latest version on crates.io is actually 0.9.0..

Can you fix it please?

[2020-08-29 17:15] extrawurst commented on #255
I did not think it make sense to push RCs to crates to be honest. after all its release candidates. the missing `0.9.1` was a mistake indeed.

[2020-08-29 17:17] ignatenkobrain commented on #255
@extrawurst well, I'd like to have RCs in Fedora's development version so whoever (including me) want to use those - could do so. Since cargo knows that it is pre-release, it will not install it when `cargo install gitui` is run. Users would need to specify exact prerelease version they want.. But I think this is much better than just not pushing it at all.

[2020-08-29 17:19] ignatenkobrain commented on #255
For example, see https://crates.io/crates/actix-web. When you open it, it offers you a `2.0.0`, but there are bunch of pre-release `3.0.0` versions that are available for users that want them. In Fedora, for example, we ship only pre-release versions of actix-* stack because only that contains fixes we want our users to have.

[2020-08-29 17:25] extrawurst commented on #255
`actin-web` is a library and pre-releases are actually interesting to users. the pre-releases I just did were just because I have not other way to test the CD pipeline and they are of no value to any. If I every do actual pre-releases that are supposed to be used I will push them. In this particular case I will remove the pre-release tags again in just a few minutes

I just pushed `0.9.1` to crate

[2020-08-29 17:27] ignatenkobrain commented on #255
Oh, I thought that they could be used by users that want pre-release :) If it was just for CI, then sure :)

Thanks, I'm updating it in Fedora right now.

[2020-08-29 17:28] extrawurst commented on #255
`0.10.0` is also being pushed right now.

[2020-08-29 17:28] ignatenkobrain commented on #255
\o/

[2020-08-29 17:31] extrawurst commented on #255
@ignatenkobrain crates.io is updated now and the full release tag `0.10.0` is pushed, should be through CD soon

[2020-08-29 17:31] #255 closed

[2020-08-29 17:52] yermulnik commented on #18
Apologies for resurrecting this issue but I've got an issue with latest `gitui` (`v0.10.0`):
[code]
`v0.9.1` works just fine.

Also `.deb` would be super useful and I think I can volunteer to test it if any.

[2020-08-29 17:56] ignatenkobrain opened #256 "RFE: Switch from clipboard to copypasta"
The `clipboard` is using some really old version of `x11-clipboard` on Linux. `copypasta` is fork of `clipboard` which supports Wayland and is generally maintained these days.

Sorry that I did not spot this last time you mentioned me on the issue about new dependency.

[2020-08-29 17:57] ignatenkobrain commented on #256
Or even https://crates.io/crates/cli-clipboard which is probably better in terms of wayland support, though I did not try it yet.

[2020-08-29 17:58] ignatenkobrain commented on #256
@extrawurst let me know if you won't have time to play with this in near future in which case I'll try to write patch myself :)

[2020-08-29 18:04] tim77 opened #257 "0.10.0 build error"
**Describe the bug**
`0.10.0` won't compile. This error during build:

[code]

- [Full build log](https://download.copr.fedorainfracloud.org/results/atim/gitui/fedora-32-x86_64/01639681-gitui/builder-live.log.gz)

**To Reproduce**
Try to build `0.10.0` with latest rust-1.46 version.

**Expected behavior**
Successful build.

**Context (please complete the following information):**
 - OS/Distro + Ve

[2020-08-29 18:14] extrawurst commented on #257
Can you share your `rustc --version` output? It looks like you're actually not using the latest stable rust 🤔

[2020-08-29 18:35] ignatenkobrain commented on #257
Rust 1.46 is needed indeed.

[2020-08-29 18:35] tim77 commented on #257
Oops, my apologies, in compiles fine on Rawhide where rust-1.46 but error was another error (missed `xcb-devel` package). Thanks a lot. Building.

[2020-08-29 18:35] #257 closed

[2020-08-30 09:24] c02y opened #259 "Failed to execute gitui binary file downloaded from the release page"
**Describe the bug**
A clear and concise description of what the bug is.

I downloaded gitui from https://github.com/extrawurst/gitui/releases/download/v0.10.0/gitui-linux-musl.tar.gz
extract and execute `./gitui`, failed with:
[code]
And the ./gitui has the right permission.

FYI:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. download https://github.com/extrawurst/gitui/releases/do

[2020-08-30 09:47] jugglerchris commented on #18
@yermulnik Does /tmp/yz/gitui actually exist?

Are you able to show the output of `ls -l /tmp/yz/gitui`, `ldd /tmp/yz/gitui` and `file /tmp/yz/gitui` please?

[2020-08-30 09:49] jugglerchris commented on #18
This sounds like #259 too.

[2020-08-30 09:51] jugglerchris commented on #18
I can reproduce this - I'll put the answers to the above on #259.

[2020-08-30 09:53] jugglerchris commented on #259
I see the same on Ubuntu 19.10:

[code]
So it looks like the ELF interpreter is set to `/lib/ld64.so.1` which doesn't exist on my system.  For reference, something like `/bin/ls` uses `/lib64/ld-linux-x86-64.so.2`:

[code]

[2020-08-30 10:50] yermulnik commented on #18
@jugglerchris
[code]

Thank you. I'll take a look.

[2020-08-30 10:53] yermulnik commented on #259
I can also reproduce this on `Linux Mint 18.3 Sylvia x86_64` which is based on `Ubuntu 16.04` (#18 for details).

[2020-08-30 12:51] looztra commented on #259
the previous binary released was statically linked

[code]

[2020-08-30 14:33] c02y commented on #259
Mine is dynamically linked
[code]

[2020-08-30 14:49] looztra commented on #259
Yes yes, it seems that 0.10.0 is dynamically linked in when previous
versions were not.

Le dim. 30 août 2020 à 16:33, c02y <notifications@github.com> a écrit :

[2020-08-30 14:49] extrawurst commented on #259
yeah I can confirm the linux release binary seems broken due to new dynamically linked dependencies for clipboard support:
https://github.com/extrawurst/gitui/pull/231

unfortunately I need to rely on help by someone with linux experience to sort this out. currently we are looking to find a solution to link the clipboard dependencies statically in our `musl` build. if that is no option we may have

[2020-08-30 15:03] extrawurst commented on #259
in the meantime I now removed the broken linux binary from the release. in the meantime on linux building locally or using the Arch or Fedora packages by @ignatenkobrain and @wezm are the only option

[2020-08-30 18:50] yermulnik commented on #259
Any hints on building from source?
[code]

[2020-08-30 18:52] extrawurst commented on #259
Yeah using recent rust 1.46

[2020-08-30 19:10] yermulnik commented on #259
A bit tricky hint for Ubuntu 16.04 **usual** users along with preferring clipboard support to non-Arch and non-Fedora Linux users...
Anyways thanks for the great tool. I'll be watching and waiting for the next release where I don't need to mess with manual Rust installation (instead of using OS's package manager) to get latest `gitui` working :wink:

[2020-08-30 20:09] extrawurst commented on #259
Yeah let's see if a volunteer shows up to do that

[2020-08-30 21:18] yurivict opened #260 "0.10.0 fails to build: `if` is not allowed in a `const fn`"
[code]

OS: FreeBSD 12.1
rust-1.45.2

[2020-08-30 21:21] extrawurst commented on #260
please use rust `1.46`

[2020-08-30 23:25] #260 closed

[2020-08-31 23:36] #259 closed

[2020-08-31 23:37] extrawurst commented on #259
`0.10.1` release is on the way

[2020-08-31 23:59] extrawurst opened #262 "enable clipboard support on linux again"
#261 reverted this feature to fix #259

so now we have two options:
1) figure out how to use `clipboard` in a static build binary using musl
2) use a shell call against something like: `xclip` or `xsel`

also see #258

[2020-09-01 09:16] yermulnik commented on #259
@extrawurst Thanks a bunch! :+1:

[2020-09-01 16:25] cruessler commented on #228
@extrawurst Sorry for the delay. I’ll now start working on it.

[2020-09-01 16:44] cruessler commented on #228
@c02y Running `git commit` with `user.email` not set fails on my machine both using `git` and `tig` with the exact same error message: `*** Please tell me who you are.` If I am not overlooking anything, `gitui` could improve on its error message, but does not do anything unusual.

[code]

[2020-09-01 23:55] extrawurst opened #265 "POC of remote support of git2-rs"
support a first simple version of push/fetch to proof of concept that we can get `git2-rs` working with ssl/ssh support in the static musl binaries

[2020-09-02 00:08] #265 closed

[2020-09-02 00:11] extrawurst opened #267 "push: system for command with progresses"
`push`/`fetch` support progress callbacks and it would be nice to show a popup visualising this

related to #90

[2020-09-02 00:29] extrawurst opened #268 "only use static linked ssl on linux"
is it possible to only use the `vendored-openssl` of `git2-rs` on linux?

[2020-09-02 08:57] extrawurst opened #270 "hunk highlight in inspect diff wrong"
when the diff is not focused in the inspect diff view it still highlights the current hunk:
<img width="1392" alt="image" src="https://user-images.githubusercontent.com/776816/91961137-10c52480-ed0b-11ea-85d7-abbb33a0de82.png">

[2020-09-02 09:11] #270 closed

[2020-09-02 09:12] extrawurst commented on #270
now more clean:

<img width="1392" alt="image" src="https://user-images.githubusercontent.com/776816/91962683-25a2b780-ed0d-11ea-8b1e-4bc9a1066d0d.png">

[2020-09-02 21:31] extrawurst commented on #90
#265 adds first rudimentary push functionailty

[2020-09-02 22:55] extrawurst opened #271 "crash when changing git repo while gitui is open"
[code]

[2020-09-02 22:58] extrawurst commented on #267
requires: https://github.com/rust-lang/git2-rs/issues/616

[2020-09-04 10:08] extrawurst commented on #267
first version of push without progress bar:

![Screenflick Movie 64](https://user-images.githubusercontent.com/776816/92227952-5fa7c100-eea7-11ea-8be4-2e91648fad8e.gif)

[2020-09-04 10:17] extrawurst commented on #90
push works:

![Screenflick Movie 64](https://user-images.githubusercontent.com/776816/92228664-8dd9d080-eea8-11ea-91ff-da2f179d53a3.gif)

[2020-09-04 12:41] TimB87 commented on #90
I tried #266 and it works great over here, tested on a private gitlab repo :smiley:

[2020-09-06 13:15] extrawurst opened #274 "support force push"
see https://github.com/libgit2/libgit2/issues/4286 for how to do `force` with libgit2

we should try to push first and if it fails we ask if we should force push, this way we only need one `push` command

[2020-09-06 15:15] extrawurst opened #275 "create tracking branch when pushing new branch"
after pushing a new branch to remote the git cli does not know where to push to when pushing that branch from cli

[2020-09-06 15:18] extrawurst commented on #267
and now with progress bar:
![push](https://user-images.githubusercontent.com/776816/92329010-f5d51600-f064-11ea-8470-848746282d20.gif)

[2020-09-06 15:48] #267 closed

[2020-09-06 16:04] cruessler commented on #268
@extrawurst I could take a look at this issue. What are the findings so far?

[2020-09-06 16:16] extrawurst commented on #268
oops forgot to close this one. did that already: https://github.com/extrawurst/gitui/commit/7d1e3643b10b9d75f4b60646ec9af7e1150121f4

[2020-09-06 16:16] #268 closed

[2020-09-07 16:03] #106 closed

[2020-09-07 16:03] #85 closed

[2020-09-10 13:44] yanganto opened #281 "Copy commit hash in log tab and commit info component"
It is nice to provide a commit hash copy feature when focus on log tab or commit info component.

[2020-09-10 13:45] extrawurst commented on #281
what keeps your from marking it and simply using the terminal copy-function?

[2020-09-10 13:53] yanganto commented on #281
I often rebase my git commit by rebase a previous commit or cherry-pick some commit from different branch. Gitui provides a better git log viewer.  If it can provide a simple way to copy the commit hash, it will be an awesome feature for me.  If this feature is good for this project, I am willing to put my afford on this issue.  Thanks.

[2020-09-10 13:57] extrawurst commented on #281
what I mean is this:
![Screenflick Movie 69](https://user-images.githubusercontent.com/776816/92740655-3511a880-f37e-11ea-8d3b-5a9787abefb0.gif)

[2020-09-10 14:11] yanganto commented on #281
This can be done with a mouse,  and I use a [terminal](https://github.com/alacritty/alacritty) with keyboard selection mode for this currently.  I use a laptop for doing coding most of the time, the keyboard is the most usable and reliable input device for me.  Not all the trackpad is as good as MacBook makes, and the mouse is not always with a laptop.  Such that I wish this feature can be accepte

[2020-09-10 14:52] extrawurst commented on #281
ok but then lets first tackle https://github.com/extrawurst/gitui/issues/262

[2020-09-10 19:01] cruessler commented on #275
Git has a config setting related to this issue: https://git-scm.com/docs/git-config#Documentation/git-config.txt-pushdefault.

[2020-09-14 04:45] rashil2000 commented on #164
gitui is there in the main bucket of Scoop.
@extrawurst Just add a section like this to the Readme in this repo.

### Scoop (Windows)

[code]

[2020-09-15 06:35] extrawurst commented on #164
@rashil2000 thanks for pointing it out, its added!

[2020-09-17 11:58] ciaranmooney commented on #247
I think I understand where this might be coming from. I believe the building of the output of a TextInput component mixes the styling and content to a point where the above issue can occur.

As part of #197 I am partway through refactoring how xxx builds up the Text return value. Where the String containing the characters and the styling are built up in stages. See this [branch](https://github.com

[2020-09-18 09:36] alex-popov-tech commented on #59
super excited for this feature, that's probably the only thing which stopps me to switch to gitui from vim-fugitive :)

[2020-09-20 22:12] #132 closed

[2020-09-22 05:30] mbhall88 opened #286 "Reset item and revert hunk not working with key bindings"
**Describe the bug**
Both Reset item ['D'] (stash_drop) and revert hunk ['U'] (status_reset_item) are not working with the vim key bindings. By not working, I mean when I press <kbd>D</kbd> on an entry, nothing happens.

**To Reproduce**
Steps to reproduce the behaviour:
1. Using [this](https://github.com/mbhall88/.dotfiles/blob/master/gitui.vim_style_key_config.ron) config
2. Make a change to a f

[2020-09-23 15:18] GavinGuan24 opened #287 "you can use "upx" to compress file, reduce the file size of 'gitui'"
UPX is an advanced executable file compressor. UPX will typically
reduce the file size of programs and DLLs by around 50%-70%.

[code]

[2020-09-23 17:37] extrawurst commented on #287
upx compresses at the cost of startup time, right? could you compare the two?

[2020-09-24 02:30] GavinGuan24 commented on #287
it's a immature advice. 🤔
If you don’t like it, please ignore it.😁
I really like gitui. Good job !!!

em..., In fact, I did not accurately compare their startup speed.
However, when used, there is really no obvious difference.
Because the file size of binary file that you gave is already small.
I just think that the file size can be more extreme.

[2020-09-24 11:05] WizardOhio24 commented on #192
I've been working on this and managed to produce what I think you're after.  Here's a screenshot.
![Working_Screenshot](https://user-images.githubusercontent.com/52405405/94132586-664aa800-fe57-11ea-9f97-b48b48f48392.png)

I'll put in a pull request soon, when I have time.

[2020-09-24 13:25] extrawurst commented on #192
that looks pretty cool! ❤️

[2020-09-24 20:55] extrawurst commented on #286
@yanganto can you look into this?

[2020-09-27 11:06] #287 closed

[2020-09-27 16:37] #192 closed

[2020-09-27 17:11] #271 closed

[2020-09-27 17:22] extrawurst opened #291 "left key in tree broken"
before https://github.com/extrawurst/gitui/pull/288 the `left` key *jumped* up to the current parent dir, now it simply moves one up:
![Screenflick Movie 71](https://user-images.githubusercontent.com/776816/94371424-c0b56400-00f6-11eb-8fe2-a6e21ec2aad6.gif)

[2020-09-27 17:26] extrawurst commented on #291
previously:
![Screenflick Movie 73](https://user-images.githubusercontent.com/776816/94371493-3cafac00-00f7-11eb-9b02-d69d6f5fa190.gif)

@WizardOhio24 can you look into this?

[2020-09-27 17:33] WizardOhio24 commented on #291
Sure, apologies for breaking it.

[2020-09-27 17:38] extrawurst commented on #291
No worries! Thanks for tackli g this!!❤️

[2020-09-28 07:54] #291 closed

[2020-09-28 13:23] extrawurst opened #295 "new folder-folding breaks scrolling"
another followup to #288

moving selection and scrolling behaves weird when some folders are collapsed:
![Screenflick Movie 74](https://user-images.githubusercontent.com/776816/94437690-65d74780-019e-11eb-8a13-608bfff4fdbf.gif)

@WizardOhio24 do you mind also looking into this?

[2020-09-28 14:05] WizardOhio24 commented on #295
Of course, apologies again :persevere:.

[2020-09-28 15:27] #140 closed

[2020-09-29 18:13] #295 closed

[2020-09-29 21:07] WizardOhio24 commented on #274
For this, would it not be better to create a separate command/key for it?  Usually when you want to force push, you know, it's not like you usually push, fail and decide to force push, this would probably result in overwritten commits and annoy everyone else who was contributing who would then have to `reset --hard` or `force push` to sort out the branch.  It would be more common to push, fail, re

[2020-10-01 08:53] Horki opened #301 "[linter] fix ui::mod::calc_scroll_top, missing_const_for_fn warning"
**Describe the bug, warning**
[code]

**To Reproduce**
Steps to reproduce the behavior:
`cargo +stable clippy --release`

**Context (please complete the following information):**
 - OS/Distro + Version: [e.g. ` 5.8.12-arch1-1 `]
 - GitUI Version [e.g. `0.10.1`]
 - Rust version: [e.g `1.44`]

@extrawurst PR #300

[2020-10-01 09:15] extrawurst commented on #301
I intentionally made those *warnings* in https://github.com/extrawurst/gitui/blob/master/src/main.rs#L10 to not break the build, this is only until clippy stops complaining without noticing I cannot make it const due to `saturating_sub`.

the reason I want to keep it a warning is to not forget about it

[2020-10-01 16:46] nerdrew commented on #286
It looks like `stash_drop`'s key code is displayed as the shortcut when looking at the `Status [1]` tab. I set both

[code]

and then I could reset from both the `Status [1]` tab and from the diff view. Setting `bits: 1` made it not work, so maybe it doesn't like if the `Char('U')` is uppercase and the "shift" modifier is used?

[2020-10-02 21:10] WizardOhio24 opened #302 "Support rebase (git rebase <branch>)"
**Is your feature request related to a problem? Please describe.**
When pushing to a remote repo, it may be required to rebase if someone else has contributed while you were working and it would be useful to be able to perform a rebase in GitUI.

**Describe the solution you'd like**
When you press the 'r' key in the status tab, a popup should appear asking you which branch you want to rebase onto.

[2020-10-02 23:53] extrawurst commented on #302
This is a dup of #32, right? And I think the branch list view can be reused once we have more branching functionality (#91)

[2020-10-03 08:13] WizardOhio24 commented on #302
I don't think so, but it is linked to #32 and the functionality implemented in this would be used in #32 .  #32 wants to be able to do an interactive rebase in the log tab (so squash/fixup/reword/drop commits, i.e `git rebase -i <commit>`), whereas here I propose doing a rebase onto another branch (as you might do a merge) in the status tab (i.e `git rebase <branch>`).

#32 wants: https://git-scm.

[2020-10-03 11:05] extrawurst commented on #302
@WizardOhio24 thanks for clarifying - sounds right! let's tackle #91 and then focus on this

[2020-10-04 08:57] edfloreshz commented on #247
I'm not very familiar with the project but I'd like to try to fix the issue.

[2020-10-04 10:17] extrawurst commented on #247
@edfloreshz I think @ciaranmooney is working on this already, please make sure to checkout his branch first, so we don't have two people fixing the same issue :)

[2020-10-04 10:34] edfloreshz opened #304 "Push fails with username not found."
**Pushing to a repository fails**
I made a small modification to a file to test gitui, after I made a commit and tried to push I got a backtrace error.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify a file
2. Commit (or don't, happens either way)
3. Push
4. See the error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![Screensh

[2020-10-04 10:53] extrawurst commented on #304
Yeah *pushing* is indeed in-progress but either way an easy way to keep it from crashing is to use the methods we already use to show errors in other places (example: https://github.com/extrawurst/gitui/issues/108)

but the question is: do you actually have not username defined ?

[2020-10-04 13:05] ciaranmooney commented on #247
@edfloreshz Indeed, I believe my refactor of the TextComponent will remove this issue (see [https://github.com/ciaranmooney/gitui/tree/feature/refactoring_textinput](my branch) Although I haven't tested it yet. I've got my head around how the area is working so I feel well placed to solve this issue.

[2020-10-04 14:29] edfloreshz commented on #247
Okay, thanks for letting me know @ciaranmooney @extrawurst! 🙂

[2020-10-04 16:04] edfloreshz commented on #304
If by having a username defined you mean having it on git config, then yes. In case there's an internal git credentials keychain in `gitui`, then no.

Do you mind if I try to handle the UB in this issue? Might be a good way to start contributing to your project for the first time 🧑🏻‍💻.

[2020-10-04 16:16] extrawurst commented on #304
Sure take it :)
Yeah I mean the gitconfig, gitui does not handle user credentials directly.

BTW. this is no *undefined behaviour* - its a very well defined *panic* :P

[2020-10-04 16:40] edfloreshz commented on #304
Oh okay, sorry, handle the crash then :+1:
Thank you!

[2020-10-04 18:43] Skymirrh commented on #176
Perhaps this issue should be marked to be exempted, as it's not really getting "stale due to inactivity"?

[2020-10-04 20:27] edfloreshz commented on #304
@extrawurst Unrelated to this issue, I have a question.
Is the `push` option supposed to be available even when no commit has been made?

[2020-10-05 07:52] extrawurst commented on #304
actually no, it could be shown in a `disabled` state. but let's create another issue for that

[2020-10-05 08:06] extrawurst commented on #304
fixed in #305

[2020-10-05 08:06] #304 closed

[2020-10-05 09:07] extrawurst commented on #112
crossterm-rs/crossterm#442 has actually been fixed, we just need to upgrade, remove the work around and test it

[2020-10-05 19:03] extrawurst opened #307 "crash on small terminal size"
[code]

[2020-10-05 19:10] #307 closed

[2020-10-06 15:12] extrawurst opened #308 "scrollbar in commit msg"
we have scrollbar in diff now (see #204), so it would be nice to use it here too:
![Screenflick Movie 78](https://user-images.githubusercontent.com/776816/95220499-d3b2ed00-07f6-11eb-91a4-fda34550f27a.gif)

[2020-10-07 07:36] #308 closed

[2020-10-08 01:19] WaylonWalker opened #313 "pre-commit hooks do not run"
I have been usuing `gitui` quite regularly for a few weeks and I am in love with it.  The only downside is that `pre-commit` hooks are not running and sometimes I don't see errors until they hit CI.

**Describe the bug**
pre-commit hooks do not run.

**To Reproduce**
Create a commit in a repo with pre-commit hooks installed.

Try with a sample pre-commit.
[code]

**Expected behavior**
pre-commit h

[2020-10-08 03:14] mbhall88 commented on #286
I'm a bit unclear whether that was a question/suggestion/comment?

[2020-10-08 05:35] yanganto commented on #286
@mbhall88 It can be work with the following setting if this still not works please kindly pin me.  I will try to solve your problem.  Thanks.
`stash_drop: ( code: Char('D'), modifiers: ( bits: 1,),),`

[2020-10-08 05:46] yanganto commented on #286
I will fix the example later, sorry about this.

[2020-10-08 07:53] extrawurst opened #315 "add brew validate to CI"
in the past unintentionally commits broke the homebrew deployment that contains it's own kind of ui test: https://github.com/Homebrew/homebrew-core/pull/58826

[2020-10-08 07:56] #205 closed

[2020-10-08 13:13] #286 closed

[2020-10-08 18:39] nerdrew opened #317 "Thoughts on checking `~/.confg/gitui` or `$XDG_CONFIG_HOME/gitui` on mac before defaulting to the existing dir?"
Many terminal apps use `~/.config/<app-name>` even on mac. I assume other also have `~/.confg` (or `$XDG_CONFIG_HOME/`) checked into VCS somewhere. It'd be nice to have my gitui config live with all my other terminal app configs :)

Happy to open a PR if this is welcome.

[2020-10-08 18:45] extrawurst commented on #317
I would need more input from more Mac users on this.
@jonstodle what are your 2c on this?

[2020-10-09 05:27] jonstodle commented on #317
I honestly expect terminal apps to put config in either `~/` directly or (preferably) in `~/.config/<app name>`. Logs and temp files I still expect to be put in their idiomatic macOS locations.

[2020-10-09 22:33] extrawurst opened #319 "git pull (fetch+simple merge)"
git pull is short for `git-fetch` + `git-merge`/`git-rebase`.
I added `asyncgit::fetch_origin` already so now all that's left is to merge/rebase afterwards.

this is to be more specific than #90

[2020-10-09 23:27] #91 closed

[2020-10-10 08:26] mbhall88 commented on #286
The revert hunk with <kbd>U,/kbd> now works, but `stash_drop` with <kbd>D</kbd> doesn't. (I am using the exact config file you added in #316)

[2020-10-10 13:56] extrawurst opened #323 "delete branch"
now that we have the branch list it would be nice to also allow deleting branches.

this is a destructive cmd so we should confirm before executing just like with *reverting files*

[2020-10-10 14:03] extrawurst commented on #262
looks like we can use `pbcopy` on mac and `clip` on windows then we can rip out the `clipboard` dependency completely🥳

[2020-10-10 21:31] #262 closed

[2020-10-10 22:15] extrawurst opened #327 "checkout cmd appears in other tabs"
`checkout` cmd to open the new branches popup should only appear where it is also possible to trigger it (status)

[2020-10-10 22:17] extrawurst opened #328 "progress bar for push seems broken"
since we switched to a new `tui-rs` version the progress bar behaves weird - not actually filling the background

[2020-10-10 22:20] extrawurst opened #329 "unittests for asyncgit::checkout_branch and asyncgit::get_branches_to_display"
#303 (by @WizardOhio24) added these two fundamental new methods that alter the users git repo, so we should have some unittests for these

[2020-10-10 22:52] #327 closed

[2020-10-11 09:24] extrawurst commented on #90
this is superseded with #319 - we are closing in on a 0.11 release adding push/(soon pull) 🥳

[2020-10-11 09:24] #90 closed

[2020-10-11 11:22] #329 closed

[2020-10-11 12:30] #323 closed

[2020-10-12 18:59] #182 closed

[2020-10-15 19:35] hasufell commented on #91
It seems this ticket was accidentally closed?

[2020-10-15 19:36] extrawurst commented on #91
Nope it's implemented on master

[2020-10-15 19:36] hasufell commented on #91
I just built from master, there's still no reference/branch view afais?

[2020-10-15 23:55] alocquet commented on #328
Hi !
I think there is a problem in last version of tui-rs lib, after a refactoring in there style cascading.
Anyway, there are some updates in gauge usage that I will push in a MR :)

[2020-10-16 05:17] alocquet commented on #328
I have updated gauge label to display 'progess' value and I see that gauge component is OK. The problem is that progression value interchange between 0 and 100 values. I'll try to see why...

[2020-10-16 06:03] extrawurst commented on #328
In your Screenshot it looks like it should. Did you change anything? In my local version the background does not turn white on 100% progress.

The fact that no steps in between are shown is a different issue entirely

[2020-10-16 06:10] alocquet commented on #328
Nice :)
I'll push the fix. There is a refactoring in style cascading and a method name has changed.

[2020-10-16 06:29] alocquet commented on #328
It was a breaking change in this release : https://github.com/fdehau/tui-rs/releases/tag/v0.10.0

[2020-10-16 06:42] #328 closed

[2020-10-16 06:47] extrawurst commented on #313
I am having trouble reproducing this. also the unittests for pre-commit hooks do run for me. can you let me know what is in this `sample-config`? is it supposed to block the commit or how do you know it was not run?

[2020-10-16 06:51] extrawurst opened #344 "support https push via credentials dialog"
right now only ssh push works really smooth.
https-repos will not know what pwd to use in the least and if the checkout url did not contain the username it will also not be found.

we should try to query the username from git-config and open username input if not, afterwards lets open another input for the pwd. in this first iteration let's not worry about storing any of this.

to keep things simp

[2020-10-16 07:36] extrawurst opened #345 "allow opening the new branch popup in log"
we have a new cmd in the status view that allows opening the branch popup, I think we should allow it in the log view aswell

[2020-10-16 07:39] extrawurst opened #346 "branch popup should have dynamic width"
right now the popup uses a fixed width, it should use a dynamic one to show more information on wider terminal sizes:
![branches](https://user-images.githubusercontent.com/776816/96226659-465c5f00-0f93-11eb-9837-a8f0d5dd5f6c.gif)

[2020-10-16 07:52] alocquet commented on #345
I'll try this one

[2020-10-16 08:00] extrawurst commented on #91
@hasufell see the changelog, please feel free to raise a new issue if you see anything broken that is supposed to work or anything particular missing

[2020-10-16 08:35] terhechte commented on #317
Very longtime Mac user here; I was puzzled to find that the configuration resides in `~/Library..` as that is normally reserved for non-terminal GUI apps. Terminal apps nowadays prefer `~/.config` (compared to the `~/.` that used to be the default aeons ago)

[2020-10-16 08:42] extrawurst commented on #317
I love it, special treatment everywhere... so we can use `.config` on macOS without any conditions?

[2020-10-16 12:32] alocquet commented on #344
If you want, I can also take this one.

[2020-10-16 14:59] extrawurst commented on #344
Sure 👍

[2020-10-16 16:21] #345 closed

[2020-10-16 21:07] pm100 commented on #344
I did some investigation and gitui really should integrate with the git credential manager that stores creds securely on each platform. That's how the git vscode plugins work and how the git command line works. Prompting for password should be a last resort

[2020-10-16 21:41] extrawurst opened #350 "scrollbar in commit msg sometimes does not show"
![Screenflick Movie 85](https://user-images.githubusercontent.com/776816/96311130-16e83980-1009-11eb-96d2-b07e0bcc0135.gif)

see #308

[2020-10-16 21:57] alocquet commented on #344
In fact, retrieving credentials from git credential manager is very easy (3 lines of code).

Asking password is harder because we need to show a textinput when we are in git2 credential callback, ie in `asyncgit::sync::remotes::remote_callbacks`.

I don't know what is the best way to do this :
* check credentials before calling `asyncgit::push` to be able to ask password in PushComponent...
* rais

[2020-10-16 23:15] WizardOhio24 commented on #344
Surely the first option you mention is the best, if the repo is cloned by https(which you could get using the remote ref of the branch(i.e if it starts with https:// ...)), get the necessary credentials before, first by checking the credential manager and then if any are missing with textboxes, then push.

[2020-10-17 02:13] github-actions[bot] opened #351 "RUSTSEC-2020-0053: dirs is unmaintained, use dirs-next instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `dirs`                      |
| Version             | `3.0.1`                   |
| URL                 | [https://github.com/dirs-dev/dirs-rs](https://github.com/dirs-dev/dirs

[2020-10-17 14:40] WaylonWalker commented on #313
I created a sample repo, not sure if it helps, but you can clone it and play with it to get a better feel for how pre-commit hooks work.  I created a sample dialog below to possibly help paint a better picture of the workflow when pre-commit is installed.

As far as whats in the sample config.   `trailing-whitespace` is an autoformatter that automatically trims whitespace from the end of every lin

[2020-10-18 17:02] extrawurst opened #352 "linux fallback for copy-to-clipboard suing xsel"
thanks to @cruessler we now can use copy-to-clipboard on linux.

but if your linux does not have `xclip` installed we do not try any fallback like `xsel`. we should do that and then have an error msg listing which ones we try.

[2020-10-19 00:31] mdonoughe commented on #176
I cannot reproduce the crash. Instead of crashing, gitui just displays no unstaged files, even if there are unstaged files with short names.

As of the most recent code, even if you add the manifest to enable long filenames for gitui.exe, libgit2 checks if the path of the file it is trying to diff is longer than the old MAX_PATH constant before passing the path to the Win32 API. If the name is lon

[2020-10-19 11:37] Skymirrh commented on #176
Still reproducing on my end with v0.10.1, not sure what's the difference between your repo and mine.

[2020-10-19 11:54] extrawurst commented on #176
@mdonoughe I guess you build yourself from master, right?

[2020-10-19 21:15] extrawurst commented on #304
@edfloreshz do you mind looking into #353 to see if this allows you to push to the repo in question?

[2020-10-19 21:16] extrawurst commented on #344
@pm100 do you mind looking into #353 to see if this allows you to push to the repo you had problems with?

[2020-10-19 21:19] edfloreshz commented on #304
Sure! 👍🏻

[2020-10-19 21:21] extrawurst commented on #344
https://stackoverflow.com/a/36629277/2458533

[2020-10-20 22:59] carun opened #355 "Allow selection/unselection of hunks per file"
I'm always frustrated with the lack of ability to select/unselect hunks to staging. [git-crecord ](https://github.com/andrewshadura/git-crecord) is the best example for this.

I would like to be able to select/unselect hunks to commit/stage.

I switch to [git-crecord](https://github.com/andrewshadura/git-crecord) if I have to select or deselect hunks. This prevents me from using gitui as I usually

[2020-10-20 23:20] extrawurst commented on #355
That’s already possible. Hit enter when being focused on a hunk in the diff

[2020-10-20 23:25] #346 closed

[2020-10-20 23:56] carun commented on #355
That's good to know, let me try this.

[2020-10-21 00:09] carun opened #356 "Shortcut hints for Enter and few other keys missing from status line"
**Describe the bug**

On Windows, PuTTY SSH client, arrow of the `enter` key is not visible.

This screenshot is of the status line and was taken from the staging window .

![image](https://user-images.githubusercontent.com/471374/96656905-a9345a00-12f5-11eb-8ecb-dd8883b2bce7.png)

As seen, the shortcut keys are missing for `Unstage item` and `Next`.

**To Reproduce**

Steps to reproduce the behav

[2020-10-21 07:07] extrawurst commented on #355
I assume this is superseded by #356

[2020-10-21 07:07] #355 closed

[2020-10-21 21:26] pm100 commented on #356
making sure I understand. You are on a windows machine and use ssh to connect to a Ubuntu machine and run gitui on that remote ssh shell

[2020-10-21 22:24] carun commented on #356
That's correct.

[2020-10-22 00:35] pm100 commented on #356
Update: I can almost repro. In my case I dont get blanks I get the windows classic "I cant render that character" glyph

![image](https://user-images.githubusercontent.com/489231/96803890-5f657580-13c2-11eb-8056-41827aa79e29.png)

And I can repro with a one line c program too

![image](https://user-images.githubusercontent.com/489231/96803943-80c66180-13c2-11eb-8b46-e17bef690463.png)

that sequenc

[2020-10-22 01:34] pm100 commented on #356
OK I can give you a putty fix for this. Its actually a windows font tweak (I learned something new today )

Assume you are using Courier New font for putty. Open regedit (usual, dont mess it up warnings apply)

Go to HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\FontLink\SystemLink

add a new multi_string value called 'Courier New' and set it like this

![image](https://user-imag

[2020-10-22 06:35] extrawurst commented on #356
Wow @pm100 thanks for investigating this! @carun does this work for you?

[2020-10-22 17:14] pm100 commented on #356
not a lot of rust work tho :-(

[2020-10-22 18:00] extrawurst opened #358 "use delta for nicer diffs"
see https://github.com/dandavison/delta/issues/317

[2020-10-23 01:02] carun commented on #356
@pm100 thanks, this works mostly! I cannot figure out what "Next" does.

From PuTTY
![image](https://user-images.githubusercontent.com/471374/96944697-60fd6f00-1490-11eb-98a8-f579e5789d2c.png)

From Windows Terminal
![image](https://user-images.githubusercontent.com/471374/96944792-b33e9000-1490-11eb-92ce-0492f6d3d1ff.png)

[2020-10-23 02:15] pm100 commented on #356
I do not know what it does either, but the character required is the left arrow key I think. I will see if I can track down why that one glyph isnt working

[2020-10-23 03:08] pm100 commented on #226
been investigating this, for full support we need tui mods. I raised an issue with them but no response.

https://github.com/fdehau/tui-rs/issues/397

[2020-10-23 08:29] carun commented on #356
Great, thanks for the solutions. Learnt something about Windows in this thread. Appreciate it! I will mark this issue as resolved.

[2020-10-23 08:29] #356 closed

[2020-10-23 08:38] Horki commented on #301
@extrawurst reference #300 , "fixed in rust 1.47"; I'll close this

[2020-10-23 08:38] #301 closed

[2020-10-23 12:42] alocquet commented on #274
Hello.
My usage of force push is the one described by @WizardOhio24 : I force push when I rewrite my history.
I think we should use --force-with-lease option to avoid erasing the commits of another user.

[2020-10-23 20:47] #203 closed

[2020-10-23 23:34] pm100 commented on #164
I have created an installer for gitui using that toolkit. Works great

I have no idea how to integrate it into the github CI process. I will look see how nushell does it

[2020-10-24 13:33] #180 closed

[2020-10-24 15:10] mdonoughe commented on #176
Yeah I was using b21fad79c52462a5517dcf12b32384e8a12516f8 built locally.

[2020-10-24 21:50] extrawurst commented on #164
@pm100 thanks for tackling this. `cd.yml` only runs when we tag a new release. `ci.yml` runs on each commit you should be able to open a draft PR and the CI should run

[2020-10-24 23:56] extrawurst commented on #164
@pm100:

Maybe I should have been more clear: yes ultimately we need to adjust the CD but for the purpose of testing we use CI until we see it works correctly

[2020-10-25 09:50] #344 closed

[2020-10-25 09:57] extrawurst opened #361 "password obfuscation"
now that we have https://github.com/extrawurst/gitui/pull/353 done let's clean this up a bit.

most changes in how we use `TextInputComponent`:

1) let's give it a `password` option that will not show the actual password but just `*`
2) let's allow it to be smaller for the username/password popups (1 line and less width)

[2020-10-25 15:52] extrawurst opened #362 "branch local/upstream compare"
* visualise number of outgoing/incoming commits
* disable push command if nothing outgoing

[2020-10-25 15:56] extrawurst opened #363 "small branch window size crashes"
[code]

[2020-10-25 16:15] extrawurst commented on #362
<img width="640" alt="image" src="https://user-images.githubusercontent.com/776816/97112597-9f3f9c00-16e5-11eb-909b-09f3c1b09d5d.png">

[2020-10-25 16:32] extrawurst opened #365 "better 'current branch' visualisation"
since #362 we now show the outgoing/incoming commits relative to the current branch in a more spacious place in the `left_chunks` of the status tab.

it would be great to move the actual name of the current branch next to ity:
* this gives the branch name more room
* keeps it in focus
* allows us to cleanup the weird placement of it in the `ChangesComponent`

see `draw_branch_state` in *status.rs*

[2020-10-25 16:35] #362 closed

[2020-10-25 17:13] extrawurst opened #366 "remove config migration"
`dirs` is unmaintained (see #351). migrating to `dirs-next` is a good time to remove the old config migration code.

if your find yourself migrating from `0.8.x` please see: https://github.com/extrawurst/gitui/pull/126

[2020-10-25 17:28] #351 closed

[2020-10-25 17:28] #366 closed

[2020-10-25 22:09] extrawurst opened #368 "correct scrolling on branches list"
the branch list uses the *old* scrolling mechanism instead of only scrolling once you go beyond the height of the visible area.

see scrolling in diff/revlog for reference

[2020-10-25 22:47] extrawurst opened #370 "panic on small terminal when textinput for stash name is open"
[code]

[2020-10-25 22:48] #363 closed

[2020-10-26 00:08] extrawurst commented on #313
did you validate that regular shell based pre-commits are also not working on your setup? it looks like it is a `pip pre-commit` specific issue or maybe even windows specific 🤔

[2020-10-26 00:10] #256 closed

[2020-10-26 01:04] remique commented on #365
Hello. I am very new to both Rust and open source, but I have tried to solve this issue.

If I understood correctly, this is the expected outcome:
![Zrzut ekranu 2020-10-26 o 01 40 24](https://user-images.githubusercontent.com/44347542/97123455-3891a100-172c-11eb-9ce8-01c578f322f0.png)

My solution was to create a variable inside `draw_branch_state` function:
[code]
Reason being, I couldn't add `g

[2020-10-26 01:20] extrawurst commented on #365
hey @remique thanks for jumping on this. you can do the lookup in `update` of status.rs just like we had to do previously in `ChangesComponent` all the places in `status.rs` that previously referenced `self.index_wd.branch_name()` can the use the local `cached::BranchName` that indeed we need in `status.rs`. feel free to open a PR where we can easier collaborate over comments and specific code 👍

[2020-10-26 01:54] extrawurst commented on #164
Closed in https://github.com/extrawurst/gitui/pull/360

[2020-10-26 01:54] #164 closed

[2020-10-26 01:55] pm100 commented on #313
as far as can see there is no code to run pre-commit checks in gitui. Only commit-msg and post-commit

[2020-10-26 01:56] extrawurst commented on #313
Ok I was confusing pre with post commit hooks, indeed pre commit hooks are missing right now - sorry for the confusion

[2020-10-26 01:56] pm100 commented on #313
I can take this one if you like

[2020-10-26 15:21] #365 closed

[2020-10-26 16:22] alocquet commented on #361
I take this one :)

[2020-10-27 10:39] #361 closed

[2020-10-27 19:24] extrawurst commented on #247
@ciaranmooney is this still coming in at some point? maybe other might want to look into this particular issue until then so we can clear it for `0.11`

[2020-10-27 21:26] bew commented on #81
nop little bot, don't close that please! :smiley:

[2020-10-27 21:28] extrawurst commented on #81
@bew volunteering to take a go at it? :)

[2020-10-27 22:02] nils-a commented on #97
@extrawurst does your Reference of that issue means that "someone" will simply need to implement the mentioned workaround?

[2020-10-27 22:16] extrawurst commented on #97
@nils-a what do you mean? in fact someone is working on this issue

On Tue, Oct 27, 2020 at 11:03 PM Nils Andresen <notifications@github.com>
wrote:

[2020-10-27 22:23] nils-a commented on #97
Yes. I saw that after I commented. Hence the deletion of the comment. Sorry for that. 😇

[2020-10-27 22:35] extrawurst commented on #97
@nils-a But as you can see in the PR it is non trivial and could use some support, so if you want to chime in...
so to your initial question: I posted references for people to pick up. as usual in open source: when you want something done - do it :)

[2020-10-27 22:49] nils-a commented on #97
yes.. love to. Need to buy a book on rust first :-)

[2020-10-27 23:21] pm100 commented on #313
heads up: this is going to take a little longer than I expected (which I am fine with). The way gitui runs hooks does not work for the python scripts generated by pre-commit, tested on both windows and linux.

I looked to steal how vscode does it - they simply run git to do the heavy lifting - so thats a dead end :(

So now I have to see exactly what git is doing

[2020-10-27 23:50] extrawurst commented on #313
hm that's weird. since we simply run them in a bash it should automatically run python scripts accordingly, right?

[2020-10-27 23:51] extrawurst commented on #313
and also this means, adding *pre-commit* hook support is not the issue but supporting python based hooks is the issue? can we then split that off in two different issues?

[2020-10-27 23:58] pm100 commented on #313
thats no not she-bang things work. You hooks work becuase they are bash scripts. she-bang things are wired up differently
c

here is python script

[code]

here i run it from shell prompt directly

[code]
works nicely

here is what gitui does

[code]
still gets treats as shell script. I have found what git cli does on windows, I am looking into linux (I guess osx will be the same)

[2020-10-28 00:09] extrawurst commented on #313
how is a tool like `nushell` doing this then?

[2020-10-28 00:31] extrawurst commented on #313
@pm100 so I just did a little test and for me running python scripts using shebang works perfectly fine with the method we are using: https://github.com/extrawurst/shebangrust

[2020-10-28 00:40] pm100 commented on #313
i see and it works for me too, but the python from pre-commit fails as I showed. I will find out why. I changed gitui run code to what I think it should be and it works with the pre-commit scripts, but I want to understand the difference

And I think windows will be a different story too.

[2020-10-28 00:47] pm100 commented on #313
OK the subtle difference is that #! is interpreted by the kernel exec loader , its not done by the shell. In gitui you do 'bash <file>' this says to bash 'run these commands', the #! is just a comment

in your test you say bash -c <file> which says run this command, its not a builtin so its passed to the exec loader, that reads the #! and runs /bin/env python

[2020-10-28 00:48] bew commented on #81
That would have been a good idea, thanks for the offer, but not right now anyhow.
I'm in the _long_ process of re doing all my configs properly, and I still far from having a proper rust editor setup (I'd also need to learn writing rust, not just read, this project could help bootstrap the process for sure, but I'm not ready for now)

[2020-10-28 00:56] pm100 commented on #313
so here is precommit working on linux

The output is not very nice tho, compared to the mini report generated by git cli

![image](https://user-images.githubusercontent.com/489231/97377488-633f3f00-187d-11eb-8851-5aefffdb4378.png)

I will add a test. I also need to get windows going.

[2020-10-28 02:14] jarod opened #381 "View log/history of a file"
**Is your feature request related to a problem? Please describe.**
As what `gitk <filename>` do. You can view commit logs of the file specified. Then select one of the logs to view changes made to the file in that commit.

**Describe the solution you'd like**
not serious thoughts:
* on launch: `gitui <filename>`
* on any file list view add a [file log] command which go to log tab view logs filtere

[2020-10-28 08:00] ser-drephs opened #382 "Better explanation how to configure external editor"
I wish there was some kind of multi-line commit message support.

Inside the commit dialog it should be possible to create a line break using <kbd>CTRL+ENTER</kbd>.

It is possible to use any other external editor, but configuring it is also not documented in any way 😊

[2020-10-28 08:02] extrawurst commented on #382
@Ser-Drephs thats what the external editor support is for. What platform are you on? `vi` is usually available and used? Also if you try to open in external editor what error do you get? Cause it should tell you how it works

[2020-10-28 08:05] extrawurst commented on #313
I am not very concerned about the output formatting tbh
Thanks for looking into this

[2020-10-28 08:08] Ser-Drephs commented on #382
Thanks for the fast reply @extrawurst

I am using Windows. With Windows there is no `vi`. I installed `vim` using chocolatey. Also using the external editor I had to dig through the code to find out that I need to set the environment variable `GIT_EDITOR`.

[2020-10-28 08:10] extrawurst commented on #382
Again, what error message did you get before?

[2020-10-28 08:12] Ser-Drephs commented on #382
Sorry forgot that 😁

[code]

[2020-10-28 08:14] Ser-Drephs commented on #382
After installing `vim` ([Link](https://chocolatey.org/packages/vim)) and adding User Environment Variable `GIT_EDITOR` with path `C:\Tools\vim\vim82\vim.exe` the external editor launches.

[2020-10-28 08:15] extrawurst commented on #382
Ok then the issue is that this error should be more helpful. It should tell you what to do.

[2020-10-28 13:05] WaylonWalker commented on #313
You guys are awesome, this is looking great.

Looks like you have it covered.  As far as I know the python package just manages the install and setup of these.  I believe that there are some written in ruby and some in nodejs.

[2020-10-28 21:43] pm100 commented on #313
I think you should be concerned about the output, the 'standard' precommit tooling goes to a lot of trouble to have nice output

![image](https://user-images.githubusercontent.com/489231/97499212-bae7b400-192a-11eb-897f-edd02c149b74.png)

its a definite step back to loose that layout. I will clean it up - I have a plan for it. THe color is togher but at least maintain the layout.

[2020-10-28 21:44] pm100 commented on #313
As regards windows. I can make it work but its waaay more complex.

The way you have it at the moment only works by luck, most windows dev systems do not have bash installed, so even the simple bash of a shell script wont work. And it certainly wont work with non arbitrary scripts (python for example)

I have looked at how git does it (boy that was a tough exercise since it requires msys2 / mingw

[2020-10-28 22:31] extrawurst commented on #381
file history is a feature I definitely want to support down the line!

[2020-10-28 22:35] extrawurst commented on #274
@WizardOhio24 ok lets do `Shift+P`

[2020-10-28 22:45] extrawurst opened #385 "outgoing commits on untracked branch"
right now when I only create the branch locally and do not push it upstream it is **not** shown that there is stuff to be pushed:

<img width="321" alt="image" src="https://user-images.githubusercontent.com/776816/97504558-6585c400-1977-11eb-894f-5cfde7659685.png">

if we detect that the branch has no upstream we should show the number of commits that would potentially go up once we push upstream

[2020-10-28 22:55] remique commented on #319
I might be wrong, but wouldn't it be better to first implement an interface for merging and solving conflicts? And then reuse that interface when fast-forward pull is not possible?

[2020-10-28 23:00] extrawurst commented on #319
yeah I am at that point, I am reducing the scope of this to conflict free merging and otherwise will discard the merge with an error message. the whole merging/conflict story is post-0.11

[2020-10-28 23:12] pm100 commented on #313
I have code to make the msg popup dynamically size itself and to stop stripping the \n characters so that line breaks are preserved. I suspect that stripping was an unintended side effect of the conversion to spans

![image](https://user-images.githubusercontent.com/489231/97506316-e3c27600-1937-11eb-9881-4cdff9420b6a.png)

This improves all error message output IMHO. I can make this a separate PR

[2020-10-28 23:18] extrawurst commented on #313
cool stuff, but without seeing code it is hard to argue about - maybe open a PR first, then we can better reason about it. but I have the feeling this makes sense to be in a separate issue/PR

don't worry about that.

[2020-10-28 23:43] extrawurst commented on #313
@dr-BEat was the last hero to work on windows hooks (https://github.com/extrawurst/gitui/pull/236) maybe he can chime in aswell

[2020-10-29 01:41] remique commented on #350
After hours of research, I think I fixed it. It's late, so I will do a PR tommorow (in case someone is working on it).

[2020-10-29 19:59] denismaxim0v commented on #352
I'd like to have a try on this if it's still for takes

[2020-10-29 22:28] extrawurst commented on #352
@denismaxim0v absolutely - go for it :)

[2020-10-30 04:48] akshay1992kalbhor commented on #382
I would like to help with this one!
Aside from the error message is there anything else that needs to be changed?

[2020-10-30 08:06] extrawurst commented on #382
@akshay1992kalbhor no I think the error msg is the important part here

[2020-10-30 18:11] akshay1992kalbhor commented on #382
Ok I have a few questions which might or might not be stupid.
1. I am assuming the error message should mention just the 'GIT_EDITOR' environment variable and not the other ones. Or should it?
2. How much info should the message have? Should it include the commands to add environment variables on all the platforms? ( I am be overthinking this one)

[2020-10-30 18:34] Ser-Drephs commented on #382
From a user perspective:

1. It should have both. The error message and informing the user about the environment variable `GIT_EDITOR`.
1. Using a tool like this I would assume that the user knows how to add an environment variable 😉

[2020-10-30 19:51] ciaranmooney commented on #247
I am afraid I will have to concede defeat to this issue and allow others to take a crack at it.

[2020-10-30 23:57] pm100 commented on #247
can you explain what the bug is, I dont see it

[2020-10-31 01:09] extrawurst commented on #247
On the screenshots you can see that the underscore indicating the cursor position disappears when under a space at the end of a line

[2020-10-31 01:15] pm100 commented on #247
how did you get that new line in there?

And I have no cursor when typing only when backtracking (left / right arrow), is that right?

[2020-10-31 01:17] extrawurst commented on #247
You can use the external editor to get linebreaks in there. If you do not see the underscore I see the bug :)

[2020-10-31 11:26] #149 closed

[2020-10-31 11:32] #350 closed

[2020-10-31 11:44] #368 closed

[2020-10-31 12:00] extrawurst opened #392 "scrollbar in branchlist"
now that #368 landed it would be nice to have our Scrollbar in the branchlist aswell once It has enough entries

[2020-10-31 16:56] pm100 commented on #247
got it, let me tackle this - i suspect its a tui issue

[2020-10-31 18:59] pm100 opened #393 "gitui crashes when trying to run hooks on a vanilla windows machine"
If installed on a clean windows install any attempt to run a hook crashes

this is the crash after trying to run 'c' (commit) with pre-commit hooks defined

![image](https://user-images.githubusercontent.com/489231/97787494-d099eb00-1b6f-11eb-8ba3-5519462aed00.png)

this is because there is no bash on a clean windows system.

[2020-10-31 19:00] pm100 opened #394 "msi installer fails on clean windows install"
The msi installer binary does not install vcruntime140.dll so app wont start

Download of the vc redist and install fixes it but really the msi should do this

[2020-10-31 19:15] akshay1992kalbhor commented on #382
I am thinking of something simple, something like this: "Could not open the external editor. Make sure you have set the environment variable GIT_EDITOR." A simple google search can let the user know what it is and how to set it. Any suggestions will be appreciated.

[2020-10-31 22:25] pm100 commented on #247
as i suspected this is a tui bug, I have filed a bug with them and a solution

https://github.com/fdehau/tui-rs/issues/404

when they fix it the trailing " " character needs to be a trailing NBSP character

`const NBSP: &str = "\u{00a0}";`

there is a simple work round for gitui, which is to use a '_' character instead of a space at the end of the line while editing. This looks slightly odd becaus

[2020-11-01 00:22] #352 closed

[2020-11-01 00:32] extrawurst commented on #394
could you look into this? can we do this using `cargo wix`?

[2020-11-01 00:36] pm100 commented on #394
Yes, I am working on it - I posted a feature / bug request to the cargo-wix team. Its really a generic issue. I filed a bug here just so it didnt get lost.

I set up a clean new windows system to see what would happen in various scenarios, hence this one and the hooks one. I was kind of intended to use the hooks one to do a deep fix of windows hooks, but fixing the panic is a good idea of course.

[2020-11-01 00:36] extrawurst opened #397 "support wayland copy to clipboard"
according to @1wilkens in #390 our current copy to clipboard binaries may not cover wayland (correct me if I am wrong).

maybe we can use this opportunity to cleanup the support for multiple fallback programs for running copy to clipboard:
* use `which` on all platforms
* have a list of platforms specific programs
* try them all before erroring out

[2020-11-01 00:37] pm100 commented on #394
for the wix issue right now you can simply have a release note that syas you must install

https://aka.ms/vs/16/release/vc_redist.x64.exe

or

https://aka.ms/vs/16/release/vc_redist.x86.exe

[2020-11-01 00:37] extrawurst commented on #394
@pm100 cool. can you link the issue we are depending on?

[2020-11-01 00:38] pm100 commented on #394
https://github.com/volks73/cargo-wix/issues/114

[2020-11-01 07:03] cruessler commented on #385
@extrawurst I’ll have a look!

[2020-11-01 11:47] #393 closed

[2020-11-01 12:13] 1wilkens commented on #397
While we can certainly do that, we could also use a rust library to handle the clipboard. There are several choices, but [copypasta](https://crates.io/crates/copypasta) seems to be the most up-to-date one. I can understand if you don't want to add a (potentially) heavy dependency, however we already included `which` just for clipboard support, so I would actually use the abstraction from a proper

[2020-11-01 12:35] extrawurst commented on #397
@1wilkens good thinking, but we have been there and tried that and reverted it because of dynamic dependencies that these libraries introduce: https://github.com/extrawurst/gitui/pull/261

`which` only needs `libc` and can still compile to a static binary

[2020-11-01 12:50] 1wilkens commented on #397
My bad, I should have looked maybe ;) In this case, the proposed solution seems good. I'll try to address the wayland part in a PR soon :)

[2020-11-03 12:54] extrawurst opened #401 "push gauge background is not default but explicit black"
this should be fixed to not break with customised terminal color schemes

[2020-11-03 12:55] extrawurst commented on #401
<img width="341" alt="image" src="https://user-images.githubusercontent.com/776816/97987803-31c5f680-1ddc-11eb-8797-ba1e99075661.png">

[2020-11-04 19:12] WizardOhio24 commented on #222
With this, I'm wondering if a full roll-back feature might be good?  I'm thinking that then you could roll-back to any commit, not just the first one as with amend(much like how the reword PR #312 works on the first commit and every other and so can replace amend -m which only works on the first).  So this would need to checkout a certain commit, the user could make their changes, then once commit

[2020-11-05 14:33] akshay1992kalbhor commented on #382
Can someone checkout the pull request?

[2020-11-06 22:31] pm100 opened #405 "multiline display in textinput is broken"
Following recent tui upgrade newlines in a text block are lost so a multi line commit comment (as an example) is displayed all on one line

ctrl+e into external editor

![image](https://user-images.githubusercontent.com/489231/98420728-a26b4e00-203c-11eb-9fa5-3dca51111b5d.png)
::x

return back to gitui

![image](https://user-images.githubusercontent.com/489231/98420797-cd55a200-203c-11eb-98d1-4aca

[2020-11-06 22:32] pm100 commented on #405
I will fix this so that it displays 2 lines.

[2020-11-07 11:04] WizardOhio24 opened #409 "Use cache in Github Action for build process(CI/CD)"
**Is your feature request related to a problem? Please describe.**
Github actions build(CI/CD).  When building, the build can take a long time because it has to install Rust itself, all the dependencies and build all of them, from scratch, even if nothing has changed, it would be much faster if these were cached so it only downloads crates which have been updated/changed.

**Describe the solution

[2020-11-07 20:39] #409 closed

[2020-11-07 21:43] extrawurst commented on #394
@pm100 where are we on this?

[2020-11-07 21:51] pm100 commented on #394
@extrawurst cargo-wix wont make any change so we have 3 choices
 - leave it as a release note
 - change the build for the MSI binary to be static linked (so take out the no-build flag)
 - change the wix setup in gitui build to include vcruntime

I have tested the second option and it works fine. The package size increases from 2mb to 7mb, but then that would also happen in we did the third choice

[2020-11-07 21:55] extrawurst commented on #394
I think option 3 is the least intrusive, lets add the wix config file to the repo and bundle up the runtime with the installer. maybe you can find another project to find inspiration how they do it. we can't be the only one doing this.

[2020-11-07 22:02] pm100 commented on #394
OK, I already looked around a lot, msft recently changed how they package the runtime so a lot of suggestions no longer work. And the team that did cargo-wix didnt even realize this was an issue :-)

I will make it go but it will take a while.

[2020-11-09 05:50] pm100 opened #414 "core.editor is ignored"
git goes through the following sequence to find the external editor
 - GIT_EDITOR
 - core.editor
 - VISUAL
 - EDITOR
 - "vi"

Currently gitui does not look at core.editor. vscode sets this value when you install the git extension for it so this is a very common situation. I expect other cases set it too.

During investigating this I found 2 other issues
 - gitui calls config.get_str - this always

[2020-11-10 23:36] pm100 commented on #393
finally got round to testing on clean windows system

I assume this is what you expected

![image](https://user-images.githubusercontent.com/489231/98746525-82080000-236a-11eb-9f17-92c6476b7fb4.png)

[2020-11-11 00:36] WizardOhio24 opened #418 "Use left arrow to exit commit details and return to commit log"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I press the right key to see the details of a commit in the commit log then press left and I can't get out of it, instead I have press esc.  Surely when you access the details using the right key you should be able to leave them with the left.

**Describe the solution you'd like**
When you press the left

[2020-11-12 01:37] jellybobbin opened #420 "Unexpected exit"
#Unexpected exit during use

#step:  gitui ->   2   ->   Enter  ->  2

[code]

[2020-11-12 08:48] extrawurst commented on #420
@jellybobbin hi thanks for your interest in gitui. Please update to the most recent version of gitui `0.10.1` - I think this panic was fixed already. Be sure to switch to the homebrew core tap to stay up to date easily.

[2020-11-12 14:39] #392 closed

[2020-11-12 23:39] WizardOhio24 commented on #401
Not sure this is an easy first issue, was looking at it a bit and it looks like you need to get the background color of the terminal theme, which in TUI is given by Reset, but Reset also makes the text invisible.  I'm not sure how you're supposed to get the background color of the terminal without accessing the terminal's config.  Am I missing something obvious?

[2020-11-17 12:59] WizardOhio24 opened #429 "Search commits for message or author"
**Is your feature request related to a problem? Please describe.**
It would be good to be able to search the commit list for words in the commit message, or in the author name(i.e filter by author).  For example, if you wanted to go back several hundred commits to find what a commit did, or a previous implementation, and you knew what the commit message contains, it would be good to just search fo

[2020-11-19 23:07] #232 closed

[2020-11-22 02:48] lecheel opened #432 "gitui without untracked files in Status tab"
**Is your feature request related to a problem? Please describe.**
it's alloy see all untracked file in git directory

**Describe the solution you'd like**
gitui Status tab only show Modify file n Unstaged Changes [w]

**Additional context**
just like default tig output

[2020-11-22 02:51] lecheel commented on #432
seem those feature in [log 2] tab

[2020-11-22 02:51] #432 closed

[2020-11-30 08:52] maple-leaf commented on #242
Refresh this ticket.

[2020-11-30 16:22] non-descriptive commented on #317
looks like [XDG](https://stackoverflow.com/questions/3373948/equivalents-of-xdg-config-home-and-xdg-data-home-on-mac-os-x) directories are conventional just among devs, otherwise it should fallback to recommended [apple fs guide](https://developer.apple.com/library/archive/documentation/FileManagement/Conceptual/FileSystemProgrammingGuide/FileSystemOverview/FileSystemOverview.html#//apple_ref/doc/

[2020-12-03 02:13] github-actions[bot] opened #435 "RUSTSEC-2020-0077: memmap is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `memmap`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/danburkert/memmap-rs/issues/90](https://github.c

[2020-12-03 23:15] #248 closed

[2020-12-04 00:37] nerdrew opened #436 "Is it possible to resize the panes (e.g. the file tree when looking at a specific commit)?"
**Is your feature request related to a problem? Please describe.**
(note: I use a large monitor.) When looking at a single commit there is a lot of space used for the commit message, which is usually no more than a couple (to a handful of lines) and then the potentially large file list is crammed into the bottom 40% of the split.

**Describe the solution you'd like**
Can we either a) make the spli

[2020-12-07 08:30] andgeno opened #440 "Add support for MSYS2 / Git for Windows environment"
**Is your feature request related to a problem? Please describe.**
I tried to run the Windows executable in a Git for Windows MINGW64 terminal session. The program starts up but seems to just freeze instantly. Only way out is Ctrl-C, no other input is registered or works. I then ran the same executable in a Windows cmd terminal session and that worked fine but feels very inconvenient to me since m

[2020-12-07 23:19] extrawurst commented on #414
@pm100 how much of this is fixed via #419 ?

[2020-12-07 23:21] #112 closed

[2020-12-07 23:44] pm100 commented on #414
all of it. Except the referenced call to get user.name and user.email (fix for bug to do withuser.name not set )  i didnt want to roll to much into on PR. There is another PR that really isnt needed either, was created by back and forht over this one but it is resvolved here https://github.com/extrawurst/gitui/pull/426

[2020-12-07 23:46] extrawurst commented on #414
Cool thanks for that, will work my way through the PRs over the next days. I finally want to release push - call defeat on pull for now. it is just too complex right now and the unreleased version grows out of proportion

[2020-12-07 23:46] #414 closed

[2020-12-08 00:41] extrawurst commented on #436
Hi @nerdrew thanks for your interest in gitui. I see your point. allowing to configure or even dynamically resize panes is a bigger hassle but I think I have an idea for this. the message pane should have a max height while it is not focused which you can do in the commit-view (upper screenshot). let me give this a try.

[2020-12-08 00:42] #401 closed